img.calendar-icon,img.calendar-icon+small {
    display:none;
}

.unvisibl-xs {
    z-index: 1;
    opacity:0;
}

.btn.btn-secondary span {
    z-index: 1;
    position: absolute;
}

div.button-container.active {
    z-index: 1;
    position: relative;
    height: 50px;
}
div.button-container.active .btn-primary {
    z-index: 1;
    position: absolute;
}

.imagesInputMobile {
    position:absolute;
    width:100%;
    height: 50px;
}

.copy-phone-field {
    display:none;
}

/* стили для webkit */
input.error::-webkit-input-placeholder { color:red; }

/* стили для mozilla */
input.error:-moz-placeholder { color:red; }
