h1, h2, h3, h4,
h5, h6, span, a, p {
  font: {
    //family: $main-font-family;
  };
  //color: $main-color-4;
  line-height: 1.2;
  margin: 0;
}
h1, h2, h3 {
  font-family: $title-font-family;
  font-weight: 600;
}
h4, h5, h6, span, a, p {
  font-weight: 400;
  font-family: $main-font-family;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 35px;
  text-align: center;
  margin: 0 0 35px;
  letter-spacing: 0.3px;

  @media all and (max-width: 767px) {
    font-size: 28px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 2.3rem;
}
span, a, p {
  font-size: 1.6rem;
}
a {
  font: {
    size: 14px;
  };
  @include ak-transition();

  &.border-link {
    position: relative;
    font-weight: bold;
    //color: $main-color-13;
    text-decoration: none;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      //background-color: $main-color-9;
      position: absolute;
      left: 0;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      @include ak-transition();
    }

    &:hover {
      //color: $main-color-9;
      text-decoration: none;

      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:focus {

  }
}
