.advantages-list {
  display: flex;
  align-items: flex-start;

  @media all and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;

    @media all and (max-width: 767px) {
      width: 100%;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .icon-container {
      display: flex;
      width: 66px;
      height: 66px;
      background: {
        image: url($images-path + 'check-img.png');
        position: center;
        repeat: no-repeat;
        size: contain;
      };
      border-radius: 50%;
      margin-bottom: 25px;
    }

    p {
      font: {
        size: 18px;
      };
      color: $main-color-8;
      text-align: center;
      line-height: 1.4;
    }
  }
}