.badge {
  display: flex;
  font: {
    family: $main-font-family;
    size: 14px;
    weight: 700;
  };
  padding: 7px 14px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.badge-danger {
    background-color: $main-color-5;
    color: $main-color-1;
  }
  &.badge-success {
    background-color: $main-color-11;
    color: $main-color-1;
  }
  &.text-uppercase {
    text-transform: uppercase;
  }
}