.breadcrumbs {
  margin: 28px 0 45px;
  padding: 0;
  list-style-type: none;
  display: flex;

  @media all and (max-width: 767px) {
    display: none;
  }

  li {
    display: flex;
    align-items: center;

    a, span {
      font: {
        family: $main-font-family;
        size: 14px;
      };
    }

    span {
      color: $main-color-6;
    }
    a {
      position: relative;
      color: $main-color-10;
      text-decoration: none;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: $main-color-10;
        opacity: 0;
        visibility: hidden;
        @include ak-transition();
      }

      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:after {
      display: inline-block;
      content: '—';
      margin: 0 10px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}