.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  text-decoration: none;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  @include ak-transition();

  &:not(:disabled) {
    cursor: pointer;
  }

  span {
    font: {
      family: $main-font-family;
      weight: 700;
      size: 16px;
    };
    text-transform: uppercase;
    text-indent: 0;
    @include ak-transition();
  }
  svg {
    max-width: 30px;
    max-height: 30px;
    @include ak-transition();
  }

  &.btn-primary {
    background-color: $main-color-5;

    &:hover {
      background-color: darken($main-color-5, 10);

      span {
        text-indent: -20px;
      }
      svg {
        opacity: 1;
        visibility: visible;
      }
    }

    span {
      color: $main-color-1;
    }

    svg {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;

      path {
        fill: $main-color-1;
      }
    }
  }
  &.btn-secondary {
    width: 295px;
    border: 2px solid $main-color-5;

    svg {
      margin-right: 10px;

      path {
        fill: $main-color-5;
        @include ak-transition();
      }
    }
    span {
      font: {
        weight: 700;
        size: 14px;
      };
      color: #24282d;
    }

    &:hover {
      background-color: $main-color-5;

      svg {
        path {
          fill: $main-color-1;
        }
      }
      span {
        color: $main-color-1;
      }
    }
  }
  &.btn-sm {
    width: 178px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
  }
  &:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
}
.main-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

  .text {
    font: {
      //family: $primary-font-family;
      //weight: $main-font-weigth-b;
      size: 1.4rem;
    };
    color: $main-color-1;
    text-transform: uppercase;
    @include ak-transition();
  }
  .bar-icon {
    display: block;
    position: relative;
    width: 27px;
    height: 27px;

    .bar-line {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      opacity: 1;
      visibility: visible;
      background-color: $main-color-3;
      border-radius: 1.5px;
      @include ak-transition();

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .text {
      //color: $main-color-3;
    }
    .bar-icon {
      .bar-line {
        background-color: $main-color-3;
      }
    }
  }
  &.open {
    .bar-icon {
      .bar-line {
        background-color: $main-color-5;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg) translateY(-50%);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          top: 50%;
          margin: 0 0 0 2px;
          transform: rotate(-45deg) translateY(-50%);
        }
      }
    }
  }
}
