.card-specs {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      font: {
        size: 14px;
      };
      color: $main-color-8;

      &.value {
        font-weight: 700;
      }
    }
  }
}