.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;

  @media all and (max-width: 575px) {
    margin: 0 -10px 40px;
    align-items: flex-start;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 0 30px;

    @media all and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
    }

    @media all and (max-width: 575px) {
      margin: 0 10px;
    }

    span, a {
      font: {
        size: 16px;
      };
      color: $main-color-1;

      @media all and (max-width: 767px) {
        order: 2;
      }

      @media all and (max-width: 575px) {
        text-align: center;
      }
    }
    span {
      font-weight: 400;
    }
    a {
      position: relative;
      display: inline-block;
      font-weight: 600;
      text-decoration: none;
      @include ak-transition();

      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $main-color-1;
        opacity: 0;
        visibility: hidden;
        @include ak-transition();
      }

      &:hover {
        color: $main-color-5;

        &:before {
          visibility: visible;
          opacity: 1;
          background-color: $main-color-5;
        }
      }
    }
    svg {
      margin: 0 10px;

      @media all and (max-width: 767px) {
        flex: none;
        height: 22px;
        margin-bottom: 20px;
        order: 1;
      }
    }
  }
}