.dropdown {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding: 0;
  margin-top: -40px;
  visibility: hidden;
  opacity: 0;
  z-index: 12;
  background-color: #ebebeb;
  @include ak-transition();

  @media all and (max-width: 767px) {
    width: 100vw;
  }

  &:before {
    width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    border: {
      width: 20px;
      style: solid;
      left-color: transparent;
      top-color: transparent;
      right-color: transparent;
      bottom-color: #ebebeb;
    };
  }

  .dropdown-menu {
    width: 320px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media all and (max-width: 767px) {
      width: 100%;
    }

    li {
      a {
        display: inline-block;
        width: 100%;
        padding: 15px 20px;
        font: {
          family: $main-font-family;
          size: 16px;
        };
        color: $main-color-4;
        text-decoration: none;

        &:hover {
          background-color: $main-color-5;
          color: $main-color-1;
        }
      }
    }
  }
  .dropdown-body {
    padding: 45px 65px 65px;
    width: 500px;

    @media all and (max-width: 767px) {
      padding: 30px 35px;
    }

    h4 {
      font: {
        family: $title-font-family-rg;
        size: 32px;
      };
      text-align: center;
      margin-bottom: 5px;

      @media all and (max-width: 575px) {
        font-size: 24px;
      }
    }
  }

  &.left {
    left: 0;

    &:before {
      left: 18px;
    }
  }
  &.right {
    right: 0;

    &:before {
      right: 18px;
    }
  }
  &.open {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }
}