.form {

  .form-group-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }

    .form-group {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% / 2 - 30px / 2);
      border-bottom: 1px solid #afb5bd;
      padding: 30px 0 12px;

      @media all and (max-width: 767px) {
        &:not(.tablet-half) {
          width: 100%;
        }
      }

      @media all and (max-width: 575px) {
        width: 100%;
      }

      &.tablet-half {
        width: calc(100% / 2 - 30px / 2);

        @media all and (max-width: 575px) {
          width: 100%;
        }
      }

      &.full-width {
        width: 100%;
      }

      &.select-group {
        padding: 20px 0 2px;
      }

      label {
        margin-bottom: 0;
        margin-right: 7px;
        font: {
          family: $main-font-family;
          size: 20px;
        };
        color: #1a1f28;
        order: 1;
      }
      .form-control, .select2-container {
        flex: 1 1 auto;
        font: {
          family: $main-font-family;
          size: 20px;
        };
        color: #1a1f28;
        background-color: transparent;
        border: none;
        outline: none;
        order: 2;
      }

      input.form-control {
        & + label {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @include ak-transition();
        }
        &:focus + label, &:valid + label {
          font-size: 12px;
          margin-top: -15px;
        }
      }
    }

    &.type-2 {
      justify-content: flex-start;
      margin: 30px 0;

      .styled-checkbox {
        margin-right: 165px;

        @media all and (max-width: 767px) {
          margin-right: 0;
        }
      }
    }
    &.type-3 {
      .form-group {
        width: calc(100% / 3 - 45px / 3);

        @media all and (max-width: 767px) {
          width: calc(50% - 30px / 2);
        }
        @media all and (max-width: 575px) {
          width: 100%;
        }
      }
    }
    &.type-4 {
      align-items: stretch;

      .form-group {
        width: 50%;

        @media all and (max-width: 575px) {
          width: 100%;
        }
      }
      .styled-checkbox {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #afb5bd;
        order: 2;

        @media all and (max-width: 575px) {
          width: 100%;
          margin: 15px 0 0;
          border-bottom: none;
          justify-content: flex-start;
        }
      }

      .form-group {
        @media all and (max-width: 575px) {
          flex-wrap: wrap;
        }

        & > label {
          @media all and (max-width: 575px) {
            width: 100%;
          }
        }
      }
    }
  }
  .form-map {
    margin: 40px 0 20px;
    background-color: $main-color-4;

    @media all and (max-width: 767px) {
      margin: 0 0 20px;
    }

    .location-map {
      height: 300px;
    }
  }
  .form-group-container {
    border-bottom: 1px solid #afb5bd;
    padding: 25px 0;
    margin-bottom: 40px;

    @media all and (max-width: 575px) {
      padding: 10px;
      margin-bottom: 15px;
    }

    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .form-control {
      background-color: transparent;
      border: none;
      font: {
        family: $title-font-family-rg;
        size: 37px;
      };
      color: #afb5bd;
      text-align: center;
      outline: none;

      &::placeholder {
        color: #afb5bd;
      }

      &.phone-control {
        width: 315px;
        
        @media all and (max-width: 575px) {
          width: 200px;
        }
      }

      @media all and (max-width: 575px) {
        font-size: 20px;
      }
    }

    &.phone {
      .form-group {
        svg {
          width: 27px;
          height: 43px;
        }
      }
    }
  }
  .button-container {
    width: 100%;

    .btn {
      width: 100%;
    }

    &.type-2 {
      margin-top: 40px;

      .btn {
        height: 60px;

        svg {
          max-width: none;
        }
      }
    }
  }

  &.form-add-vehicle {

    @media all and (max-width: 767px) {
      padding: 20px 0 0;
    }

    .vehicle-type-container {

      h4 {
        @media all and (max-width: 767px) {
          display: none;
        }
      }

      .vehicle-type-select {
        display: none;
        background-color: $main-color-1;
        padding: 20px 25px;

        @media all and (max-width: 767px) {
          display: block;
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          background-color: $main-color-1;
          z-index: 3;
        }
      }
    }
    .characteristics-container {
      @media all and (max-width: 767px) {
        background-color: #242a34;
      }

      h4 {
        @media all and (max-width: 767px) {
          padding: 25px 10px;
          background-color: #1a1f28;
          color: $main-color-1;
          margin-bottom: 0;
        }
      }

      .form-block {
        @media all and (max-width: 767px) {
          padding: 20px;
        }
      }
      .form-group {

        label {
          @media all and (max-width: 767px) {
            color: $main-color-1;
          }
        }

        .form-control {
          @media all and (max-width: 767px) {
            color: $main-color-1;
          }
        }
      }
      .select2-container {
        .select2-selection__rendered {
          @media all and (max-width: 767px) {
            color: $main-color-1;
          }
        }

        &--open {
          .select2-selection__rendered {
            @media all and (max-width: 767px) {
              color: $main-color-4;
            }
          }
        }
      }
    }

    .map-container {
      display: none;
      flex: 1 1 100%;
      margin: 0 -20px;
      width: auto;

      @media all and (max-width: 767px) {
        display: block;
      }

      .map {
        height: 400px;
      }
    }

    .button-container {
      width: auto;
      margin: 0 -20px;

      @media all and (max-width: 1199px) {
        margin: 0;
      }
      @media all and (max-width: 767px) {
        margin: 0;
      }
    }
  }
  &.profile-form {

    .form-group {
      position: relative;
      margin-bottom: 10px;

      @media all and (max-width: 767px) {
        margin-bottom: 0;

        &:not(:last-child) {
          border-bottom: 1px solid #dbdbdb;
        }
      }

      .form-control {
        width: 100%;
        height: 96px;
        display: flex;
        align-items: center;
        font: {
          family: $main-font-family;
          size: 25px;
        };
        color: $main-color-8;
        border: none;
        padding: 10px 80px 10px 50px;
        outline: none;

        @media all and (max-width: 767px) {
          font-size: 22px;
          padding: 10px 60px 10px 30px;
        }

        @media all and (max-width: 575px) {
          font-size: 18px;
        }

        &::placeholder {
          color: $main-color-8;
        }
      }
      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
      }
    }
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 55px;

      @media all and (max-width: 767px) {
        margin-top: 0;
      }

      .btn {
        width: 360px;
        height: 64px;

        @media all and (max-width: 767px) {
          width: 100%;
        }

        span {
          font-size: 23px;
        }
      }
    }
  }
  &.search-form {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0;
    }

    & > div {
      @media all and (max-width: 767px) {
        order: 2;
      }
    }

    .form-map {
      @media all and (max-width: 767px) {
        margin: 0 -15px;
        order: 1;
      }
    }
    .form-group-row {
      &.type-4 {
        flex-wrap: wrap;
      }
    }

    .button-container {
      @media all and (max-width: 767px) {
        width: auto;
        margin: {
          left: -15px;
          right: -15px;
        };
      }
    }
  }
}