.how-it-works-list {
  display: flex;
  align-items: flex-start;

  @media all and (max-width: 991px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    position: relative;
    flex: 1 1 auto;

    @media all and (min-width: 992px) {
      &:nth-child(1) {
        width: 236px;
      }
      &:nth-child(2) {
        width: 285px;
      }
      &:nth-child(3) {
        width: 258px;
      }
      &:nth-child(4) {
        width: 230px;
      }
      &:nth-child(5) {
        width: 131px;
      }
    }

    @media all and (max-width: 991px) {
      width: calc(100% / 3);
      flex: none;
      margin-bottom: 20px;
    }

    @media all and (max-width: 767px) {
      display: flex;
      width: calc(100%);
      padding: 0 20px;
    }

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border: 2px solid $main-color-5;
      border-radius: 50%;
      font: {
        family: $main-font-family;
        size: 24px;
        weight: 600;
      };
      color: $main-color-1;
      line-height: 1;
      margin-bottom: 23px;

      @media all and (max-width: 767px) {
        flex: none;
        margin-right: 20px;
      }
    }
    .dots-line {
      position: absolute;
      left: 50%;
      top: 0;
      display: flex;
      width: 136px;
      height: 2px;
      justify-content: space-between;
      margin: 29px 0 29px -40px;

      @media all and (max-width: 767px) {
        display: none;
      }

      .dot {
        width: 2px;
        height: 2px;
        background-color: $main-color-5;
        transform: scale(1);
        @include ak-transition(all, 0.5s, 0s);

        &.big {
          transform: scale(4);
        }
      }
    }

    p {
      font: {
        size: 16px;
      };
      color: $main-color-1;
      padding-right: 60px;
      line-height: 1.4;

      @media all and (max-width: 767px) {
        padding-right: 0;
      }
    }
  }
}