.images-counter {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: $main-color-1;
  border-radius: 5px;
  padding: 10px 14px;
  z-index: 6;

  @media all and (max-width: 767px) {
    display: flex;
  }

  svg {
    max-width: 100%;
    margin-right: 10px;

    path {
      fill: $main-color-5;
    }
  }
  .value {
    font: {
      family: $main-font-family;
      weight: bold;
      size: 30px;
    };
    color: $main-color-6;
  }
}