.lazyload-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  @media all and (max-width: 767px) {
    background-color: $main-color-1;
    padding: 10px 0;
  }

  .lazyload-link {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    svg {
      path {
        fill: #cdced0;
        @include ak-transition();
      }
    }

    &:hover {
      svg {
        path {
          fill: darken(#cdced0, 10);
        }
      }
    }
  }
}