.menu-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  z-index: 2;

  .item {
    position: relative;
    display: flex;
    border-left: 1px solid $main-color-2;
    background-color: $main-color-1;

    @media all and (max-width: 767px) {
      border-left: none;
      order: 3;
    }

    &.tablet-order-1 {
      @media all and (max-width: 767px) {
        order: 1;
      }
    }
    &.brand-container {
      padding: 0;
      border-left: none;
      margin-right: auto;

      @media all and (max-width: 767px) {
        order: 2;
        margin: auto;
      }
    }
    &.hidden-tablet {
      @media all and (max-width: 991px) {
        display: none;
      }
    }
    &.hidden-mobile {
      @media all and (max-width: 765px) {
        display: none;
      }
    }
    &.open {
      a {
        svg {
          path {
            fill: $main-color-5;
          }
        }
      }
    }

    & > a {
      display: flex;
      min-height: 80px;
      align-items: center;
      justify-content: center;
      padding: 10px 25px;
      text-decoration: none;
      position: relative;
      z-index: 14;

      .text {
        display: inline-flex;
        margin-left: 20px;
        font: {
          family: $main-font-family;
          weight: 600;
          size: 16px;
        };
        color: $main-color-4;
        text-transform: uppercase;

        @media all and (max-width: 767px) {
          margin-left: 10px;
          font-size: 15px;
        }

        @media all and (max-width: 575px) {
          font-size: 12px;
        }
      }

      svg {
        flex: none;

        path {
          fill: $main-color-3;
        }
      }

      &.red {
        background-color: $main-color-5;

        .text {
          color: $main-color-1;
        }

        svg {
          path {
            fill: $main-color-1;
          }
        }
      }
    }
  }
}