.owl-carousel {

  &.our-vechicles-carousel {
    .item {

      @media all and (max-width: 991px) {
        max-width: 600px;
        padding: 0 50px;
        margin: 0 auto;
      }

      .container {
        position: relative;

        @media all and (max-width: 1199px) {
          display: flex;
        }
        @media all and (max-width: 991px) {
          flex-direction: column;
        }
      }
      .inner {
        position: relative;
        max-width: 350px;
        min-height: 700px;
        padding: 125px 0 130px;
        z-index: 3;

        @media all and (max-width: 991px) {
          max-width: none;
          min-height: auto;
          padding: 40px 0 40px;
          display: flex;
          flex-direction: column;
          order: 2;
        }

        @media all and (max-width: 767px) {
          padding: 0;
        }

        h3 {
          font: {
            family: $title-font-family;
            size: 54px;
            weight: 100;
          };
          color: $main-color-6;
          line-height: 1.12;
          margin-bottom: 20px;

          @media all and (max-width: 991px) {
            font: {
              family: $title-font-family-black;
              size: 54px;
              weight: 900;
            };
            text-transform: uppercase;
            text-align: center;
          }

          @media all and (max-width: 767px) {
            font-size: 24px;
          }
        }
        p {
          font: {
            family: $main-font-family;
            size: 16px;
          };
          color: $main-color-6;
          line-height: 1.65;
          padding-right: 60px;
          margin-bottom: 40px;

          @media all and (max-width: 991px) {
            text-align: center;
            padding-right: 0;
          }

          @media all and (max-width: 767px) {
            display: none;
          }
        }
      }
    }
    .item-image {
      width: 928px;
      height: 698px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(65px, 0);

      @media all and (max-width: 1199px) {
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        transform: translate(0, 0);
      }

      @media all and (max-width: 991px) {
        height: auto;
        order: 1;
        display: block;
        margin: 0 auto;
      }

      img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .counter {

      @media all and (max-width: 991px) {
        order: 1;
        text-align: center;
        margin-bottom: 30px;
      }

      a, span {
        display: inline-block;
        font: {
          family: $main-font-family;
          size: 16px;
        };
      }
      a {
        position: relative;
        color: $main-color-5;
        font-weight: 600;
        text-decoration: none;

        &:before {
          width: 100%;
          height: 1px;
          background-color: $main-color-5;
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
          @include ak-transition();
        }

        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      span {
        color: $main-color-6;
        margin-left: 2px;
      }
    }
    .button-container {
      margin-bottom: 34px;

      @media all and (max-width: 991px) {
        order: 2;
      }

      .btn {
        @media all and (max-width: 991px) {
          margin: 0 auto;
        }
      }
    }
  }

  .owl-nav {
    display: flex;
    max-width: $max-container-width;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -91px);

    @media all and (max-width: 1199px) {
      left: 0;
      transform: translate(0, -91px);
    }

    @media all and (max-width: 991px) {
      bottom: 200px;
    }

    @media all and (max-width: 767px) {
      bottom: 95px;
    }

    button {
      display: flex;
      width: 50px;
      height: 50px;
      background-color: $main-color-1;
      box-shadow: 0 0 24px rgba(#323c45, 0.15);
      border-radius: 50%;
      outline: none;
      margin-right: 14px;
      @include ak-transition();

      @media all and (max-width: 1199px) {
        &.owl-prev {
          margin-left: 15px;
        }
      }

      @media all and (max-width: 991px) {
        position: absolute;

        &.owl-prev {
          margin: 0;
          left: 0;
        }
        &.owl-next {
          margin: 0;
          right: 0;
        }
      }

      svg {
        margin: auto;
        @include ak-transition();

        path {
          fill: $main-color-5;
          @include ak-transition();
        }
      }

      &:hover {
        background-color: $main-color-5;

        svg {
          path {
            fill: $main-color-1;
          }
        }
      }
    }
  }
  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 28px;
    width: 100%;

    .owl-dot {
      position: relative;
      display: flex;
      width: 14px;
      height: 14px;
      border-radius: 50px;
      border: 2px solid rgba($main-color-5, 0);
      background-color: $main-color-1;
      outline: none;
      margin: 0 10px;
      @include ak-transition();

      span {
        margin: auto;
        width: 6px;
        height: 6px;
        background-color: #ced0d3;
        border-radius: 50%;
        @include ak-transition();
      }

      &.active {
        border: 2px solid rgba($main-color-5, 1);

        span {
          background-color: $main-color-5;
        }
      }
      &:hover {
        span {
          background-color: $main-color-5;
        }
      }
    }
  }
}