.phone-apply-container {
  display: none;
  background-color: $main-color-1;
  padding: 20px;

  @media all and (max-width: 767px) {
    display: block;
  }

  h4 {
    margin-bottom: 0 !important;
    text-align: center;
  }

  .phone-control {
    text-align: center;
  }
  .button-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}