.search-results {
  .map {
    height: 560px;

    @media all and (max-width: 575px) {
      max-height: calc(100vh - 80px);
    }
  }

  .search-results-container {

    @media all and (max-width: 767px) {
      display: flex;
      align-items: stretch;
      margin: 0 -15px;
      flex-wrap: wrap;
    }

    & > div {

      @media all and (max-width: 767px) {
        width: 50%;
        flex: none;
      }

      @media all and (max-width: 575px) {
        width: 100%;
      }

    }

    .results-text {
      margin: 30px 0;
      text-align: center;

      @media all and (max-width: 767px) {
        margin: 0;
        padding: 15px 30px;
      }

      span {
        font: {
          size: 20px;
        };
        color: $main-color-6;
      }
      .value {
        font-weight: 600;
        color: $main-color-5;
      }
    }
    .button-container {
      .btn {
        height: 60px;

        @media all and (max-width: 767px) {
          height: 100%;
        }

        @media all and (max-width: 575px) {
          height: 60px;
        }

        svg {
          max-width: none;
        }
      }
    }
  }
}