.styled-checkbox {
  display: flex;
  align-items: center;

  &.type-1 {
    .checkbox-group {
      margin-right: 10px;

      input {
        display: none;

        &:checked + label {
          background-color: $main-color-5;
          border-color: $main-color-5;

          svg {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #c8ccd0;
        background-color: transparent;
        cursor: pointer;
        @include ak-transition();

        svg {
          width: 20px;
          height: 20px;
          opacity: 0;
          visibility: hidden;
          @include ak-transition();

          path {
            fill: $main-color-1;
          }
        }
      }
    }

    span {
      font: {
        size: 16px;
      };
      color: #2b3139;
    }
  }
  &.type-2 {
    .checkbox-group {
      display: flex;
      align-items: center;

      input {
        display: none;

        &:checked + label {
          span {
            font-weight: 700;
          }
          .checkbox {
            &:before {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      label {
        display: flex;
        align-items: center;

        span {
          font: {
            weight: 700;
            size: 16px;
          };
          color: $main-color-10;
          @include ak-transition();
        }

        .checkbox {
          position: relative;
          width: 18px;
          height: 18px;
          flex: none;
          border: 1px solid $main-color-10;
          margin-left: 10px;
          border-radius: 50%;
          @include ak-transition();

          &:before {
            display: block;
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            border-radius: 50%;
            background-color: $main-color-10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
            opacity: 0;
            @include ak-transition();
          }
        }
      }
    }
  }
}