.select2-container {
  .select2-selection  {
    background-color: transparent;
    outline: none;
    padding: 10px 0;
    height: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    @include ak-transition();

    .select2-selection__rendered {
      font: {
        family: $main-font-family;
        size: 20px;
      };
      color: #1a1f28;
      padding-left: 0;
    }
    .select2-selection__arrow {
      width: 32px;
      height: 19px;
      top: 50%;
      right: 0;
      transform: translateY(-50%) rotate(0);
      background: {
        image: url($images-path + 'dropdown-arrow.svg');
        position: center;
        repeat: no-repeat;
      };

      b {
        display: none;
      }
    }
  }

  &--open {
    .select2-selection {
      background-color: $main-color-1;
      border: 1px solid $main-color-12;
      border-bottom: none;

      .select2-selection__rendered {
        padding-left: 10px;
      }
      .select2-selection__arrow {
        right: 10px;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
.select2-container {
  .select2-dropdown {
    .select2-search__field {
      outline: none;
      font: {
        family: $main-font-family;
        size: 16px;
      };
    }
    .select2-results__option {
      font: {
        family: $main-font-family;
        size: 16px;
      };

      &.select2-results__option--highlighted {
        background-color: $main-color-5;
      }
    }
  }
}