.tabs {
  display: flex;
  align-items: center;
  justify-content: center;

  .tab-link {
    position: relative;
    display: flex;
    font: {
      size: 20px;
    };
    color: $main-color-12;
    padding: 15px 50px;
    text-decoration: none;
    @include ak-transition();

    @media all and (max-width: 767px) {
      padding: 15px 35px;
      font-size: 18px;
      flex: 1 1 auto;
      justify-content: center;
    }

    @media all and (max-width: 575px) {
      padding: 15px;
      font-size: 14px;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 3px;
      background-color: $main-color-5;
      visibility: hidden;
      opacity: 0;
      @include ak-transition();
    }

    &:hover {
      color: $main-color-8;
    }
    &.active {
      color: $main-color-8;

      @media all and (max-width: 767px) {
        color: $main-color-1;
      }

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.tabs-content {
  padding: 40px 0 0;

  @media all and (max-width: 767px) {
    padding: 0;
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}