.upload-image-mobile {
  display: none;

  @media all and (max-width: 767px) {
    display: block;
  }

  .upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    background-color: #3e4551;

    svg {
      path {
        fill: #555c68;
      }
    }
  }
}