.vehicle-location {
  margin-bottom: 35px;

  @media all and (max-width: 767px) {
    display: none;
  }

  span {
    font-size: 18px;
  }

  .title {
    display: inline-block;
    width: 100%;
    font: {
      weight: 600;
    };
  }
  .location {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .location-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2d56a0;

    span {
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #2d56a0;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        @include ak-transition();
      }
    }

    svg {
      margin-right: 5px;

      path {
        fill: #2d56a0;
      }
    }

    &:hover {
      span {
        &:before{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
.vehicle-map {
  display: none;
  height: 365px;
  margin: 0 -20px;

  @media all and (max-width: 767px) {
    display: block;
  }
}