.vehicles-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  & > .item {
    width: calc(100% / 3 - 60px / 3);
    margin-bottom: 30px;

    @media all and (max-width: 991px) {
      width: calc(100% / 2 - 20px / 2);
      margin-bottom: 20px;
    }
    @media all and (max-width: 767px) {
      width: 100%;
      margin-bottom: 0;
      margin-right: 0;
      border-bottom: 1px solid #dbdbdb;
    }

    @media all and (min-width: 992px) {
      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }
    }
  }
}