.vehicle-type-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 45px;

  @media all and (max-width: 1199px) {
    justify-content: flex-start;
  }

  @media all and (max-width: 767px) {
    display: none;
  }

  .item {
    width: calc(100% / 5 - 20px / 5);
    flex: none;
    margin-bottom: 5px;

    @media all and (max-width: 1199px) {
      width: calc(100% / 4 - 18px / 4);
    }

    @media all and (max-width: 991px) {
      width: calc(100% / 3 - 18px / 3);
    }

    @media all and (max-width: 1199px) and (min-width: 992px) {
      &:not(:nth-child(4n)) {
        margin-right: 6px;
      }
    }
    @media all and (max-width: 992px) and (min-width: 768px) {
      &:not(:nth-child(3n)) {
        margin-right: 6px;
      }
    }

    input {
      display: none;

      &:checked + label {
        background-color: $main-color-5;

        svg {
          path {
            fill: $main-color-1;
          }
        }
        .text {
          color: $main-color-1;
        }
      }
    }
    label {
      display: flex;
      height: 100%;
      flex-direction: column;
      background-color: $main-color-1;
      padding: 30px 15px 40px;
      cursor: pointer;
      @include ak-transition();

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        flex: none;
        margin-bottom: 15px;
      }

      .text {
        display: inline-block;
        font: {
          size: 16px;
        };
        color: #181818;
        text-align: center;
        @include ak-transition();
      }

      svg {
        path {
          fill: $main-color-5;
          @include ak-transition();
        }
      }
    }
  }
}