.vehicle-info {
  margin-left: 50px;
  flex: 1 1 auto;
  padding-right: 45px;

  @media all and (max-width: 767px) {
    margin-left: 0;
    padding: 0 20px;
  }

  h1 {
    font: {
      family: $title-font-family-light;
      weight: 300;
      size: 52px;
    };

    @media all and (max-width: 767px) {
      font-weight: 700;
      text-align: center;
      font-family: $main-font-family;
    }

    @media all and (max-width: 575px) {
      font-size: 38px;
    }
  }
  h4 {
    font: {
      family: $title-font-family-rg;
      size: 25px;
    }
    color: $main-color-5;
    text-align: left !important;

    @media all and (max-width: 767px) {
      text-align: center !important;
    }
  }

  .buttons-container {
    .btn {
      width: 242px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}