.vehicle-price-container {
  align-items: stretch;
  
  @media all and (max-width: 767px) {
    display: flex;
    margin: 0 -20px;
  }

  @media all and (max-width: 575px) {
    flex-wrap: wrap;
  }

  .buttons-container {

    @media all and (max-width: 575px) {
      width: 100%;
    }

    .btn {

      @media all and (max-width: 767px) {
        height: 100%;
      }

      @media all and (max-width: 575px) {
        width: 100%;
        height: 60px;
      }
    }
  }
}
.vehicle-price {
  display: flex;
  margin-bottom: 35px;

  @media all and (max-width: 767px) {
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 30px 20px 30px 50px;
    background-color: $main-color-1;
    margin: 0;
  }

  @media all and (max-width: 575px) {
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 50px;
    }

    @media all and (max-width: 767px) {
      width: 100%;
    }

    .title {
      font: {
        size: 20px;
      };
      color: $main-color-6;
    }
    .price {
      font: {
        weight: 700;
        size: 36px;
      };
      color: $main-color-5;
    }
  }
}