.vehicle-characteristics {
  margin-bottom: 30px;

  .item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    span {
      font: {
        size: 16px;
      };
      color: #242a34;
    }
    .divider {
      flex: 1 1 auto;
      margin: auto 2px 3px;
      border-bottom: 1px dotted rgba(#242a34, 0.36);
    }
    .value {
      font-weight: bold;
    }
  }
}