.vehicle-images-container {
  position: relative;
  flex: none;
  width: 556px;

  @media all and (max-width: 1199px) {
    margin: 0 auto 30px;
  }
  @media all and (max-width: 767px) {
    width: 100%;
  }

  .vehicles-main-view-carousel {
    margin-bottom: 4px;
  }
  .vehicles-thumbs-view-carousel {

    @media all and (max-width: 767px) {
      display: none;
    }

    .owl-item {
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: 5px solid #f44029;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        @include ak-transition();
      }
      &.current {
        &:before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}