.vehicle-card {
  display: flex;
  flex-direction: column;
  padding: 20px 35px 30px;
  background-color: $main-color-1;
  text-decoration: none;
  position: relative;
  box-shadow: inset 0 0 10px rgba(#000, 0);

  @media all and (max-width: 767px) {
    flex-direction: row;
  }

  @media all and (max-width: 575px) {
    flex-direction: column;
    padding: 12px;
  }

  &:hover {
    box-shadow: inset 0 0 10px rgba(#000, 0.2);
  }

  .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    position: relative;

    @media all and (max-width: 767px) {
      flex: none;
      width: 220px;
      height: auto;
    }

    @media all and (max-width: 575px) {
      width: auto;
      height: 180px;
    }

    img {
      width: auto;
      max-width: 100%;
      max-height: 140px;
    }

    .badges-container {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;

      @media all and (max-width: 767px) {
        top: -12px;
        left: -12px;
      }
    }
  }
  .card-body {

    @media all and (max-width: 767px) {
      margin-left: 10px;
      padding: 30px 0 20px !important;
    }

    @media all and (max-width: 575px) {
      margin-left: 0;
      padding: 0 10px !important;
    }

    .title, .desc {
      display: inline-block;
      width: 100%;
      color: $main-color-8;
      text-align: center;

      @media all and (max-width: 767px) {
        text-align: left;
      }

      @media all and (max-width: 575px) {
        text-align: center;
      }
    }
    .title {
      font: {
        size: 25px;
      };
      margin-bottom: 5px;
    }
    .desc {
      font: {
        size: 16px;
      };
      margin-bottom: 20px;
    }
  }
  .card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;

    @media all and (max-width: 575px) {
      padding: 10px 15px;
    }

    .date {
      font: {
        size: 18px;
      }
      color: $main-color-12;
    }
    .notifications {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .notifications-counter {
        display: flex;
        align-items: center;

        svg {
          margin-right: 7px;

          path {
            fill: $main-color-5;
          }
        }
        span {
          font: {
            size: 18px;
          };
          color: $main-color-12;
        }
      }
      .notifications-text {
        font: {
          size: 14px;
        };
        color: $main-color-5;
        visibility: hidden;
        opacity: 0;

        &.visible {
          visibility: visible;
          opacity: 1;
        }
      }

      &.active {
        .notifications-counter {
          span {
            color: $main-color-8;
          }
        }
      }
    }
  }
  .closed-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font: {
      size: 14px;
      weight: 700;
    };
    color: $main-color-1;
    background-color: #bbc0c6;
    text-transform: uppercase;
    padding: 7px 17px;
  }
  .card-edit {
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #edeff1;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 9;
    cursor: pointer;
    outline: none;
    @include ak-transition();

    &:hover {
      background-color: darken(#edeff1, 10);
    }
  }

  &.type-2 {
    padding: 12px 12px 30px;

    .card-body {
      padding: 0 20px;

      @media all and (max-width: 575px) {
        padding: 0 10px;
      }
    }
  }
  &.closed {
    & > * {
      filter: grayscale(100);
      opacity: 0.4;
    }
  }
}