.work-types-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - 25px / 6);
    background-color: $main-color-1;
    margin-bottom: 5px;
    padding: 25px 10px 10px;
    text-decoration: none;
    @include ak-transition();

    @media all and (max-width: 991px) {
      width: calc(100% / 4 - 20px / 4);
    }

    @media all and (max-width: 767px) {
      width: calc(100% / 3 - 15px / 3);
    }

    @media all and (max-width: 575px) {
      width: calc(100% / 2 - 10px / 2);
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 75px;
      flex: none;

      svg {
        max-width: 100%;
        max-height: 100%;

        path {
          fill: $main-color-5;
          @include ak-transition();
        }
      }
    }
    .text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      padding: 20px 15px;

      p {
        font: {
          size: 16px;
        };
        color: $main-color-7;
        text-align: center;
        @include ak-transition();
      }
    }

    &:hover {
      background-color: $main-color-5;

      .icon-container {
        svg {
          path {
            fill: $main-color-1;
          }
        }
      }
      .text-container {
        p {
          color: $main-color-1;
        }
      }
    }
  }
}