@media screen and (min-width: 60em) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 1366px) {
	.pay_button {
		font-size: 24px;
	}

	.article_post .right_layout .article_wrapper:after {
		-webkit-transform: translate(-200px, 0px);
		transform: translate(-200px, 0px);
	}

	.page_sidebar blockquote {
		margin-left: 0;
	}

	.main_slider .item {
		height: 600px;
	}

	.main_slider .center_box .center_block {
		width: 550px;
	}

	.main_slider .slider_title {
		font-size: 45px;
	}

	.main_slider .slider_description {
		font-size: 25px;
	}

	.main_slider .parallax_01_img,
	.main_slider .parallax_02_img,
	.main_slider .parallax_03_img,
	.main_slider .parallax_04_img {
		zoom: 0.7;
	}
}

@media screen and (max-width: 1170px) {
	#searchbox {
		max-width: 80%;
	}

	.product_item .price .nowprice {
		display: block;
	}

	.cart_page .forms-grid .forms-col-6 {
		width: 100%;
	}

	.cart_page .forms-grid .right .border-form,
	.cart_page .forms-grid .left .border-form {
		padding: 0;
	}

	.dotsrestyle .owl-dot,
	.owl-theme .owl-dots .owl-dot span {
		margin-left: 12px;
	}

	.cart_item .cart_item_info {
		width: 38%;
	}

	.about_header {
		font-size: 80px;
	}

	.sidebar .category_blog .post_title {
		font-size: 25px;
	}

	.categories_list {
		margin: 0 25px;
	}

	.blog_head .title,
	.about_title .title {
		font-size: 75px;
	}

	.container,
	.wrapper {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 20px;
	}

	.footer .title {
		font-size: 35px;
	}

	.socials ul li a {
		width: 38px;
		height: 38px;
		line-height: 40px;
	}

	.socials ul li {
		margin: 5px;
	}

	.socials ul {
		margin: -5px;
	}

	.main_menu ul li {
		margin: 0 -2px;
	}

	.main_menu ul li > a {
		font-size: 21px;
		padding: 0 25px;
		height: 55px;
		line-height: 55px;
	}

	.navigation_area .search {
		height: 55px;
		width: 55px;
		line-height: 62px;
	}

	.product_item {
		padding: 25px;
		padding-bottom: 40px;
	}

	ul.tabs li {
		height: 55px;
		line-height: 55px;
		font-size: 21px;
	}

	.main_menu .menu_bar {
		top: 15px;
	}

	body {
		font-size: 20px;
	}

	.main_menu .tab-content .container {
		padding: 0;
	}
}

@media screen and (max-width: 1024px) {
	.main_slider .item {
		height: 500px;
	}

	.section_tabs .col-3 {
		width: 29.3%;
	}

	.section_tabs .col-3:nth-child(4) {
		display: none;
	}

	.single_item .item_title {
		font-size: 30px;
	}

	.price_area .nowprice {
		font-size: 36px;
		line-height: 36px;
	}

	.single_item .price_area_right .btn {
		height: 55px;
		line-height: 55px;
		padding: 0 25px;
	}

	.tabs_single li {
		margin-right: 20px;
	}

	.cart_page .page_heading.small {
		font-size: 62px;
	}

	.cart_item .cart_item_info {
		width: 80%;
	}

	.cart_item .cart_item_quantity {
		margin-left: 14%;
		margin-top: 20px;
	}

	.cart_item_price {
		margin-top: 23px;
	}

	.page_heading {
		font-size: 90px;
	}

	.about_header {
		font-size: 60px;
	}

	.about_description {
		margin: 30px 0;
	}

	.sidebar .category_blog .post_title {
		font-size: 22px;
	}

	.sidebar .category_blog .post_item.without_overlay .overlay .position_wrap {
		bottom: 20px;
		padding: 0 30px;
	}

	.ajax_loadmore {
		font-size: 21px;
		padding: 12px 30px;
		margin-top: 50px;
		padding-left: 50px;
	}

	.categories_list li {
		width: 33.33%;
	}

	.article_post .right_layout .article_wrapper {
		padding: 20% 40px;
	}

	.spoiler_title {
		font-size: 25px;
		padding-left: 60px;
	}

	.spoiler_title.active:after {
		line-height: 32px;
	}

	.spoiler_title:after {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}

	.contact_block h3,
	.subscribe_block .title {
		font-size: 40px;
	}

	.subscribe_block {
		padding: 70px 0;
	}

	.contact_block {
		font-size: 21px;
	}

	.grid_blocks .item {
		width: 33.33%;
	}

	.grid_blocks .item:nth-of-type(3n-1) {
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}

	.article_post .right_layout .article_wrapper:after {
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
		padding-right: 0;
	}

	.section_tabs:after {
		display: none;
		background-color: transparent;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
		padding-right: 0;
	}

	.tabs_area {
		padding: 50px 0;
	}

	.about_us {
		margin-top: 160px;
	}

	.inside .tabs_area {
		margin-bottom: 80px;
	}

	.page_heading.small {
		font-size: 50px;
	}


}

@media screen and (min-width: 981px) {
	.main_menu ul.hidden-mobile {
		display: block !important;
	}

	.main_menu li.without_megamenu:hover .megamenu {
		display: block !important;
	}

	.mobile_menu {
		display: none !important;
	}
}

@media screen and (max-width: 980px) {

	.single_item .item_main_description {
		margin-right: -50px;
	}

	.grid_columns .grid_column_x3.single_left_column {
		width: 100%;
		float: none;
	}

	.recommend_block {
		display: none;
	}

	.grid_columns .grid_column_x1.single_right_column {
		float: none;
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
	}

	.mobile_menu {
		display: none !important;
	}

	.mobile_menu.on {
		display: block !important;
		height: auto !important;
	}

	.main_menu ul li {
		margin: 0;
	}

	nav {
		position: absolute;
		top: 55px;
		width: 100%;
		margin: 0;
		text-align: left;
		-webkit-box-shadow: 0px 46px 40px 0px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 46px 40px 0px rgba(0, 0, 0, 0.14);
	}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav ul li {
		/* Sub Menu */
	}

	nav ul li a {
		display: block;
		background: #ebebeb;
		text-decoration: none;
		-webkit-transition: 0.2s linear;
		transition: 0.2s linear;
		position: relative;
	}

	nav ul li > a {
		padding: 0 30px;
		border-bottom: 1px solid #e4e4e4;
	}

	nav ul li a:hover {
		background: #f3f3f3;
		color: #000;
	}

	nav ul li a .lnr {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		right: 30px;
		font-size: 15px;
		margin-top: -8px;
	}

	nav ul ul {
		background-color: #ebebeb;
	}

	nav ul li ul li a {
		background-color: #f6f6f6;
		border-left: 4px solid transparent;
		padding: 10px 20px;
	}

	nav ul li ul li a:hover {
		border-left: 4px solid #d9535d;
	}

	nav ul li a .lnr.openmenu {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	nav li.sub-menu > a {
		padding: 0 30px;
	}

	nav li.sub-menu > ul a {
		padding-left: 26px;
	}

	nav li.sub-menu ul li.sub-menu > ul a {
		padding: 10px 0;
		padding-left: 45px;
		font-size: 18px;
		height: auto;
		line-height: 145%;
		border: 0;
		background: #FFF;
	}

	.main_menu ul li > a {
		padding: 0 30px;
	}

	.main_menu .menu_bar {
		display: none;
	}

	.hidden-lg {
		display: block;
	}

	.hidden-mobile {
		display: none;
	}

	.product_item .title {
		font-size: 21px;
	}

	.product_item .price .oldprice,
	.product_item .price .nowprice {
		margin: 0;
		display: block;
	}

	.product_item .price .oldprice {
		display: inline-block;
	}

	.product_item .price {
		margin-bottom: 15px;
	}

	.product_item:hover .add_to_cart a {
		width: 60px;
		height: 60px;
		font-size: 22px;
		line-height: 65px;
		margin-left: -30px;
		bottom: -30px;
	}

	ul.tabs {
		padding-bottom: 20px;
	}

	.container,
	.wrapper {
		padding: 0 20px;
	}


	.play_video {
		padding-left: 140px;
	}

	.about_title .title {
		top: 200px;
	}

	.downline .left {
		float: none;
		text-align: center;
	}

	.downline .right {
		float: none;
		text-align: center;
	}

	.developer {
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		padding-right: 0;
	}

	.developer span {
		display: none;
	}

	.developer img {
		position: relative;
	}

	.hidden_mobile {
		display: none;
	}

	.iconlink.mobile_restyle span.lnr {
		margin-right: 0;
	}

	.navigation_area .main_menu {
		text-align: right;
	}

	.main_menu .menu_bar span {
		width: 25px;
	}

	.main_menu .menu_bar span:nth-child(2) {
		margin: 7px 0;
	}

	.main_menu .menu_bar {
		top: 16px;
	}
}

@media screen and (max-width: 768px) {

	.main_slider .parallax_01_img,
	.main_slider .parallax_02_img,
	.main_slider .parallax_03_img,
	.main_slider .parallax_04_img {
		display: none;
	}

	.main_slider .slider_title {
		font-size: 35px;
		padding: 15px 30px;
	}

	.main_slider .slider_description {
		font-size: 21px;
	}

	.main_slider .center_box .center_block {

		max-width: 80%;
	}

	.main_slider .slider_description {
		padding: 30px;
		padding-top: 55px;
	}

	.close-btn {
		font-size: 26px;
		top: 20px;
		right: 20px;
	}

	#searchbox {
		max-width: 90%;
		font-size: 21px;
		padding: 25px 0;
	}

	.grid_blocks.faq_list .item,
	.grid_blocks.category_blog .item {
		width: 50%;
	}

	.grid_blocks.faq_list {
		padding: 20px 0;
		margin: 0;
	}

	.section_tabs .col-3 {
		width: 46%;
	}

	.section_tabs .col-3:nth-child(4) {
		display: block;
	}

	.section_tabs .row [class^="col"] {
		margin: 2%;
	}

	.grid_blocks .item {
		width: 50%;
	}

	.fancybox-slide--html {
		padding: 0;
	}

	.popup {
		width: 100%;
		padding: 40px;
	}

	.popup .policy_info {
		margin: 0;
		margin-top: 20px;
	}

	.popup .logo_header {
		display: none;
	}

	.price_area .price_area_left {
		float: none;
		margin-bottom: 20px;
	}

	.buy_package .button a {
		display: inline-block;
	}

	.buy_package .button,
	.buy_package .package_info,
	.buy_package .package_description {
		float: none;
		margin-right: 0;
		margin: 15px 0;
		text-align: center;
	}

	.buy_package .package_description {
		width: 100%;
		margin-right: 0;
	}

	.single_item .item_brand .brand_logo {
		float: none;
	}

	.single_item .item_brand .brand_info {
		float: none;
		margin-left: 0;
	}

	.single_item .price_area_right {
		float: none;
		margin-left: 0;
		position: relative;
		top: 0;
	}

	.single_product_info_area {
		margin-top: 40px;
		text-align: center;
	}

	.single_item_favorite {
		position: absolute;
		right: inherit;
		left: 0;
		top: -8px;
		z-index: 2;
	}

	.grid_columns .grid_column_x2 {
		float: none;
		width: 100%;
	}

	.grid_columns .grid_column_x2 .padding_left,
	.grid_columns .grid_column_x2 .padding_right {
		padding: 0;
	}

	.single_item .item_main_description {
		padding: 20px 30px;
		padding-left: 30px;
		margin-left: -30px;
		margin-right: -30px;
	}

	.tabs_single {
		margin-top: 30px;
	}

	.cart_page .page_heading.small {
		font-size: 52px;
	}

	.buy_items_navdots {
		margin-top: 8px;
	}

	.icon_advantages .item {
		float: none;
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}

	.icon_advantages .item .title {
		padding: 0;
		max-width: 190px;
		margin: 0 auto;
	}

	.icon_advantages {
		padding-bottom: 20px;
	}

	.logos_area h2 {
		font-size: 38px;
	}

	.logos_area .logo_item {
		display: block;
		width: 100%;
	}

	.page_sidebar .row [class^="col"],
	.about_page .row [class^="col"] {
		margin: 0;
	}

	.page_sidebar .post_preview {
		margin-bottom: 20px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 28px;
	}

	h5 {
		font-size: 26px;
	}

	h6 {
		font-size: 24px;
	}

	.ajax_loadmore {
		margin-top: 20px;
	}

	.categories_list {
		margin: 0;
	}

	.categories_list li {
		width: 50%;
	}

	.categories_list {
		padding: 30px 0;
	}

	.grid_blocks {
		margin: 25px -15px;
	}

	.grid_blocks .item .padding,
	.grid_blocks .item .product_item {
		margin: 15px;
	}

	.forms-col-1,
	.forms-col-2,
	.forms-col-3,
	.forms-col-4,
	.forms-col-5,
	.forms-col-6 {
		width: 100%;
	}

	.forms-grid .left .border-form,
	.forms-grid .right .border-form {
		padding: 0;
	}

	.total_info {
		padding: 20px;
	}

	.cart_items .item .thumbnail {
		width: 70px;
	}

	.cart_items .item {
		padding-left: 110px;
	}

	.title_subline {
		border-bottom: 2px solid #69c5b8;
		padding-bottom: 15px;
	}

	.grid {
		margin: 0;
	}

	.grid.x3 {
		margin: -10px 0;
	}

	.grid .item .border {
		padding: 0;
	}

	.grid.x3 .item .border {
		padding: 10px 0;
	}

	.personal_area .params li,
	.cart_items .item .prod_name,
	.cart_items .item .prod_total_info span,
	.total_info {
		font-size: inherit;
	}

	.grid.x3 .item.x2 {
		width: 100%;
	}

	.grid.x3 .item {
		width: 100%;
	}

	.spoiler_content {
		padding: 25px;
	}

	.spoiler_content.withouticon {
		padding-left: 60px;
	}

	.spoiler_content.withouticon span {
		top: 20px;
		left: 20px;
		font-size: 25px;
	}

	.spoiler_title:after {
		top: 12px;
	}

	.spoiler_wrapper {
		margin-top: -15px;
	}

	.white_wrapper,
	.single_item {
		padding: 30px;
	}

	.spoiler_title {
		padding: 15px 0;
		font-size: inherit;
		padding-left: 50px;
	}

	.subscribe_block .right_image {
		width: 300px;
		background-position: bottom;
		left: 0;
		bottom: 0;
		margin-left: 450px;
		background-size: contain;
	}

	.subscribe_block .left_image {
		width: 200px;
		height: 200px;
		margin-top: -119px;
		margin-left: -433px;
		background-size: contain;
	}

	.subscribe_block .form input[type=text] {
		width: 200px;
	}

	.subscribe_block .description {
		font-size: inherit;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.subscribe_block {
		padding: 60px 0;
	}

	.contact_block .phone span {
		top: 0;
		margin-right: 0;
		display: block;
		margin-bottom: 20px;
	}

	.contact_block h3,
	.subscribe_block .title {
		font-size: 32px;
	}

	.contact_block .phone span {
		font-size: 28px;
		top: 4px;
	}

	.page_heading.small {
		font-size: 40px;
	}

	.footer {
		text-align: center;
	}

	.row [class^="col"] {
		margin: 15px 0;
	}

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		width: 100%;
	}

	.container,
	.wrapper {
		padding: 0 30px;
	}


	.socials ul li {
		float: none;
		display: inline-block;
	}

	.footer .downline {
		margin-top: 40px;
	}

	.footer .title {
		margin-bottom: 30px;
	}

	.footer .downline {
		padding: 20px 0;
	}

	.blog_head .title,
	.about_title .title {
		font-size: 55px;
	}

	.logos .row {
		margin: 0;
	}

	.article_post .right_layout .article_wrapper {
		padding: 80px 10%;
	}

	ul.tabs li {
		padding: 0 20px;
		margin: 0;
	}

	ul.tabs li.current {
		padding-left: 20px
	}

	ul.tabs li span.lnr {
		margin-left: -5px;
	}

	ul.tabs li {
		padding-left: 0;
	}

	ul.tabs li {
		font-size: 19px;
	}

	.section_tabs:after {
		height: 10%;
	}

	.about_us {
		margin-top: 200px;
		margin-bottom: 0;
	}

	.advantages hr {
		margin: 20px 0;
	}

	.blog_head .morelink {
		float: none;
		display: block;
		margin-top: 40px;
	}

	.blog_head {
		margin-bottom: 10px;
	}

	.blog_head .title {
		float: none;
		display: inline-block;
	}

	.topline .row [class^="col"] {
		margin: 0 2%;
	}

	.logo_header a {
		top: 0;
	}

	.logo_header.footer_logo a {
		top: -40px;
	}

	.logo_header.footer_logo {
		margin-bottom: -40px;
	}

	.logo_header {
		margin-bottom: 10px;
	}

	.header {
		margin-bottom: 10px;
	}

	.topline .left {
		display: none;
	}

	.topline .right a {
		width: 33.33%;
		text-align: center;
		float: left;
		padding: 0;
	}

	.topline .container {
		padding: 0;
	}

	.topline .row [class^="col"] {
		margin: 0;
	}

	.topline .col-6 {
		width: 100%;
	}

	.topline .hidden_mobile {
		display: inline-block;
	}

	.iconlink.mobile_restyle span.lnr {
		margin-right: 10px;
	}

	.article_post .right_layout {
		background-color: #d2eeea;
		background-image: url(../img/lines_001.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	.article_post .right_layout .article_wrapper:after {
		display: none;
	}

	.article_post .right_layout .article_wrapper {
		top: 0;
	}

	.article_post .container {
		padding: 0;
	}

	.article_post .row [class^="col"] {
		margin: 0;
	}

	.article_post .col-6 {
		width: 100%;
	}

	section,
	.page_404 {
		padding: 60px 0;
	}



}

@media screen and (max-width: 580px) {

	.grid_blocks.faq_list .item,
	.grid_blocks.category_blog .item {
		width: 100%;
	}

	.section_tabs .col-3 {
		width: 100%;
	}

	.section_tabs .row [class^="col"] {
		margin: 0;
	}

	.cat_list_open {
		margin-bottom: 25px;
	}

	.single_item .item_title {
		font-size: 26px;
	}

	.wrapCarouselThumbs .owl-carousel .owl-item img {
		width: 40px !important;
	}

	.cart_page .page_heading.small {
		font-size: 45px;
	}

	.price_area .price_area_left {
		float: none;
		display: block;
		margin-bottom: 20px;
	}

	.cart_page .total_cart {
		font-size: 26px;
		margin: 30px 0;
		text-align: left;
	}

	.cart_item_delete {
		position: absolute;
		top: -20px;
		right: -20px;
	}

	.cart_item .cart_item_quantity {
		margin-left: 0;
	}

	.cart_item .cart_item_photo {
		width: 21%;
	}

	.cart_item .cart_item_info {
		width: 75%;
		margin-right: 0;
	}

	.dotsrestyle .owl-dot,
	.owl-theme .owl-dots .owl-dot span {
		width: 8px;
		height: 8px;
		margin-left: 0;
		margin-right: 10px;
		margin-bottom: 30px;
	}

	.buy_items_navdots,
	.buy_items_block h2 {
		margin-top: 0;
		float: none;
		display: block;
		margin-bottom: 0;
	}


	.buy_items_navdots {
		margin-top: 5px;
	}

	.page_heading {
		font-size: 65px;
	}

	.logos_area h2 {
		font-size: 28px;
	}

	.about_header {
		font-size: 48px;
	}

	body {
		font-size: 19px;
	}

	td,
	th {
		display: block;
		margin: -1px 0;
	}

	.categories_list.inversion {
		border-bottom: 0;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 26px;
	}

	h5 {
		font-size: 24px;
	}

	h6 {
		font-size: 22px;
	}

	.category_blog .post_item {
		padding: 25px 0;
		padding-bottom: 0;
	}

	.category_blog .post_title {
		font-size: 26px;
	}

	.cat_list_open {
		display: block !important;
	}

	.categories_list {
		display: none !important;
	}

	.categories_list.openmenu {
		display: block !important;
	}

	.categories_list li {
		width: 100%;
	}

	.categories_list {
		padding: 0;
		border: 0;
	}

	.categories_list li a {
		display: block;
		text-align: center;
	}

	.grid_blocks .item .padding,
	.grid_blocks .item .product_item,
	.section_tabs .product_item {
		margin: 15px 0;
		padding: 30px;
	}

	.grid_blocks {
		margin: 20px 0;
	}

	.grid_blocks .item {
		width: 100%;
	}

	blockquote {
		padding-left: 30px;
	}
}

@media screen and (max-width: 480px) {
	.main_slider .item {
		height: 450px;
	}

	.main_slider .slider_title {
		font-size: 26px;
		padding: 15px 20px;
	}

	.popup {
		padding: 25px;
	}

	.enter_area .enter_button {
		float: none;
	}

	.enter_area .enter_info {
		float: none;
		display: block;
		margin-top: 20px;
		width: 100%;
		top: 0;
	}

	.popup .registery {
		font-size: 22px;
	}

	.article_post {
		margin-top: -30px;
	}

	.about_bottom {
		margin-bottom: -30px;
	}

	.category_description .devider_line {
		margin-top: 0;
	}

	.cart_items .item .thumbnail {
		position: relative;
		width: 100px;
		left: 0;
		top: 0;
		margin: 0 auto;
	}

	.total_info {
		text-align: center;
	}

	.cart_items .item {
		padding: 20px;
		text-align: center;
	}

	.cart_items .item .thumbnail img {
		margin-bottom: 10px;
	}

	.spoiler_content.withouticon span {
		top: inherit;
		left: inherit;
		position: relative;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}

	.spoiler_content.withouticon {
		padding: 25px;
	}

	.contact_block {
		font-size: inherit;
	}

	.page_heading {
		font-size: 40px;
	}

	.subscribe_block .left_image,
	.subscribe_block .right_image {
		display: none;
	}

	.contact_block .phone span {
		font-size: 25px;
		top: 0;
	}

	.contact_block h3,
	.subscribe_block .title {
		font-size: 26px;
	}

	.subscribe_block .form input[type=text] {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		margin: 10px 0;
	}

	.subscribe_block {
		padding: 40px 0;
	}

	section,
	.page_404 {
		padding: 40px 0;
	}

	.page_heading.small {
		font-size: 30px;
	}

	.container,
	.wrapper {
		padding: 0 20px;
	}

	ul.tabs li {
		margin: 0;
	}

	.topline .hidden_mobile {
		display: none;
	}

	.iconlink.mobile_restyle span.lnr {
		margin-right: 0;
	}

	.iconlink.cart_link.mobile_restyle span.lnr {
		margin-right: 5px;
	}

	.blog_head .title,
	.about_title .title {
		font-size: 45px;
	}

	.blog_head .title:before {
		bottom: -15px;
	}

	ul.tabs li,
	ul.tabs li.current {
		font-size: 21px;
		height: auto;
		display: block;
		line-height: inherit;
		border: 0;
		padding: 10px 0;
	}

	ul.tabs li span {
		display: inline !important;
	}

	ul.tabs li.current span {
		border-bottom: 1px dashed #c9a39b;
	}

	ul.tabs li:hover {
		background-color: transparent;
		color: #000;
	}

	ul.tabs li span.lnr {
		display: none !important;
	}

	ul.tabs li.current:hover,
	ul.tabs li.current {
		color: #c89c96;
		background-color: #FFF;
	}

	.article_post .right_layout .article_wrapper .title {
		font-size: 30px;
		max-width: auto;
	}

	.post_item .date {
		top: 85px;
	}

	.post_item .date:before {
		width: 100px;
	}

	.logo_header a {
		background-size: 80%;
		width: 70px;
		height: 70px;
	}

	.logo_header.footer_logo a {
		top: -15px;
	}

	.logo_header.footer_logo {
		margin-bottom: -15px;
	}

	.tabs_area {
		padding: 20px 0;
	}

	ul.tabs {
		padding-bottom: 0;
	}

	.main_menu ul li.without_megamenu a:before {
		right: 30px;
	}

	.main_menu .megamenu {
		padding: 25px 30px !important;
	}

	.header.container {
		padding: 0;
		height: 115px;
	}

	.header .row [class^="col"] {
		margin: 20px 0;
	}

	.header .col-12 {
		width: 100%;
	}

	.navigation_area .search {
		left: 20px;
	}

	.hidden-lg {
		margin-right: 20px;
	}

	.toggle-menu span.title {
		display: none;
	}

	.navigation_area .search {
		right: 20px;
		left: auto;
	}

	.hidden-lg {
		margin-right: 0;
		float: left;
		margin-left: 20px;
	}

	.navigation_area {
		position: relative;
		margin-top: -70px;
	}

	.about_us {
		margin-top: 150px;
	}

	.about_title .title {
		top: 170px;
	}

	.header .megamenu .row [class^="col"] {
		margin: 0;
	}

}
