.footer {
  padding: 53px 0 59px;
  background: #242a34;

  .copyright {
    display: inline-block;
    width: 100%;
    font: {
      size: 14px;
    };
    color: $main-color-1;
    text-align: center;
    margin-bottom: 14px;
  }

  p {
    font: {
      size: 14px;
    };
    color: $main-color-9;
    text-align: center;
    line-height: 1.4;
  }
}