* {
  box-sizing: border-box;
}
html {
  font-size: 10px;

  @media all and (max-width: 1199px) {
    font-size: 9px;
  }
  @media all and (max-width: 767px) {
    font-size: 8px;
  }
}
html, body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $main-color-1;

  @media all and (max-width: 991px) {
    padding: 0;
  }

  &.modal-open {
    overflow: hidden;
  }
}

.container {
  max-width: $max-container-width;
  margin: 0 auto;

  @media all and (max-width: 1199px) {
    padding: 0 15px;
  }
}

.desktop-only {
  @media all and (max-width: 767px) {
    display: none !important;
  }
}