.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $main-color-1;
  box-shadow: 0 0 20px 7px rgba(#000, 0.34);
  left: 0;
  top: 0;
  z-index: 99;
}