.section {

  &.map-section {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    
    @media all and (max-width: 991px) {
      min-height: auto;
      height: 100vh;
    }

    .map {
      @media all and (max-width: 991px) {
        height: calc(100% - 80px);
      }
    }

    .menu-container {
      display: none;
      box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.08);

      @media all and (max-width: 991px) {
        display: flex;
        width: 100%;
      }

      a {
        width: 50%;

        @media all and (max-width: 991px) {
          flex: 1 1 auto;
        }
      }
    }
  }
  &.our-vechicles-section {
    padding: 72px 0 130px;

    @media all and (max-width: 1199px) {
      padding: 40px 0 20px;
    }
  }
  &.work-types-section {
    padding: 65px 0 91px;
    background-color: #edeff1;

    @media all and (max-width: 767px) {
      background-color: $main-color-1;
      border-top: 1px solid #e4e7ea;
    }
  }
  &.how-it-works-section {
    padding: 86px 0 95px;
    background-color: $main-color-8;

    @media all and (max-width: 767px) {
      padding: 60px 0;
    }

    h2 {
      color: $main-color-1;
      margin-bottom: 46px;
    }
  }
  &.advantages-section {
    padding: 86px 0 93px;

    h2 {
      margin-bottom: 53px;
    }
  }
  &.content-section {
    padding: 80px 0 80px;
    background-color: #edeff1;

    @media all and (max-width: 767px) {
      padding-bottom: 0;
    }

    h4 {
      font: {
        size: 25px;
      };
      text-align: center;
      margin-bottom: 30px;
    }

    .vehicle-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media all and (max-width: 1199px) {
        flex-wrap: wrap;
      }
    }
    .page-heading {
      @media all and (max-width: 767px) {
        padding-top: 60px;
        background-color: $main-color-8;
      }

      h2 {
        @media all and (max-width: 767px) {
          color: $main-color-1;
        }
      }
    }
    .container {
      @media all and (max-width: 767px) {
        padding: 0;
      }
    }
  }
  &.vehicle-cards-section {
    padding: 50px 0 60px;
    border-top: 1px solid #d4d5d5;
    background-color: #edeff1;

    @media all and (max-width: 767px) {
      padding-bottom: 10px;
      background-color: $main-color-1;
    }

    h2 {
      @media all and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
}