

/* Start:/bitrix/templates/corp_services_green/styles.css?15515692411274*/
/* Text */
img {border:0 none;}

h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Helvetica,sans-serif; 
	margin:1.3em 0 0.7em;
	font-weight:normal;
	line-height:1.2;
}

h1 { font-size:190%; margin:0 0 1em; }
h2 { font-size:150%; }
h3 { font-size:130%; font-weight: bold;}
h4 { font-size:120%;}
h5 
{ 
	border-bottom:1px solid #E5E5E5;
	font-size:140%;
	font-weight:normal;
	margin:0 0 1.1em;
	padding:0 0 1em;
}
h6 { font-size:100%; }

hr, .hr 
{
	border-top:1px solid;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin:12px 0;
	overflow:hidden;
	padding:0;
}

#workarea ul { list-style-type: none;  padding:0; margin: 0 0 0 1.5em;}
#workarea ul li:before { content:'\2014\a0'; }
#workarea li
{
	behavior:expression( !this.before  ? this.before = this.innerHTML = '<span class="dash">&mdash;&nbsp;</span>' + this.innerHTML :'' );
	text-indent:-1.35em;
	margin: 0.6em 0
}

#workarea ul ul { padding:0 0 0 1.5em; margin: 0.6em 0}


table.data-table { width: 100%; border-bottom: 1px solid #F0F0F0; border-top: 1px solid #F0F0F0}
table.data-table th { text-align: left;}
table.data-table td, table.data-table th { padding: 1em; font-size: 0.85em;}
table.data-table tr.alt-row { background-color: #F0F0F0; }
/* End */


/* Start:/bitrix/templates/corp_services_green/template_styles.css?15515692418718*/
html { width:100%; height: 100%; }

body
{
	height:100%;
	margin:0;
	padding:0;
	font-size: 80.01%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form { margin:0; padding:0;}
form.main-form
{ 
	display: block;
	margin:0; 
	padding:0;
	width:100%;
	height:100%;
}
 
#page-wrapper
{	
	min-height:100%;	  
	margin: 0 auto -85px;
	min-width: 990px;
}

* html #page-wrapper { height: 100%; }

#header { height: 77px; position: relative;}
#header table { width: 80%; height: 77px;}
#header td { padding: 0; vertical-align: middle; text-align: left;}

td#logo { padding-left: 32px;}
td#logo a { outline: none;}
td#slogan { padding-left: 32px; width: 100%;  font-size: 1.2em; font-style: italic; /*font-weight: bold;*/}

#search { width: 23%; position: absolute; right:21px; top: 30px; }
#search div.flat{height: 20px;}							 
#search div.search-box
{
	border: 1px solid; 
	height: 20px;
	overflow:hidden;
	padding:0;
	position: absolute;
	left: 21px;
	right: 61px;
	float: left;
}

* html #search div.search-box { margin-right:-82px;	}

#search div.search-box input
{
	border:1px solid;
	width:98%;
	height: 18px;
	padding:0;
	margin:0;
}

#search input { vertical-align: top;}
#search-button { float: right; width:48px; border: 1px solid;}
#search-button input::-moz-focus-inner { border: 0; padding: 0; }/*Remove button padding in FF*/
#search-button input 
{
	display: block;
	border: none;
	background: none;	
	width:48px;
	padding:0;
	margin:0;
	font-family: Georgia, serif;
	font-size: 12px;
	height: 19px;
	cursor: pointer;
	cursor: hand;
	outline: none;	
}

div.search-item h4 { margin-bottom: 0.4em;}

#top-menu { margin: 0 0 0 32px; padding: 0; list-style-type: none; overflow: hidden; zoom:1;}
#top-menu li { float: left; margin: 0 1.5em 0 0; }
#top-menu a  
{
	display: block; 
	border-bottom-width: 2px;
	border-bottom-style: solid;

	text-decoration: none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	outline: none;
	padding: 11px 0 7px;	
	margin: 0 16px 3px;
}

#top-menu li.selected a { padding: 11px 16px 10px; margin: 0;}
#top-menu li.selected .r1 { border-left: 1px solid; border-right: 1px solid; }
#top-menu li.selected .r0 { border-left: 1px solid; border-right: 1px solid; }

* html #top-menu .r1 { width: 2px;}
* html #top-menu .r0 { width: 2px;}

#top-menu li.selected .r1 { width: expression(runtimeStyle.width = parentNode.offsetWidth - 4 + 'px'); }
#top-menu li.selected .r0 { width: expression(runtimeStyle.width = parentNode.offsetWidth - 2 + 'px'); }

#breadcrumb  {	padding:0; margin: 0 41px 32px 32px;}
#breadcrumb p { margin: 0 10px;}

#breadcrumb span.bx-breadcrumbs-name { font-size: 0.85em; padding:0 0.4em;}
#breadcrumb a {text-decoration: none;}
#breadcrumb a:hover { text-decoration: underline;}
#breadcrumb b { border-right: 1px solid; border-left: 1px solid;}
#breadcrumb b.top { margin-bottom: 2px;}
#breadcrumb b.bottom { margin-top: 2px;}

#content-wrapper { overflow: hidden; margin: 21px 0 50px; zoom:1;}
#content { float: left; width: 77%; overflow: hidden; }
#sidebar { float: right; width: 23%; overflow: hidden;  }
#sidebar-inner { margin-right: 21px;}

#workarea-wrapper { margin: 0 38px 0 25px;}
#left-menu { float: left; width: 25%; }

ul.left-menu { font-weight: bold; list-style-type: none; margin: 0; padding: 0 0 0 1.5em;}

/* Root */
ul.left-menu a { font-size: 1.1em; outline: none;}
ul.left-menu .selected a { text-decoration: none; }

ul.left-menu ul a { font-size: 0.85em !important; text-decoration: underline !important; outline: none; vertical-align:top; }

ul.left-menu li.current { overflow: hidden; zoom:1; display: block; margin-top: 0.3em;}
ul.left-menu .current i  
{
	padding: 1px 10px 2px 13px; 
	text-decoration: none !important;
	display: block;
	zoom:1;
	font-style:normal;
	font-size: 0.85em !important;
	vertical-align:top;
}

ul.left-menu .current b { border-left:1px solid; border-right:1px solid; }
ul.left-menu ul { font-weight: normal; margin: 0.5em 0 0 -4px; padding: 0; list-style-type: none;}
ul.left-menu ul ul { margin: 0.5em 0 0 1em; }
ul.left-menu li li
{ 
	margin-bottom: 0.7em; 
	padding:0 13px 0;
	text-indent: 0;
	background: url(/bitrix/templates/corp_services_green/images/left-menu-arrow.gif) no-repeat 5px 3px;
	list-style-type: none; 
}

ul.left-menu li
{
	behavior:expression( !this.before ? this.before = this.innerHTML = '<span class="dash">&mdash;&nbsp;</span>' + this.innerHTML :'' );
	text-indent:-1.35em;
	background: none;
	padding:0;
	margin-bottom: 1.5em;
}
ul.left-menu li li { behavior: '';}

ul.left-menu li:before { content:'\2014\a0'; }
ul.left-menu li li:before { content:'';}

ul.left-menu li li li { margin-bottom: 0.3em; }

#workarea { float: right; width: 75%; clear:right; }
#workarea-inner { margin-left: 25px;}

#banner 
{ 
	height: 175px; 
	margin: 0 28px 40px 19px; 
	overflow:hidden; 
	position:relative; 
}

#banner-image { height:175px; width: 425px; overflow:hidden; text-decoration: none; display: block; }
#banner-text 
{ 
	padding: 0; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	position: absolute;
	left: 35%;
	top: 0;
	left:0;
	width: 100%;
	height: 175px;
	z-index:10;
	
}

#banner-text td {padding:0;}
#banner-text a { text-decoration: none; display: block;}

#banner-text small { font-size: 0.5em; padding-top: 1em; display: block; padding-left: 30px;}
#banner-text big { font-size: 1.4em; display: block; }
#banner-text span { padding-left: 30px; display:block;}
#banner-overlay
{ 
	z-index:5; 
	height: 175px; 
	width: 100%; 
	position: absolute; 
	top: 0;
	left: 0; 
	outline: none;
	display: block;
	cursor: pointer;
	cursor: hand;
}



#footer, #space-for-footer  { height: 85px; }
#footer { position: relative;}

#copyright { padding:21px 0 0 35px; font-size: 0.85em; width: 49%;}
#copyright p { margin:0;}

#footer-links { margin:0; padding:0; list-style: none;}
#bottom-menu { width:50%; position:absolute; right:25px; top: 20px;  text-align: right;}
#footer-links li { display: inline; padding-left:1.5em;}

/* Navigation */
div.navigation { font-size:100%; line-height:200%; }
span.navigation-title { padding-right:0.65em; font-weight: bold;}
div.navigation a { text-decoration:underline; padding:0.2em 0.3em;}
span.nav-current-page { padding:0.2em 0.3em; }
div.navigation span.arrow { font-size:100%; font-family:Times, serif; }
div.navigation span.ctrl { font-size:85%; }

/*Site Map */
table.map-columns { width: 100%;}
table.map-columns td { vertical-align: top; padding: 0;}
table.map-columns ul { padding:0 0 2em 0; font-weight: bold;}
table.map-columns li { margin: 0 0 1.5em 0 !important;}
table.map-columns li li { margin: 0 0 0.6em 0 !important;}
table.map-columns ul ul { font-weight: normal; padding:0 0 0 1.5em; margin: 0.6em 0}


/* Ask a question */
#support {position: relative; margin:0 0 3em; padding-top: 3px;}
#support-question { position: absolute; width: 30px; height: 30px; top: 0; left:0;}
#support-text { height: 20px; margin-left: 15px; padding-left: 22px; padding-top: 2px; overflow:hidden;}
#support-text a { font-size: 14px; font-weight: bold; text-decoration: none;}
#support b { border-right:1px solid; margin-left: 15px;}

/* Schedule */
#schedule { margin: 0 0 3em; }
#schedule div.schedule { font-size: 0.85em; }
#schedule p { margin: 0 0 1em; }

/* Telephone*/
#telephone  
{
	padding: 0 0 0 37px;
	margin: 0 0 1.5em;
	min-height: 30px;
}

* html #telephone { padding-top: 6px;}

#telephone nobr { font-family: Georgia, serif;  font-size: 1.6em;}

/* Content Block List */
dl.block-list { margin: 0 0 3.2em 0; padding:0; }
dl.block-list dt { margin: 0; padding: 0 0 0.3em; font-size: 1em;}
dl.block-list dd { margin:0 0 1.8em; padding:0; font-size: 0.85em;}

/* Information Box*/
div.information-box .r1 { border-left:1px solid; border-right:1px solid; }
div.information-box .r0 { border-left:1px solid; border-right:1px solid; }
div.information-box-content { font-size: 0.9em; padding: 12px 15px;}

/* News List */
div.news-list { margin: 0 0 2em;}
div.news-item { margin: 0 0 1.3em; }
div.news-date { margin: 0 0 0.5em; }
div.news-title { font-size: 1.2em; margin: 0 0 0.5em; }
a.news-detail-link { display: block; margin: 1em 0 0; outline: none;}

/* Forms */
div.content-form div.form-input input, div.content-form div.form-input textarea, div.content-form div.form-input select 
{ 	
	border:1px solid;  
	border-color: #777 #CCCCCC #CCCCCC #777
}
 
div.content-form div.field label.field-title { font-size: 1.117em; }
/* End */
/* /bitrix/templates/corp_services_green/styles.css?15515692411274 */
/* /bitrix/templates/corp_services_green/template_styles.css?15515692418718 */
