#bx_register_error {
    display: block !important;
}

.phone-reg-submit, .phone-reg-code-submit {
    visibility:hidden;
    position: absolute;
    width:100%;
    height: 100%;
}

.hidden {
    display:none;
}



#bx_register_resend_action {
    width: 100%;
}
#bx_register_resend_action {
    background-color: #f44029;
}
#bx_register_resend_action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    text-decoration: none;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s 0s;
}


#bx_register_resend_link {
    text-indent: -20px;
}
#bx_register_resend_link {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-indent: 0;
    transition: all 0.3s 0s;
    text-decoration: none;
}
#bx_register_resend_link {
    color: #fff;
}


#bx_register_error+form{
    display:none;
}

#bx_register_resend {
    display:none;
}

#bx_register_error+form+script+#bx_register_resend{
    display:block;
}