// Path's
$images-path: '../img/';
$icons-path: '../img/icons/';
$uploaded-images-path: '../uploads/';

// Color palette
$main-color-1: #fff;
$main-color-2: #e8e8e8;
$main-color-3: #211a19;
$main-color-4: #181818;
$main-color-5: #f44029;
$main-color-6: #2b3139;
$main-color-7: #181818;
$main-color-8: #242a34;
$main-color-9: #585f6c;
$main-color-10: #2d56a0;
$main-color-11: #55c858;
$main-color-12: #bbc0c6;

// General
$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Proxima Nova Th';
$title-font-family-rg: 'Proxima Nova Rg';
$title-font-family-black: 'Proxima Nova Bl';
$title-font-family-light: 'Proxima Nova Lt';
$max-container-width: 1140px;

// Buttons

// Styled form elements

/***
 * Header
 */

// Brand

/***
 * Footer
 */

// Top line

// Products carousel

// Modal window
