.text_block {position:relative; margin:25px 0 0; padding:15px 10px 35px; background:#ffffff;}
.text_block article {padding:0 130px;}
.text_block article p {padding:20px 0 0; font-size:18px; line-height:22px; color:#393434;}
.text_block article h2 {padding:20px 0 0; font-family:PFBulletinSansPro-Italic, Tahoma, sans-serif; font-size:30px; color:#cb2b4d; font-weight:normal;}
.text_block article a {color:#cb2b4d;}
.text_block article .inform_block {margin:20px -140px 0;}
.text_block .for_img {position:relative; padding:25px 0 0; text-align:center; vertical-align:top;}
.text_block .for_img figure {display:inline-block; position:relative; text-align:center; width:31%; vertical-align:top;}
.text_block .for_img figure > span {display:inline-block; width:150px; height:150px;}
.text_block .for_img figure > span img {width:100%; line-height:150px;}
.text_block .for_img figcaption {display:inline-block; clear:both; padding:10px 5px 0; text-align:center; font-size:20px; line-height:22px; color:#4a4f5a;}
.text_block .for_img a {text-decoration:none;}
.text_block .for_img a:hover figcaption {text-decoration:underline;}