.page_registration_wrapper input[type=password], .personal_area_edit input[type=password], .reg-modal input[type=password], .fancybox-stage input[type=password] {
    height: 47px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 47px;
    background-color: #fdf6f7;
    padding: 0 20px;
    border: 0;
    font-family: 'Futura Light', Arial;
    color: #000;
    font-size: 21px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.personal_area_edit .without_icon_input input, .reg-modal input[type=password], .registration input[type=password], .fancybox-stage input[type=password] {
    padding-left: 67px;
}

.subs+.subs {
    margin-top:0px;
}

.forms-col-12+.subs {
    margin-bottom:0px;
}

#bx-soa-properties div.forms-col-12.has-error {
    border:1px solid #d9535f !important;
}

#bx-soa-region .tooltip {
    display:none  !important;
}

#bx-soa-properties div.alert-danger,
#bx-soa-properties strong,
#bx-soa-properties div.text-right {
    display:none  !important;
}

#bx-soa-order .bx-soa-section-title-container {
    display:none  !important;
}

div.date>span {
    text-transform:lowercase !important;
}

input.hidden-xs,a.hidden-xs,p.hidden-xs,h6.hidden-xs,div.hidden-xs,section.hidden-xs,span.hidden-xs {
    display:none !important;
}

a.subm {
    padding:0px;
}

body .content-section a {
    text-decoration: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}