<section class="section advantages-section">
  <div class="container">
    <h2>Почему это удобно</h2>
    <div class="advantages-list">
      <div class="item">
        <div class="icon-container"></div>
        <p>Большой выбор техники от большого количества владельцев техники</p>
      </div>
      <div class="item">
        <div class="icon-container"></div>
        <p>Снижение сметы за счет уменьшения цены  доставки техники к месту эксплуатации</p>
      </div>
      <div class="item">
        <div class="icon-container"></div>
        <p>Сокращение времени ожидания доставки техники</p>
      </div>
    </div>
  </div>
</section>