<footer class="footer">
  <div class="container">
    <div class="contacts-list">
      <div class="item">
        <span>Телефон для связи</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="21px" height="21px">
          <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                d="M19.387,10.134 C19.025,8.014 18.024,6.085 16.499,4.560 C14.891,2.955 12.854,1.936 10.608,1.622 L10.836,-0.000 C13.436,0.363 15.791,1.539 17.653,3.401 C19.418,5.172 20.576,7.402 21.000,9.858 L19.387,10.134 ZM14.729,6.247 C15.791,7.314 16.490,8.656 16.744,10.138 L15.131,10.414 C14.935,9.268 14.397,8.228 13.576,7.406 C12.706,6.536 11.605,5.989 10.394,5.819 L10.621,4.197 C12.186,4.415 13.606,5.124 14.729,6.247 ZM6.855,11.459 C7.973,12.831 9.236,14.051 10.744,15.000 C11.067,15.201 11.426,15.350 11.762,15.533 C11.932,15.629 12.050,15.599 12.190,15.455 C12.702,14.930 13.222,14.414 13.742,13.898 C14.423,13.220 15.280,13.220 15.966,13.898 C16.800,14.729 17.635,15.559 18.465,16.395 C19.160,17.094 19.156,17.951 18.457,18.659 C17.985,19.136 17.482,19.590 17.036,20.089 C16.385,20.819 15.573,21.055 14.637,21.003 C13.278,20.928 12.029,20.478 10.822,19.892 C8.144,18.589 5.854,16.784 3.935,14.501 C2.515,12.814 1.344,10.973 0.575,8.901 C0.199,7.900 -0.067,6.872 0.016,5.784 C0.068,5.115 0.317,4.542 0.811,4.074 C1.344,3.567 1.847,3.038 2.371,2.522 C3.053,1.849 3.909,1.849 4.595,2.518 C5.019,2.933 5.434,3.357 5.854,3.777 C6.260,4.188 6.667,4.590 7.073,5.001 C7.790,5.722 7.790,6.562 7.077,7.279 C6.566,7.795 6.059,8.311 5.539,8.814 C5.404,8.949 5.391,9.058 5.461,9.225 C5.806,10.047 6.300,10.777 6.855,11.459 Z"/>
        </svg>
        <a href="tel:+79852200464">+7 985 220 04 64</a>
      </div>
      <div class="item">
        <span>Электронная почта</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="22px" height="17px">
          <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                d="M21.423,16.434 C21.038,16.813 20.576,17.002 20.036,17.002 L1.964,17.002 C1.424,17.002 0.962,16.813 0.577,16.434 C0.192,16.056 -0.000,15.601 -0.000,15.069 L-0.000,5.481 C0.360,5.875 0.773,6.225 1.240,6.531 C4.203,8.512 6.236,9.901 7.342,10.698 C7.808,11.036 8.187,11.300 8.477,11.489 C8.768,11.678 9.154,11.871 9.637,12.068 C10.120,12.266 10.570,12.364 10.988,12.364 L11.000,12.364 L11.012,12.364 C11.430,12.364 11.880,12.266 12.363,12.068 C12.846,11.871 13.232,11.678 13.523,11.489 C13.814,11.300 14.192,11.036 14.658,10.698 C16.050,9.707 18.088,8.318 20.772,6.531 C21.239,6.217 21.648,5.867 22.000,5.481 L22.000,15.069 C22.000,15.601 21.808,16.055 21.423,16.434 ZM19.901,5.239 C16.823,7.340 14.908,8.649 14.155,9.164 C14.073,9.220 13.899,9.343 13.633,9.532 C13.367,9.721 13.146,9.875 12.970,9.991 C12.794,10.108 12.582,10.238 12.332,10.383 C12.083,10.528 11.847,10.637 11.626,10.709 C11.405,10.782 11.200,10.818 11.012,10.818 L11.000,10.818 L10.988,10.818 C10.799,10.818 10.595,10.782 10.374,10.709 C10.153,10.637 9.917,10.528 9.668,10.383 C9.418,10.239 9.205,10.108 9.029,9.991 C8.853,9.875 8.632,9.721 8.366,9.532 C8.100,9.343 7.927,9.220 7.845,9.164 C7.100,8.649 6.028,7.914 4.628,6.960 C3.229,6.006 2.390,5.432 2.111,5.239 C1.604,4.901 1.125,4.436 0.675,3.844 C0.225,3.253 -0.000,2.703 -0.000,2.196 C-0.000,1.568 0.170,1.044 0.509,0.626 C0.849,0.207 1.334,-0.002 1.964,-0.002 L20.036,-0.002 C20.567,-0.002 21.028,0.187 21.417,0.565 C21.805,0.944 22.000,1.399 22.000,1.930 C22.000,2.566 21.800,3.174 21.398,3.753 C20.997,4.333 20.498,4.828 19.901,5.239 Z"/>
        </svg>
        <a href="mailto:info@kopaka.ru">info@kopaka.ru</a>
      </div>
    </div>
    <span class="copyright">Copyright 2018 © Kopaka. Все права защищены.</span>
    <p>Все материалы, размещенные на сайте, в том числе фотографии продукции, являются объектами авторского права и защищены законом. Использование, воспроизведение и распространение  в любом объеме информации, размещенной на сайте, возможно только с письменного согласия.</p>
  </div>
</footer>