<section class="section how-it-works-section">
  <div class="container">
    <h2>Как это работает</h2>
    <div class="how-it-works-list">
      <div class="item">
        <div class="counter">1</div>
        <p>Указать место куда требуется доставить технику</p>
        <div class="dots-line">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="item">
        <div class="counter">2</div>
        <p>Выбрать из предложенных вариантов наиболее подходящий по вашим критериям</p>
        <div class="dots-line">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="item">
        <div class="counter">3</div>
        <p>Получить подтверждение заявки</p>
        <div class="dots-line">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="item">
        <div class="counter">4</div>
        <p>Оплатить доставку. Мы гарантируем безопасность сделки.</p>
        <div class="dots-line">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="item">
        <div class="counter">5</div>
        <p>Выполение работы</p>
      </div>
    </div>
  </div>
</section>