<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Food delivery">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=siteName%> | <%=pageName%></title>

  <!-- Favicons -->

  <!-- Fonts -->

  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="<%=bodyClass%>">
