<section class="section map-section">
  <div id="map" class="map"></div>
  <div class="menu-container">
    <div class="item">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="28px" height="27px">
          <path fill-rule="evenodd"  fill="rgb(226, 230, 216)"
                d="M27.707,26.717 C27.323,27.101 26.701,27.101 26.317,26.717 L20.275,20.676 C18.122,22.731 15.212,24.000 12.000,24.000 C5.373,24.000 -0.000,18.627 -0.000,12.000 C-0.000,5.373 5.373,-0.000 12.000,-0.000 C18.627,-0.000 24.000,5.373 24.000,12.000 C24.000,14.706 23.093,17.194 21.582,19.202 L27.707,25.327 C28.091,25.711 28.091,26.333 27.707,26.717 ZM22.000,12.000 C22.000,6.477 17.523,2.000 12.000,2.000 C6.477,2.000 2.000,6.477 2.000,12.000 C2.000,17.523 6.477,22.000 12.000,22.000 C17.523,22.000 22.000,17.523 22.000,12.000 Z"/>
        </svg>
        <span class="text">Найти технику</span>
      </a>
    </div>
    <div class="item">
      <a href="#" class="red">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="27px" height="26px">
          <path fill-rule="evenodd"  fill="rgb(226, 230, 216)"
                d="M26.000,14.000 L14.000,14.000 L14.000,25.000 C14.000,25.552 13.552,26.000 13.000,26.000 C12.448,26.000 12.000,25.552 12.000,25.000 L12.000,14.000 L1.000,14.000 C0.448,14.000 -0.000,13.552 -0.000,13.000 C-0.000,12.448 0.448,12.000 1.000,12.000 L12.000,12.000 L12.000,1.000 C12.000,0.448 12.448,-0.000 13.000,-0.000 C13.552,-0.000 14.000,0.448 14.000,1.000 L14.000,12.000 L26.000,12.000 C26.552,12.000 27.000,12.448 27.000,13.000 C27.000,13.552 26.552,14.000 26.000,14.000 Z"/>
        </svg>
        <span class="text">Предложить технику</span>
      </a>
    </div>
  </div>
</section>