<% var data = {
siteName: "Kopaka",
pageName: "Добавить технику",
bodyClass: '',
}; %>
<%= _.template(require('./../includes/html-head.html'))(data) %>

  <!-- Header -->
  <%= _.template(require('./../includes/header.html'))(data) %>
  <!-- End of Header -->

  <section class="section content-section">

    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><span>Добавить технику</span></li>
      </ul>
    </div>

    <div class="container">
      <form action="" class="form form-add-vehicle">
        <h2>Добавить технику</h2>
        <div class="vehicle-type-container">
          <h4>Выберите тип техники</h4>
          <div class="vehicle-type-selection">
            <div class="item">
              <input type="checkbox" id="type1" />
              <label for="type1">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="55px" height="57px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M50.000,46.987 C52.761,46.987 55.000,49.228 55.000,51.993 C55.000,54.151 53.633,55.984 51.722,56.687 C51.540,56.878 51.284,56.999 51.000,56.999 L19.000,56.999 C18.892,56.999 18.789,56.976 18.692,56.944 C18.465,56.976 18.235,56.999 18.000,56.999 C15.238,56.999 13.000,54.757 13.000,51.993 C13.000,49.228 15.238,46.987 18.000,46.987 L23.000,46.987 L23.000,45.986 C21.343,45.986 20.000,44.641 20.000,42.983 L20.000,40.981 L20.000,40.981 L20.000,40.838 C18.279,40.391 17.000,38.838 17.000,36.977 L17.000,33.523 L17.012,33.527 C17.016,33.226 17.047,32.924 17.131,32.624 L20.838,22.434 C21.244,20.977 22.560,19.958 24.039,19.958 L27.000,19.958 L28.456,19.958 L31.450,19.958 L21.307,14.098 C20.826,13.864 20.625,13.285 20.859,12.803 C21.093,12.321 21.672,12.121 22.154,12.354 L36.421,20.220 C37.927,20.795 39.000,22.255 39.000,23.963 L39.000,24.963 L40.000,24.963 C41.104,24.963 42.000,25.860 42.000,26.965 L42.000,32.972 L45.000,32.972 L45.000,32.972 L45.000,31.971 C44.447,31.971 44.000,31.523 44.000,30.970 C44.000,30.416 44.447,29.969 45.000,29.969 L45.000,28.968 C44.447,28.968 44.000,28.519 44.000,27.967 C44.000,27.413 44.447,26.965 45.000,26.965 L45.000,24.837 C44.680,24.919 44.345,24.963 44.000,24.963 C41.791,24.963 40.000,23.171 40.000,20.959 C40.000,20.139 40.246,19.378 40.668,18.743 L15.901,6.981 C15.641,6.875 15.356,6.878 15.098,6.988 C14.840,7.097 14.639,7.301 14.534,7.561 C14.329,8.070 14.555,8.659 15.049,8.900 L18.506,10.581 C18.988,10.814 19.188,11.395 18.954,11.877 C18.721,12.359 18.141,12.559 17.660,12.326 L17.044,12.026 L8.242,30.940 C8.655,30.944 9.020,31.210 9.151,31.602 L12.000,39.979 L13.000,39.979 C13.535,39.979 14.000,40.445 14.000,40.981 C14.000,41.516 13.535,41.982 13.000,41.982 L6.000,41.982 C2.896,41.982 0.014,39.680 0.014,36.574 C0.013,35.018 0.646,33.609 1.666,32.589 L12.152,1.478 C12.295,0.947 12.655,0.494 13.139,0.234 C13.623,-0.027 14.199,-0.076 14.721,0.098 L16.137,0.571 C16.901,0.825 17.436,1.509 17.501,2.314 L17.768,5.644 L42.326,17.322 C42.835,17.086 43.402,16.954 44.000,16.954 C46.209,16.954 48.000,18.747 48.000,20.959 C48.000,21.974 47.622,22.900 47.000,23.606 L47.000,32.972 L47.000,32.972 L49.000,32.972 C50.657,32.972 52.000,34.317 52.000,35.976 L52.000,42.983 C52.000,44.641 50.657,45.986 49.000,45.986 L48.000,45.986 L48.000,46.987 L50.000,46.987 ZM1.951,36.573 C1.951,38.610 3.964,39.979 6.000,39.979 L10.000,39.979 L7.533,32.877 L5.643,32.877 C3.607,32.877 1.951,34.535 1.951,36.573 ZM15.569,2.468 C15.567,2.441 15.549,2.419 15.524,2.410 L14.108,1.938 C14.101,1.936 14.081,1.928 14.055,1.942 C14.030,1.956 14.025,1.976 14.023,1.983 L4.057,31.168 C4.561,31.019 5.092,30.938 5.643,30.938 L6.195,30.938 L15.287,11.172 L14.200,10.643 C12.794,9.955 12.152,8.282 12.738,6.833 C13.037,6.093 13.606,5.513 14.341,5.201 C14.799,5.006 15.288,4.931 15.770,4.974 L15.569,2.468 ZM18.000,48.990 C16.343,48.990 15.000,50.334 15.000,51.993 C15.000,53.652 16.343,54.996 18.000,54.996 C19.657,54.996 21.000,53.652 21.000,51.993 C21.000,50.334 19.657,48.990 18.000,48.990 ZM21.993,48.990 C22.622,49.827 23.000,50.865 23.000,51.993 C23.000,53.121 22.622,54.158 21.993,54.996 L23.000,54.996 C23.000,54.444 23.448,53.995 24.000,53.995 C24.552,53.995 25.000,54.444 25.000,54.996 L27.000,54.996 C27.000,54.444 27.447,53.995 28.000,53.995 C28.552,53.995 29.000,54.444 29.000,54.996 L31.000,54.996 C31.000,54.444 31.448,53.995 32.000,53.995 C32.552,53.995 33.000,54.444 33.000,54.996 L35.000,54.996 C35.000,54.444 35.447,53.995 36.000,53.995 C36.552,53.995 37.000,54.444 37.000,54.996 L39.000,54.996 C39.000,54.444 39.448,53.995 40.000,53.995 C40.552,53.995 41.000,54.444 41.000,54.996 L43.000,54.996 C43.000,54.444 43.447,53.995 44.000,53.995 C44.552,53.995 45.000,54.444 45.000,54.996 L46.007,54.996 C45.377,54.158 45.000,53.121 45.000,51.993 C45.000,50.865 45.377,49.827 46.007,48.990 L45.000,48.990 C45.000,49.543 44.552,49.991 44.000,49.991 C43.447,49.991 43.000,49.543 43.000,48.990 L41.000,48.990 C41.000,49.543 40.552,49.991 40.000,49.991 C39.448,49.991 39.000,49.543 39.000,48.990 L37.000,48.990 C37.000,49.543 36.552,49.991 36.000,49.991 C35.447,49.991 35.000,49.543 35.000,48.990 L33.000,48.990 C33.000,49.543 32.552,49.991 32.000,49.991 C31.448,49.991 31.000,49.543 31.000,48.990 L29.000,48.990 C29.000,49.543 28.552,49.991 28.000,49.991 C27.447,49.991 27.000,49.543 27.000,48.990 L25.000,48.990 C25.000,49.543 24.552,49.991 24.000,49.991 C23.448,49.991 23.000,49.543 23.000,48.990 L21.993,48.990 ZM46.000,46.987 L46.000,45.986 L25.000,45.986 L25.000,46.987 L46.000,46.987 ZM31.048,23.373 C31.048,22.594 30.430,21.960 29.671,21.960 L27.000,21.960 L24.039,21.960 C23.427,21.960 22.882,22.382 22.715,22.984 L19.008,33.173 C18.888,33.604 18.970,34.055 19.232,34.412 C19.495,34.770 19.896,34.975 20.332,34.975 L29.671,34.975 C30.430,34.975 31.048,34.341 31.048,33.562 L31.048,23.373 ZM37.000,35.976 C36.447,35.976 36.000,35.527 36.000,34.975 C36.000,34.422 36.447,33.973 37.000,33.973 L37.000,32.972 C36.447,32.972 36.000,32.524 36.000,31.971 C36.000,31.418 36.447,30.970 37.000,30.970 L37.000,29.969 C36.447,29.969 36.000,29.520 36.000,28.968 C36.000,28.415 36.447,27.967 37.000,27.967 L37.000,26.965 C36.447,26.965 36.000,26.518 36.000,25.964 C36.000,25.412 36.447,24.963 37.000,24.963 L37.000,23.963 C37.000,22.858 36.102,21.960 35.000,21.960 L32.693,21.960 C32.886,22.392 33.000,22.868 33.000,23.373 L33.000,33.562 C33.000,35.445 31.506,36.977 29.671,36.977 L20.332,36.977 C19.862,36.977 19.414,36.864 19.000,36.678 L19.000,36.977 C19.000,38.080 19.897,38.979 21.000,38.979 L35.000,38.979 C36.102,38.979 37.000,38.080 37.000,36.977 L37.000,35.976 ZM40.000,26.965 L39.000,26.965 L39.000,32.972 L40.000,32.972 L40.000,26.965 ZM44.000,18.956 C42.895,18.956 42.000,19.853 42.000,20.959 C42.000,22.065 42.895,22.961 44.000,22.961 C45.104,22.961 46.000,22.065 46.000,20.959 C46.000,19.853 45.104,18.956 44.000,18.956 ZM49.000,43.984 C49.551,43.984 50.000,43.535 50.000,42.983 L50.000,35.976 C50.000,35.423 49.551,34.975 49.000,34.975 L42.000,34.975 L39.000,34.975 L39.000,36.977 C39.000,39.186 37.206,40.981 35.000,40.981 L22.000,40.981 L22.000,41.982 L22.000,42.983 C22.000,43.535 22.448,43.984 23.000,43.984 L49.000,43.984 ZM47.000,51.993 C47.000,53.652 48.343,54.996 50.000,54.996 C51.657,54.996 53.000,53.652 53.000,51.993 C53.000,50.334 51.657,48.990 50.000,48.990 C48.343,48.990 47.000,50.334 47.000,51.993 ZM51.000,51.993 C51.000,52.546 50.552,52.994 50.000,52.994 C49.447,52.994 49.000,52.546 49.000,51.993 C49.000,51.441 49.447,50.992 50.000,50.992 C50.552,50.992 51.000,51.441 51.000,51.993 ZM44.000,36.977 L47.000,36.977 C47.552,36.977 48.000,37.424 48.000,37.978 C48.000,38.531 47.552,38.979 47.000,38.979 L44.000,38.979 C43.447,38.979 43.000,38.531 43.000,37.978 C43.000,37.424 43.447,36.977 44.000,36.977 ZM44.000,39.979 L47.000,39.979 C47.552,39.979 48.000,40.428 48.000,40.981 C48.000,41.534 47.552,41.982 47.000,41.982 L44.000,41.982 C43.447,41.982 43.000,41.534 43.000,40.981 C43.000,40.428 43.447,39.979 44.000,39.979 ZM44.000,21.960 C43.447,21.960 43.000,21.512 43.000,20.959 C43.000,20.406 43.447,19.958 44.000,19.958 C44.552,19.958 45.000,20.406 45.000,20.959 C45.000,21.512 44.552,21.960 44.000,21.960 ZM18.000,52.994 C17.448,52.994 17.000,52.546 17.000,51.993 C17.000,51.441 17.448,50.992 18.000,50.992 C18.552,50.992 19.000,51.441 19.000,51.993 C19.000,52.546 18.552,52.994 18.000,52.994 Z"/>
                </svg>
              </span>
                <span class="text">Строительная <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type2" />
              <label for="type2">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="53px" height="49px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M50.305,32.964 L49.383,32.964 C51.573,34.590 53.000,37.175 53.000,40.091 C53.000,45.003 48.970,49.000 44.017,49.000 C39.680,49.000 36.050,45.934 35.215,41.873 L22.455,41.873 C20.692,46.054 16.526,49.000 11.678,49.000 C5.239,49.000 -0.000,43.804 -0.000,37.418 C-0.000,31.032 5.239,25.836 11.678,25.836 C13.228,25.836 14.762,26.156 16.184,26.745 C16.195,25.193 16.256,23.646 16.351,22.101 C15.569,22.755 14.574,23.164 13.475,23.164 C10.998,23.164 8.983,21.165 8.983,18.709 C8.983,16.253 10.998,14.254 13.475,14.254 C14.882,14.254 16.125,14.913 16.949,15.921 C17.642,10.742 17.903,10.086 19.523,5.086 C18.607,4.659 17.966,3.742 17.966,2.673 C17.966,1.199 19.175,-0.000 20.661,-0.000 L44.017,-0.000 C45.503,-0.000 46.712,1.199 46.712,2.673 C46.712,3.833 45.958,4.813 44.915,5.182 L44.915,17.818 L46.712,17.818 C48.198,17.818 49.407,19.017 49.407,20.491 L49.407,23.164 L50.305,23.164 C51.791,23.164 53.000,24.363 53.000,25.836 L53.000,30.291 C53.000,31.764 51.791,32.964 50.305,32.964 ZM13.475,16.036 C11.989,16.036 10.780,17.235 10.780,18.709 C10.780,20.183 11.989,21.382 13.475,21.382 C14.960,21.382 16.169,20.183 16.169,18.709 C16.169,17.235 14.960,16.036 13.475,16.036 ZM44.017,47.218 C47.979,47.218 51.203,44.021 51.203,40.091 C51.203,36.161 47.979,32.964 44.017,32.964 C40.054,32.964 36.830,36.161 36.830,40.091 C36.830,44.021 40.054,47.218 44.017,47.218 ZM41.300,16.036 C41.697,16.557 41.993,17.156 42.130,17.818 L43.119,17.818 L43.119,5.345 L41.322,5.345 L41.322,8.909 L39.525,8.909 L39.525,5.345 L28.746,5.345 L28.746,23.164 L35.034,23.164 L35.034,21.382 L33.237,21.382 L33.237,18.709 C33.237,16.253 35.252,14.254 37.729,14.254 C38.368,14.254 38.974,14.392 39.525,14.632 L39.525,11.582 L41.322,11.582 L41.322,16.036 L41.300,16.036 ZM35.034,28.509 L35.034,24.945 L28.746,24.945 L28.746,32.073 L30.542,32.073 L30.542,28.509 L35.034,28.509 ZM32.339,30.291 L32.339,32.073 L35.034,32.073 L35.034,30.291 L32.339,30.291 ZM40.424,18.709 C40.424,17.235 39.215,16.036 37.729,16.036 C36.243,16.036 35.034,17.235 35.034,18.709 L35.034,19.600 L40.424,19.600 L40.424,18.709 ZM36.830,21.382 L36.830,32.073 L38.627,32.073 L38.627,21.382 L36.830,21.382 ZM28.746,40.091 L28.746,38.309 L23.310,38.309 C23.263,38.918 23.168,39.512 23.030,40.091 L28.746,40.091 ZM23.320,36.527 L30.542,36.527 L30.542,40.091 L35.034,40.091 C35.034,37.664 36.020,35.463 37.613,33.855 L28.746,33.855 L26.949,33.855 L22.785,33.855 C23.067,34.719 23.250,35.614 23.320,36.527 ZM11.678,27.618 C6.230,27.618 1.797,32.015 1.797,37.418 C1.797,42.821 6.230,47.218 11.678,47.218 C17.126,47.218 21.559,42.821 21.559,37.418 C21.559,35.840 21.160,34.311 20.437,32.926 L17.606,35.333 C17.845,36.000 17.966,36.698 17.966,37.418 C17.966,40.856 15.144,43.654 11.678,43.654 C8.211,43.654 5.390,40.856 5.390,37.418 C5.390,33.980 8.211,31.182 11.678,31.182 C12.203,31.182 12.716,31.269 13.220,31.395 L15.456,28.371 C14.264,27.883 12.978,27.618 11.678,27.618 ZM9.411,36.549 L9.411,36.548 L12.037,32.996 C11.917,32.986 11.799,32.964 11.678,32.964 C9.201,32.964 7.186,34.962 7.186,37.418 C7.186,39.874 9.201,41.873 11.678,41.873 C14.155,41.873 16.169,39.874 16.169,37.418 C16.169,37.147 16.139,36.882 16.091,36.621 L12.631,39.563 C12.230,39.904 11.719,40.091 11.193,40.091 C9.975,40.091 8.983,39.107 8.983,37.899 C8.983,37.374 9.130,36.927 9.411,36.549 ZM10.860,37.603 C10.807,37.673 10.780,37.756 10.780,37.844 C10.780,38.247 11.211,38.423 11.462,38.210 L22.628,28.717 C23.091,28.324 23.356,27.754 23.356,27.149 L23.356,27.011 C23.356,25.872 22.422,24.945 21.274,24.945 C20.612,24.945 19.984,25.261 19.595,25.790 L10.860,37.603 ZM18.018,24.909 L18.146,24.736 C18.873,23.752 20.043,23.164 21.274,23.164 C23.412,23.164 25.153,24.890 25.153,27.011 L25.153,27.150 C25.153,28.275 24.658,29.340 23.797,30.071 L21.847,31.729 C21.911,31.842 21.972,31.957 22.034,32.073 L26.949,32.073 L26.949,5.345 L21.322,5.345 C20.935,6.527 20.577,7.715 20.242,8.909 L20.528,8.909 C21.274,8.909 21.992,9.220 22.501,9.762 C23.009,10.303 23.270,11.036 23.216,11.773 L23.473,16.228 C23.372,17.619 22.191,18.710 20.785,18.710 L18.432,18.710 C18.220,20.768 18.080,22.835 18.018,24.909 ZM18.620,16.927 L20.785,16.927 C21.254,16.927 21.647,16.564 21.681,16.100 L21.424,11.645 C21.442,11.397 21.357,11.158 21.186,10.975 C21.014,10.792 20.780,10.691 20.528,10.691 L19.761,10.691 C18.855,14.213 19.067,13.325 18.620,16.927 ZM44.017,1.782 L20.661,1.782 C20.165,1.782 19.763,2.182 19.763,2.673 C19.763,3.164 20.165,3.564 20.661,3.564 L44.017,3.564 C44.513,3.564 44.915,3.164 44.915,2.673 C44.915,2.182 44.513,1.782 44.017,1.782 ZM47.610,20.491 C47.610,20.000 47.208,19.600 46.712,19.600 L42.220,19.600 L42.220,21.382 L40.424,21.382 L40.424,23.164 L47.610,23.164 L47.610,20.491 ZM51.203,25.836 C51.203,25.345 50.801,24.945 50.305,24.945 L49.407,24.945 L40.424,24.945 L40.424,31.182 L50.305,31.182 C50.801,31.182 51.203,30.783 51.203,30.291 L51.203,25.836 ZM44.017,36.527 C45.999,36.527 47.610,38.126 47.610,40.091 C47.610,42.056 45.999,43.654 44.017,43.654 C42.035,43.654 40.424,42.056 40.424,40.091 C40.424,38.126 42.035,36.527 44.017,36.527 ZM44.017,41.873 C45.008,41.873 45.813,41.074 45.813,40.091 C45.813,39.108 45.008,38.309 44.017,38.309 C43.026,38.309 42.220,39.108 42.220,40.091 C42.220,41.074 43.026,41.873 44.017,41.873 Z"/>
                </svg>
              </span>
                <span class="text">Дорожная <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type3" />
              <label for="type3">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="58px" height="61px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M55.000,53.998 L53.981,53.998 C53.724,57.907 50.474,60.998 46.500,60.998 C42.526,60.998 39.276,57.907 39.018,53.998 L20.850,53.998 C20.155,57.422 17.128,59.998 13.500,59.998 C9.871,59.998 6.845,57.422 6.150,53.998 L3.000,53.998 C1.343,53.998 -0.000,52.655 -0.000,50.999 C-0.000,49.692 0.835,48.582 2.000,48.170 L2.000,35.999 C2.000,35.944 2.005,35.891 2.014,35.839 C1.977,35.620 2.012,35.388 2.127,35.182 L8.800,25.484 C8.983,25.154 9.324,24.980 9.666,24.999 C9.673,24.999 9.680,24.999 9.687,24.999 L18.000,24.999 L18.000,24.999 L21.000,24.999 C21.552,24.999 22.000,25.446 22.000,25.999 L22.000,28.999 L22.000,29.999 L22.000,31.998 L24.000,31.998 C24.552,31.998 25.000,32.446 25.000,32.999 L25.000,47.999 L25.000,47.999 L29.000,47.999 L29.000,46.999 C29.000,44.793 30.794,42.999 33.000,42.999 L33.000,38.999 C33.000,37.894 33.895,36.999 35.000,36.999 L36.000,36.999 L36.000,25.707 L14.000,8.596 L14.000,13.998 C14.000,14.551 13.552,14.998 13.000,14.998 C12.926,14.998 12.855,14.990 12.786,14.975 C11.763,15.080 10.961,15.947 10.961,16.999 C10.961,18.120 11.873,19.032 12.994,19.032 C13.908,19.032 14.715,18.417 14.955,17.537 C15.100,17.010 15.649,16.700 16.170,16.844 C16.697,16.988 17.007,17.532 16.863,18.058 C16.388,19.796 14.797,21.009 12.994,21.009 C10.782,21.009 8.984,19.210 8.984,16.999 C8.984,15.130 10.268,13.556 12.000,13.112 L12.000,7.873 C10.275,7.429 9.000,5.863 9.000,3.999 C9.000,1.789 10.791,-0.001 13.000,-0.001 C15.018,-0.001 16.686,1.493 16.960,3.436 L40.365,19.040 C40.573,19.014 40.785,18.998 41.000,18.998 C43.761,18.998 46.000,21.237 46.000,23.999 L46.000,36.999 L47.000,36.999 C48.104,36.999 49.000,37.894 49.000,38.999 L49.000,42.999 C51.206,42.999 53.000,44.793 53.000,46.999 L53.000,47.999 L54.000,47.999 L55.000,47.999 L55.000,47.999 C56.657,47.999 58.000,49.342 58.000,50.999 C58.000,52.655 56.657,53.998 55.000,53.998 ZM13.500,57.999 C16.537,57.999 19.000,55.537 19.000,52.499 C19.000,49.461 16.537,46.999 13.500,46.999 C10.462,46.999 8.000,49.461 8.000,52.499 C8.000,55.537 10.462,57.999 13.500,57.999 ZM2.000,50.999 C2.000,51.551 2.448,51.998 3.000,51.998 L6.018,51.998 C6.064,51.302 6.205,50.631 6.428,49.999 L3.000,49.999 C2.448,49.999 2.000,50.446 2.000,50.999 ZM20.000,32.999 L20.000,32.999 L20.000,32.999 L20.000,29.999 L20.000,29.999 L20.000,26.998 L19.000,26.998 L18.000,26.998 L10.056,26.998 L3.984,35.824 C3.994,35.881 4.000,35.939 4.000,35.999 L4.000,47.999 L7.500,47.999 C8.868,46.177 11.046,44.998 13.500,44.998 C15.953,44.998 18.132,46.177 19.500,47.999 L20.000,47.999 L20.000,32.999 ZM23.000,47.999 L23.000,33.998 L22.000,33.998 L22.000,44.998 L22.000,47.999 L23.000,47.999 L23.000,47.999 ZM29.000,49.999 L20.571,49.999 C20.795,50.631 20.935,51.302 20.981,51.998 L39.150,51.998 C39.294,51.290 39.539,50.619 39.867,49.999 L38.303,49.999 L29.000,49.999 ZM13.000,1.998 C11.895,1.998 11.000,2.894 11.000,3.999 C11.000,5.103 11.895,5.999 13.000,5.999 C14.104,5.999 15.000,5.103 15.000,3.999 C15.000,2.894 14.104,1.998 13.000,1.998 ZM16.650,5.634 C16.376,6.245 15.953,6.775 15.427,7.178 L36.060,23.226 C36.270,21.869 37.026,20.696 38.095,19.930 L16.650,5.634 ZM41.000,20.998 C39.343,20.998 38.000,22.342 38.000,23.999 C38.000,25.656 39.343,26.998 41.000,26.998 C42.657,26.998 44.000,25.656 44.000,23.999 C44.000,22.342 42.657,20.998 41.000,20.998 ZM44.000,27.998 C43.164,28.626 42.125,28.999 41.000,28.999 C39.874,28.999 38.836,28.626 38.000,27.998 L38.000,36.999 L39.000,36.999 L39.000,31.998 C39.000,31.446 39.448,30.998 40.000,30.998 C40.552,30.998 41.000,31.446 41.000,31.998 L41.000,36.999 L44.000,36.999 L44.000,27.998 ZM47.000,41.998 L40.000,41.998 C39.448,41.998 39.000,41.551 39.000,40.999 C39.000,40.447 39.448,39.999 40.000,39.999 L47.000,39.999 L47.000,38.999 L35.000,38.999 L35.000,39.999 L36.000,39.999 C36.552,39.999 37.000,40.447 37.000,40.999 C37.000,41.551 36.552,41.998 36.000,41.998 L35.000,41.998 L35.000,42.999 L47.000,42.999 L47.000,41.998 ZM51.000,46.999 C51.000,45.895 50.102,44.998 49.000,44.998 L33.000,44.998 C31.897,44.998 31.000,45.895 31.000,46.999 L31.000,47.999 L41.403,47.999 C42.741,46.758 44.531,45.999 46.500,45.999 C48.189,45.999 49.746,46.558 51.000,47.501 L51.000,46.999 ZM46.500,47.999 C43.462,47.999 41.000,50.461 41.000,53.498 C41.000,56.536 43.462,58.999 46.500,58.999 C49.537,58.999 52.000,56.536 52.000,53.498 C52.000,50.461 49.537,47.999 46.500,47.999 ZM55.000,49.999 L53.183,49.999 L53.133,49.999 C53.461,50.619 53.706,51.290 53.849,51.998 L55.000,51.998 L55.000,51.998 C55.552,51.998 56.000,51.551 56.000,50.999 C56.000,50.446 55.552,49.999 55.000,49.999 ZM46.500,56.999 C44.567,56.999 43.000,55.431 43.000,53.498 C43.000,51.566 44.567,49.999 46.500,49.999 C48.433,49.999 50.000,51.566 50.000,53.498 C50.000,55.431 48.433,56.999 46.500,56.999 ZM46.500,51.998 C45.671,51.998 45.000,52.670 45.000,53.498 C45.000,54.327 45.671,54.999 46.500,54.999 C47.328,54.999 48.000,54.327 48.000,53.498 C48.000,52.670 47.328,51.998 46.500,51.998 ZM41.000,24.999 C40.448,24.999 40.000,24.550 40.000,23.999 C40.000,23.447 40.448,22.999 41.000,22.999 C41.552,22.999 42.000,23.447 42.000,23.999 C42.000,24.550 41.552,24.999 41.000,24.999 ZM13.000,4.999 C12.447,4.999 12.000,4.550 12.000,3.999 C12.000,3.446 12.447,2.999 13.000,2.999 C13.552,2.999 14.000,3.446 14.000,3.999 C14.000,4.550 13.552,4.999 13.000,4.999 ZM18.000,42.999 C17.448,42.999 17.000,42.551 17.000,41.998 L17.000,39.999 C17.000,39.446 17.448,38.999 18.000,38.999 C18.552,38.999 19.000,39.446 19.000,39.999 L19.000,41.998 C19.000,42.551 18.552,42.999 18.000,42.999 ZM18.000,37.998 L6.000,37.998 C5.987,37.998 5.974,37.997 5.961,37.997 C5.779,38.011 5.591,37.971 5.420,37.869 C4.970,37.598 4.816,36.998 5.076,36.529 L10.544,28.487 C10.727,28.156 11.068,27.980 11.411,28.000 C11.420,28.000 11.428,27.998 11.437,27.998 L18.000,27.998 C18.552,27.998 19.000,28.446 19.000,28.999 L19.000,28.999 L19.000,28.999 L19.000,36.999 C19.000,37.550 18.552,37.998 18.000,37.998 ZM17.000,29.999 L11.813,29.999 L7.733,35.999 L17.000,35.999 L17.000,29.999 ZM6.000,38.999 L14.000,38.999 C14.552,38.999 15.000,39.446 15.000,39.999 C15.000,40.551 14.552,40.999 14.000,40.999 L6.000,40.999 C5.447,40.999 5.000,40.551 5.000,39.999 C5.000,39.446 5.447,38.999 6.000,38.999 ZM13.500,48.999 C15.433,48.999 17.000,50.565 17.000,52.499 C17.000,54.432 15.433,55.999 13.500,55.999 C11.567,55.999 10.000,54.432 10.000,52.499 C10.000,50.565 11.567,48.999 13.500,48.999 ZM13.500,53.998 C14.328,53.998 15.000,53.327 15.000,52.499 C15.000,51.670 14.328,50.999 13.500,50.999 C12.671,50.999 12.000,51.670 12.000,52.499 C12.000,53.327 12.671,53.998 13.500,53.998 Z"/>
                </svg>
              </span>
                <span class="text">Подъемная <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type4" />
              <label for="type4">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="65px" height="40px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M64.674,15.916 L56.979,27.745 C57.605,28.296 58.000,29.101 58.000,29.998 C58.000,31.655 56.657,32.999 55.000,32.999 L53.981,32.999 C53.724,36.907 50.474,39.999 46.500,39.999 C42.526,39.999 39.276,36.907 39.018,32.999 L20.849,32.999 C20.155,36.422 17.128,38.999 13.500,38.999 C9.871,38.999 6.845,36.422 6.150,32.999 L3.000,32.999 C1.343,32.999 -0.000,31.655 -0.000,29.998 C-0.000,28.693 0.835,27.582 2.000,27.171 L2.000,14.998 C2.000,14.944 2.005,14.891 2.014,14.839 C1.977,14.621 2.011,14.388 2.127,14.182 L8.800,4.484 C8.983,4.155 9.324,3.979 9.666,3.999 C9.673,3.999 9.680,3.998 9.687,3.998 L20.000,3.998 L20.000,1.998 L16.000,1.998 C15.447,1.998 15.000,1.551 15.000,0.999 C15.000,0.446 15.447,-0.001 16.000,-0.001 L26.000,-0.001 C26.051,-0.001 26.101,0.004 26.151,0.011 C26.540,-0.049 26.938,0.155 27.124,0.550 L29.279,4.998 L59.000,4.998 C59.400,4.998 59.745,5.234 59.904,5.574 C59.934,5.618 59.962,5.664 59.985,5.714 L64.655,14.834 C64.689,14.906 64.713,14.980 64.729,15.055 C64.835,15.326 64.825,15.643 64.674,15.916 ZM53.849,30.998 L55.000,30.998 C55.552,30.998 56.000,30.551 56.000,29.998 C56.000,29.447 55.552,28.999 55.000,28.999 L53.133,28.999 C53.461,29.619 53.706,30.290 53.849,30.998 ZM46.500,37.998 C49.537,37.998 52.000,35.536 52.000,32.499 C52.000,29.461 49.537,26.999 46.500,26.999 C43.462,26.999 41.000,29.461 41.000,32.499 C41.000,35.536 43.462,37.998 46.500,37.998 ZM13.500,36.998 C16.537,36.998 19.000,34.536 19.000,31.498 C19.000,28.461 16.537,25.999 13.500,25.999 C10.462,25.999 8.000,28.461 8.000,31.498 C8.000,34.536 10.462,36.998 13.500,36.998 ZM2.000,29.998 C2.000,30.551 2.448,30.998 3.000,30.998 L6.018,30.998 C6.064,30.302 6.205,29.630 6.428,28.999 L3.000,28.999 C2.448,28.999 2.000,29.447 2.000,29.998 ZM20.000,5.999 L10.056,5.999 L3.984,14.824 C3.994,14.881 4.000,14.939 4.000,14.998 L4.000,26.999 L7.500,26.999 C8.868,25.177 11.046,23.999 13.500,23.999 C15.953,23.999 18.132,25.177 19.500,26.999 L20.000,26.999 L20.000,5.999 ZM20.981,30.998 L39.150,30.998 C39.294,30.290 39.539,29.619 39.867,28.999 L20.571,28.999 C20.795,29.630 20.935,30.302 20.981,30.998 ZM58.516,6.999 L28.844,6.999 C28.820,6.999 28.797,6.996 28.773,6.995 C28.754,6.996 28.734,6.999 28.715,6.999 C28.371,6.999 28.040,6.797 27.876,6.450 L25.720,1.998 L22.000,1.998 L22.000,26.999 L41.403,26.999 C42.741,25.759 44.531,24.998 46.500,24.998 C48.468,24.998 50.259,25.759 51.597,26.999 L55.000,26.999 C55.065,26.999 55.129,27.001 55.193,27.005 L62.784,15.334 L58.516,6.999 ZM54.487,19.068 C54.353,19.140 54.210,19.173 54.070,19.173 C53.727,19.173 53.397,18.972 53.234,18.624 L49.864,11.454 C49.633,10.962 49.820,10.365 50.281,10.119 C50.743,9.874 51.304,10.072 51.535,10.564 L54.905,17.734 C55.136,18.225 54.949,18.823 54.487,19.068 ZM50.099,22.894 C49.965,22.966 49.822,22.999 49.682,22.999 C49.339,22.999 49.009,22.798 48.845,22.449 L43.678,11.454 C43.447,10.962 43.634,10.365 44.095,10.120 C44.557,9.874 45.119,10.072 45.349,10.564 L50.517,21.560 C50.748,22.051 50.561,22.648 50.099,22.894 ZM43.914,22.894 C43.779,22.966 43.637,22.999 43.496,22.999 C43.154,22.999 42.823,22.798 42.660,22.449 L37.492,11.454 C37.261,10.962 37.448,10.365 37.910,10.120 C38.372,9.874 38.933,10.072 39.164,10.564 L44.331,21.560 C44.562,22.051 44.375,22.648 43.914,22.894 ZM37.727,22.894 C37.593,22.966 37.451,22.999 37.310,22.999 C36.967,22.999 36.637,22.798 36.473,22.449 L31.306,11.454 C31.075,10.962 31.262,10.365 31.724,10.120 C32.185,9.874 32.747,10.072 32.978,10.564 L38.145,21.560 C38.376,22.051 38.189,22.648 37.727,22.894 ZM31.542,22.894 C31.407,22.966 31.265,22.999 31.124,22.999 C30.782,22.999 30.452,22.798 30.288,22.449 L25.120,11.454 C24.889,10.962 25.076,10.365 25.538,10.120 C26.000,9.874 26.561,10.072 26.792,10.564 L31.960,21.560 C32.190,22.051 32.003,22.648 31.542,22.894 ZM18.000,21.998 C17.448,21.998 17.000,21.551 17.000,20.999 L17.000,18.998 C17.000,18.446 17.448,17.998 18.000,17.998 C18.552,17.998 19.000,18.446 19.000,18.998 L19.000,20.999 C19.000,21.551 18.552,21.998 18.000,21.998 ZM18.000,16.999 L6.000,16.999 C5.987,16.999 5.974,16.997 5.961,16.997 C5.779,17.011 5.591,16.971 5.420,16.868 C4.970,16.597 4.816,15.998 5.076,15.529 L10.544,7.488 C10.727,7.157 11.068,6.981 11.411,7.000 C11.420,7.000 11.428,6.999 11.437,6.999 L18.000,6.999 C18.552,6.999 19.000,7.446 19.000,7.998 L19.000,15.999 C19.000,16.551 18.552,16.999 18.000,16.999 ZM17.000,8.999 L11.813,8.999 L7.733,14.998 L17.000,14.998 L17.000,8.999 ZM6.000,17.998 L14.000,17.998 C14.552,17.998 15.000,18.446 15.000,18.998 C15.000,19.551 14.552,19.999 14.000,19.999 L6.000,19.999 C5.447,19.999 5.000,19.551 5.000,18.998 C5.000,18.446 5.447,17.998 6.000,17.998 ZM13.500,27.999 C15.433,27.999 17.000,29.566 17.000,31.498 C17.000,33.432 15.433,34.998 13.500,34.998 C11.567,34.998 10.000,33.432 10.000,31.498 C10.000,29.566 11.567,27.999 13.500,27.999 ZM13.500,32.999 C14.328,32.999 15.000,32.327 15.000,31.498 C15.000,30.670 14.328,29.998 13.500,29.998 C12.671,29.998 12.000,30.670 12.000,31.498 C12.000,32.327 12.671,32.999 13.500,32.999 ZM46.500,28.999 C48.433,28.999 50.000,30.565 50.000,32.499 C50.000,34.432 48.433,35.999 46.500,35.999 C44.567,35.999 43.000,34.432 43.000,32.499 C43.000,30.565 44.567,28.999 46.500,28.999 ZM46.500,33.999 C47.328,33.999 48.000,33.327 48.000,32.499 C48.000,31.670 47.328,30.998 46.500,30.998 C45.671,30.998 45.000,31.670 45.000,32.499 C45.000,33.327 45.671,33.999 46.500,33.999 Z"/>
                </svg>
              </span>
                <span class="text">Грузовая <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type5" />
              <label for="type5">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="64px" height="44px">
                  <path fill-rule="evenodd"  fill="rgb(243, 71, 48)"
                        d="M61.238,37.298 L59.328,37.617 C57.854,41.445 54.155,44.000 50.035,44.000 C46.426,44.000 43.167,42.093 41.394,38.987 L39.013,38.987 C37.390,38.987 36.070,37.665 36.070,36.041 L36.070,35.979 L27.738,35.979 C26.832,40.546 22.798,44.000 17.973,44.000 C13.880,44.000 10.357,41.515 8.828,37.974 C8.760,37.965 8.692,37.949 8.625,37.924 L1.260,35.160 C0.506,34.877 -0.000,34.146 -0.000,33.341 L-0.000,31.028 C-0.000,30.224 0.491,29.531 1.189,29.237 L3.754,20.256 C4.644,17.137 7.157,14.738 10.313,13.995 L22.043,11.233 L22.043,5.891 L19.977,5.891 C19.527,5.891 19.141,5.572 19.054,5.131 C19.040,5.060 19.035,4.989 19.037,4.919 C19.038,4.844 19.038,4.545 19.037,4.119 L19.037,2.945 C19.037,1.321 20.358,-0.000 21.980,-0.000 L40.016,-0.000 C41.638,-0.000 42.958,1.321 42.958,2.945 C42.958,4.570 41.638,5.891 40.016,5.891 L23.922,5.891 L23.922,11.930 L24.433,17.053 L28.994,17.053 C30.617,17.053 31.937,18.375 31.937,19.999 L31.937,26.078 L35.689,26.078 C36.418,26.078 37.153,25.916 37.815,25.610 L38.178,25.442 C38.112,25.313 38.074,25.167 38.074,25.012 L38.074,15.843 C38.074,15.697 38.086,15.552 38.108,15.408 L37.010,14.309 L35.670,15.650 C35.487,15.834 35.246,15.925 35.006,15.925 C34.766,15.925 34.525,15.834 34.342,15.650 C33.975,15.283 33.975,14.688 34.342,14.321 L38.349,10.310 C38.716,9.943 39.311,9.943 39.677,10.310 C40.044,10.677 40.044,11.273 39.677,11.639 L38.338,12.980 L39.029,13.672 C39.123,13.586 39.223,13.505 39.329,13.430 C40.115,12.880 41.122,12.747 42.023,13.075 L49.037,15.627 C50.195,16.049 50.975,17.161 50.975,18.395 L50.975,19.719 C50.975,20.566 50.605,21.361 49.992,21.912 L50.720,24.095 C54.053,24.320 57.016,26.177 58.677,29.085 L61.056,29.085 C62.679,29.085 64.000,30.407 64.000,32.031 L64.000,34.036 C64.000,35.607 62.787,37.040 61.238,37.298 ZM50.035,42.120 C52.985,42.120 55.669,40.505 57.081,37.991 L53.168,38.644 C52.036,38.833 50.181,38.987 49.033,38.987 L43.645,38.987 C45.157,40.950 47.488,42.120 50.035,42.120 ZM17.973,42.120 C22.427,42.120 26.050,38.493 26.050,34.036 C26.050,32.842 25.789,31.710 25.323,30.689 C25.183,30.549 25.089,30.365 25.060,30.160 C23.686,27.655 21.024,25.952 17.973,25.952 C13.518,25.952 9.894,29.579 9.894,34.036 C9.894,38.493 13.518,42.120 17.973,42.120 ZM1.942,30.965 C1.942,30.965 1.941,30.965 1.940,30.965 C1.906,30.966 1.879,30.993 1.879,31.028 L1.879,33.341 C1.879,33.367 1.895,33.391 1.919,33.400 L8.165,35.744 C8.069,35.188 8.015,34.618 8.015,34.036 C8.015,32.965 8.187,31.933 8.502,30.965 L1.945,30.965 C1.943,30.965 1.943,30.965 1.942,30.965 ZM40.016,4.011 C40.602,4.011 41.080,3.533 41.080,2.945 C41.080,2.358 40.602,1.880 40.016,1.880 L21.980,1.880 C21.394,1.880 20.916,2.358 20.916,2.945 L20.916,4.011 L40.016,4.011 ZM30.059,19.999 C30.059,19.411 29.581,18.933 28.994,18.933 L24.621,18.933 L24.705,19.773 C24.820,20.922 25.328,22.006 26.137,22.828 L29.595,25.707 C29.617,25.726 29.638,25.745 29.658,25.765 C29.773,25.880 29.910,25.964 30.059,26.016 L30.059,19.999 ZM38.602,27.317 C37.695,27.736 36.688,27.958 35.689,27.958 L30.411,27.958 C29.640,27.958 28.915,27.663 28.363,27.128 L24.901,24.245 C24.879,24.227 24.857,24.207 24.837,24.187 C23.706,23.055 22.995,21.554 22.836,19.961 L22.154,13.138 L10.743,15.825 C8.250,16.412 6.263,18.308 5.560,20.772 L3.187,29.085 L8.955,29.085 C9.077,29.085 9.193,29.109 9.299,29.152 C11.009,26.123 14.255,24.072 17.973,24.072 C21.663,24.072 24.888,26.093 26.608,29.085 L34.004,29.085 C34.522,29.085 34.943,29.506 34.943,30.025 C34.943,30.544 34.522,30.965 34.004,30.965 L27.444,30.965 C27.757,31.933 27.929,32.965 27.929,34.036 C27.929,34.057 27.928,34.078 27.928,34.099 L36.070,34.099 L36.070,32.031 C36.070,30.407 37.390,29.085 39.013,29.085 L41.394,29.085 C42.955,26.354 45.677,24.548 48.759,24.154 L48.318,22.830 L38.602,27.317 ZM49.096,18.395 C49.096,17.949 48.814,17.547 48.395,17.394 L41.381,14.842 C41.261,14.798 41.137,14.776 41.014,14.776 C40.800,14.776 40.590,14.842 40.407,14.970 C40.119,15.173 39.953,15.491 39.953,15.843 L39.953,24.623 L48.477,20.685 C48.853,20.512 49.096,20.132 49.096,19.719 L49.096,18.395 ZM50.037,25.952 C50.036,25.952 50.036,25.952 50.035,25.952 C50.034,25.952 50.033,25.952 50.032,25.952 C47.497,25.953 45.160,27.125 43.647,29.085 L56.425,29.085 C54.914,27.123 52.583,25.953 50.037,25.952 ZM62.121,32.031 C62.121,31.443 61.643,30.965 61.056,30.965 L58.122,30.965 C58.120,30.965 58.118,30.965 58.116,30.965 C58.114,30.965 58.113,30.965 58.111,30.965 L39.013,30.965 C38.426,30.965 37.949,31.443 37.949,32.031 L37.949,36.041 C37.949,36.629 38.426,37.107 39.013,37.107 L49.033,37.107 C50.077,37.107 51.829,36.962 52.859,36.790 L60.929,35.444 C61.564,35.338 62.121,34.680 62.121,34.036 L62.121,32.031 ZM50.035,34.976 C49.788,34.976 49.545,34.876 49.371,34.700 C49.196,34.526 49.096,34.284 49.096,34.036 C49.096,33.789 49.196,33.546 49.371,33.372 C49.545,33.196 49.788,33.096 50.035,33.096 C50.282,33.096 50.525,33.196 50.699,33.372 C50.874,33.546 50.975,33.789 50.975,34.036 C50.975,34.284 50.874,34.526 50.699,34.700 C50.525,34.876 50.283,34.976 50.035,34.976 ZM17.973,29.085 C18.391,29.085 18.807,29.138 19.209,29.242 C19.711,29.371 20.014,29.884 19.884,30.386 C19.755,30.889 19.243,31.191 18.741,31.062 C18.491,30.998 18.233,30.965 17.973,30.965 C16.280,30.965 14.904,32.343 14.904,34.036 C14.904,35.729 16.280,37.107 17.973,37.107 C19.664,37.107 21.041,35.729 21.041,34.036 C21.041,33.775 21.008,33.516 20.944,33.266 C20.814,32.764 21.117,32.251 21.619,32.121 C22.121,31.992 22.634,32.295 22.763,32.797 C22.867,33.200 22.919,33.617 22.919,34.036 C22.919,36.766 20.700,38.987 17.973,38.987 C15.245,38.987 13.025,36.766 13.025,34.036 C13.025,31.306 15.245,29.085 17.973,29.085 Z"/>
                </svg>
              </span>
                <span class="text">Коммунальная <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type6" />
              <label for="type6">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="66px" height="46px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M66.000,28.711 C66.000,29.262 65.529,29.500 64.992,29.500 L48.366,29.500 C47.830,29.500 47.359,29.052 47.359,28.500 L47.359,25.500 L45.343,25.500 L45.343,32.784 C46.853,33.708 47.863,35.360 47.863,37.250 C47.863,40.149 45.494,42.500 42.572,42.500 C40.463,42.500 38.648,41.272 37.798,39.500 L15.606,39.500 C14.756,41.272 12.941,42.500 10.832,42.500 C7.910,42.500 5.542,40.149 5.542,37.250 C5.542,35.360 6.551,33.708 8.061,32.784 L8.061,27.500 C8.061,26.948 8.532,26.500 9.069,26.500 L11.084,26.500 L11.084,8.500 C11.084,6.186 12.865,4.000 15.114,4.000 L19.649,4.000 L19.649,2.500 C19.649,1.067 20.775,-0.000 22.168,-0.000 C23.560,-0.000 24.687,1.067 24.687,2.500 L24.687,4.000 L30.733,4.000 C32.567,4.000 33.994,5.535 34.476,7.356 L39.801,28.000 L43.328,28.000 C43.350,28.000 42.978,27.998 43.000,28.000 L43.000,8.000 C43.000,7.448 43.774,7.461 44.310,7.461 C44.847,7.461 45.343,7.948 45.343,8.500 L45.343,17.000 L47.359,17.000 L47.359,8.500 C47.359,7.948 47.830,7.500 48.366,7.500 C48.903,7.500 49.374,7.948 49.374,8.500 L49.374,27.500 L51.389,27.500 L51.389,5.500 C51.389,4.948 51.861,4.500 52.397,4.500 L64.992,4.500 C65.529,4.500 66.000,4.948 66.000,5.500 L66.000,28.711 ZM7.557,37.250 C7.557,39.045 9.023,40.500 10.832,40.500 C12.641,40.500 14.107,39.045 14.107,37.250 C14.107,35.455 12.641,34.000 10.832,34.000 C9.023,34.000 7.557,35.455 7.557,37.250 ZM15.114,15.000 L15.114,9.500 L15.114,7.500 L15.114,6.000 C13.936,6.000 13.099,7.287 13.099,8.500 L13.099,26.500 L15.114,26.500 L15.114,15.000 ZM19.649,6.000 L17.130,6.000 L17.130,12.500 L19.649,12.500 L19.649,6.000 ZM20.152,26.500 C19.616,26.500 19.649,26.051 19.649,25.500 L19.649,20.500 L19.649,17.500 L19.649,14.500 L17.130,14.500 L17.130,15.000 L17.130,17.500 L17.130,27.000 L26.702,32.000 L27.710,32.000 L27.710,27.000 C27.710,26.669 27.527,26.500 27.206,26.500 L20.152,26.500 ZM22.672,2.500 C22.672,2.169 22.489,2.000 22.168,2.000 C21.847,2.000 21.664,2.169 21.664,2.500 L21.664,4.000 L22.672,4.000 L22.672,2.500 ZM32.603,7.881 C32.350,6.928 31.694,6.000 30.733,6.000 L23.175,6.000 L22.672,6.000 L21.664,6.000 L21.664,17.500 L21.664,20.500 L21.664,24.500 L27.217,24.514 C28.610,24.514 29.742,25.679 29.742,27.112 L29.725,32.000 L34.763,32.000 L38.290,28.500 L32.603,7.881 ZM43.000,30.000 C42.978,30.002 43.350,30.000 43.328,30.000 L39.801,30.000 L35.674,33.681 C35.491,33.868 35.021,34.000 34.763,34.000 L26.702,34.000 C26.551,34.000 26.400,33.937 26.265,33.868 L16.122,28.500 L10.076,28.500 L10.064,32.061 C10.315,32.025 10.570,32.000 10.832,32.000 C13.754,32.000 16.122,34.350 16.122,37.250 C16.122,37.334 16.113,37.416 16.109,37.500 L37.295,37.500 C37.291,37.416 37.282,37.334 37.282,37.250 C37.282,34.350 39.651,32.000 42.572,32.000 C42.833,32.000 42.749,31.963 43.000,32.000 L43.000,30.000 ZM42.572,34.000 C40.764,34.000 39.298,35.455 39.298,37.250 C39.298,39.045 40.764,40.500 42.572,40.500 C44.381,40.500 45.847,39.045 45.847,37.250 C45.847,35.455 44.381,34.000 42.572,34.000 ZM47.359,19.000 L45.343,19.000 L45.343,23.500 L47.359,23.500 L47.359,19.000 ZM63.985,6.500 L59.954,6.500 L59.954,8.500 C59.954,9.051 59.483,9.500 58.946,9.500 C58.410,9.500 57.939,9.051 57.939,8.500 L57.939,6.500 L53.404,6.500 L53.404,16.000 L63.985,16.000 L63.985,6.500 ZM63.985,18.000 L59.954,18.000 L59.954,20.000 C59.954,20.552 59.483,21.000 58.946,21.000 C58.410,21.000 57.939,20.552 57.939,20.000 L57.939,18.000 L53.404,18.000 L53.404,27.500 L63.985,27.500 L63.985,18.000 ZM42.572,39.000 C41.598,39.000 40.809,38.216 40.809,37.250 C40.809,36.283 41.598,35.500 42.572,35.500 C43.546,35.500 44.336,36.283 44.336,37.250 C44.336,38.216 43.546,39.000 42.572,39.000 ZM12.595,37.250 C12.595,38.216 11.806,39.000 10.832,39.000 C9.858,39.000 9.069,38.216 9.069,37.250 C9.069,36.283 9.858,35.500 10.832,35.500 C11.806,35.500 12.595,36.283 12.595,37.250 ZM16.122,45.000 C16.122,45.552 15.671,46.000 15.114,46.000 L1.007,46.000 C0.451,46.000 -0.000,45.552 -0.000,45.000 C-0.000,44.448 0.451,44.000 1.007,44.000 L15.114,44.000 C15.671,44.000 16.122,44.448 16.122,45.000 ZM21.160,44.000 L31.236,44.000 C31.793,44.000 32.244,44.448 32.244,45.000 C32.244,45.552 31.793,46.000 31.236,46.000 L21.160,46.000 C20.604,46.000 20.153,45.552 20.153,45.000 C20.153,44.448 20.604,44.000 21.160,44.000 ZM37.282,44.000 L39.298,44.000 C39.854,44.000 40.305,44.448 40.305,45.000 C40.305,45.552 39.854,46.000 39.298,46.000 L37.282,46.000 C36.726,46.000 36.275,45.552 36.275,45.000 C36.275,44.448 36.726,44.000 37.282,44.000 ZM43.328,44.000 L59.450,44.000 C60.006,44.000 60.458,44.448 60.458,45.000 C60.458,45.552 60.006,46.000 59.450,46.000 L43.328,46.000 C42.772,46.000 42.320,45.552 42.320,45.000 C42.320,44.448 42.772,44.000 43.328,44.000 Z"/>
                </svg>
              </span>
                <span class="text">Складская <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type7" />
              <label for="type7">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="60px" height="44px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M57.000,33.999 L53.920,33.999 C53.433,37.387 50.520,40.000 47.000,40.000 C43.140,40.000 40.000,36.860 40.000,32.999 C40.000,29.140 43.140,26.000 47.000,26.000 C50.520,26.000 53.433,28.612 53.920,31.999 L57.000,31.999 C57.551,31.999 58.000,31.551 58.000,30.999 L58.000,27.999 L57.000,27.999 C56.448,27.999 56.000,27.551 56.000,26.999 C56.000,26.448 56.448,26.000 57.000,26.000 L58.000,26.000 L58.000,19.999 L48.000,19.999 L48.000,24.000 C48.000,24.551 47.552,25.000 47.000,25.000 C46.448,25.000 46.000,24.551 46.000,24.000 L46.000,19.999 L5.000,19.999 C4.448,19.999 4.000,19.551 4.000,18.999 C4.000,18.448 4.448,17.999 5.000,17.999 L6.000,17.999 L6.000,6.000 L5.000,6.000 C4.448,6.000 4.000,5.551 4.000,5.000 C4.000,4.448 4.448,4.000 5.000,4.000 L46.000,4.000 L46.000,2.000 L3.000,2.000 C2.449,2.000 2.000,2.448 2.000,3.000 L2.000,26.000 L3.000,26.000 C3.552,26.000 4.000,26.448 4.000,27.000 C4.000,27.552 3.552,28.000 3.000,28.000 L2.000,28.000 L2.000,31.000 C2.000,31.551 2.449,32.000 3.000,32.000 C3.552,32.000 4.000,32.448 4.000,33.000 C4.000,33.552 3.552,34.000 3.000,34.000 C1.346,34.000 -0.000,32.654 -0.000,31.000 L-0.000,3.000 C-0.000,1.346 1.346,-0.000 3.000,-0.000 L53.000,-0.000 C56.925,-0.000 60.000,3.075 60.000,7.000 L60.000,30.999 C60.000,32.653 58.654,33.999 57.000,33.999 ZM47.000,28.000 C44.243,28.000 42.000,30.243 42.000,33.000 C42.000,35.757 44.243,38.000 47.000,38.000 C49.757,38.000 52.000,35.757 52.000,33.000 C52.000,30.243 49.757,28.000 47.000,28.000 ZM16.000,6.000 L8.000,6.000 L8.000,18.000 L16.000,18.000 L16.000,18.000 L16.000,6.000 ZM26.000,6.000 L18.000,6.000 L18.000,18.000 L26.000,18.000 L26.000,6.000 ZM36.000,6.000 L28.000,6.000 L28.000,18.000 L36.000,18.000 L36.000,6.000 ZM46.000,6.000 L38.000,6.000 L38.000,18.000 L46.000,18.000 L46.000,6.000 ZM58.000,7.000 C58.000,4.149 55.851,2.000 53.000,2.000 L48.000,2.000 L48.000,17.999 L52.382,17.999 L54.105,14.553 C54.352,14.059 54.952,13.857 55.447,14.106 C55.941,14.353 56.142,14.953 55.895,15.447 L54.618,18.000 L58.000,18.000 L58.000,18.000 L58.000,7.000 ZM47.000,36.000 C45.346,36.000 44.000,34.654 44.000,33.000 C44.000,31.346 45.346,30.000 47.000,30.000 C48.654,30.000 50.000,31.346 50.000,33.000 C50.000,34.654 48.654,36.000 47.000,36.000 ZM47.000,32.000 C46.449,32.000 46.000,32.449 46.000,33.000 C46.000,33.551 46.449,34.000 47.000,34.000 C47.551,34.000 48.000,33.551 48.000,33.000 C48.000,32.449 47.551,32.000 47.000,32.000 ZM1.000,42.000 L15.000,42.000 C15.552,42.000 16.000,42.448 16.000,43.000 C16.000,43.552 15.552,44.000 15.000,44.000 L1.000,44.000 C0.448,44.000 -0.000,43.552 -0.000,43.000 C-0.000,42.448 0.448,42.000 1.000,42.000 ZM6.000,33.000 C6.000,29.140 9.140,26.000 13.000,26.000 C16.520,26.000 19.433,28.613 19.920,32.000 L37.000,32.000 C37.552,32.000 38.000,32.448 38.000,33.000 C38.000,33.552 37.552,34.000 37.000,34.000 L19.920,34.000 C19.433,37.387 16.520,40.000 13.000,40.000 C9.140,40.000 6.000,36.860 6.000,33.000 ZM18.000,33.000 C18.000,30.243 15.757,28.000 13.000,28.000 C10.243,28.000 8.000,30.243 8.000,33.000 C8.000,35.757 10.243,38.000 13.000,38.000 C15.757,38.000 18.000,35.757 18.000,33.000 ZM10.000,33.000 C10.000,31.346 11.346,30.000 13.000,30.000 C14.654,30.000 16.000,31.346 16.000,33.000 C16.000,34.654 14.654,36.000 13.000,36.000 C11.346,36.000 10.000,34.654 10.000,33.000 ZM14.000,33.000 C14.000,32.449 13.551,32.000 13.000,32.000 C12.449,32.000 12.000,32.449 12.000,33.000 C12.000,33.551 12.449,34.000 13.000,34.000 C13.551,34.000 14.000,33.551 14.000,33.000 ZM21.000,42.000 L31.000,42.000 C31.552,42.000 32.000,42.448 32.000,43.000 C32.000,43.552 31.552,44.000 31.000,44.000 L21.000,44.000 C20.448,44.000 20.000,43.552 20.000,43.000 C20.000,42.448 20.448,42.000 21.000,42.000 ZM39.000,28.000 L21.000,28.000 C20.448,28.000 20.000,27.552 20.000,27.000 C20.000,26.448 20.448,26.000 21.000,26.000 L39.000,26.000 C39.552,26.000 40.000,26.448 40.000,27.000 C40.000,27.552 39.552,28.000 39.000,28.000 ZM37.000,42.000 L39.000,42.000 C39.552,42.000 40.000,42.448 40.000,43.000 C40.000,43.552 39.552,44.000 39.000,44.000 L37.000,44.000 C36.448,44.000 36.000,43.552 36.000,43.000 C36.000,42.448 36.448,42.000 37.000,42.000 ZM43.000,42.000 L59.000,42.000 C59.552,42.000 60.000,42.448 60.000,43.000 C60.000,43.552 59.552,44.000 59.000,44.000 L43.000,44.000 C42.448,44.000 42.000,43.552 42.000,43.000 C42.000,42.448 42.448,42.000 43.000,42.000 Z"/>
                </svg>
              </span>
                <span class="text">Пассажирская <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type8" />
              <label for="type8">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="55px" height="50px">
                  <path fill-rule="evenodd"  fill="rgb(243, 71, 48)"
                        d="M53.201,42.116 C53.251,42.451 53.278,42.794 53.278,43.143 C53.278,46.924 50.212,50.000 46.443,50.000 C42.674,50.000 39.608,46.924 39.608,43.143 C39.608,42.831 39.631,42.525 39.671,42.225 L32.666,42.225 C31.746,42.225 30.998,41.474 30.998,40.551 L30.998,40.497 L28.361,40.497 C28.322,40.497 28.284,40.493 28.246,40.488 C26.173,46.038 20.831,50.000 14.584,50.000 C6.543,50.000 -0.000,43.436 -0.000,35.367 C-0.000,31.774 1.298,28.480 3.448,25.931 C3.445,25.908 3.444,25.886 3.444,25.864 L3.444,18.898 L1.668,18.898 C1.222,18.898 0.861,18.536 0.861,18.088 C0.861,17.641 1.222,17.278 1.668,17.278 L5.169,17.278 C5.164,17.206 5.168,17.132 5.183,17.058 L8.426,1.608 C8.042,1.545 7.750,1.212 7.750,0.810 C7.750,0.363 8.111,-0.000 8.557,-0.000 L34.389,-0.000 C34.834,-0.000 35.196,0.363 35.196,0.810 C35.196,1.257 34.834,1.620 34.389,1.620 L34.343,1.620 L38.493,19.941 L40.329,20.151 L37.088,5.840 C36.827,4.693 37.168,3.512 37.996,2.681 L39.708,0.963 C40.023,0.647 40.534,0.647 40.850,0.963 C41.165,1.279 41.165,1.793 40.850,2.109 L39.138,3.826 C38.704,4.262 38.526,4.880 38.662,5.481 L42.029,20.346 L47.758,21.003 C50.909,21.397 53.278,23.952 53.278,26.947 L53.278,32.963 C54.278,33.302 55.000,34.251 55.000,35.367 L55.000,39.687 C55.000,40.832 54.240,41.801 53.201,42.116 ZM46.443,48.380 C49.321,48.380 51.663,46.031 51.663,43.143 C51.663,40.255 49.321,37.905 46.443,37.905 C43.565,37.905 41.223,40.255 41.223,43.143 C41.223,46.031 43.565,48.380 46.443,48.380 ZM1.614,35.367 C1.614,42.543 7.433,48.380 14.584,48.380 C21.735,48.380 27.554,42.543 27.554,35.367 C27.554,28.192 21.735,22.354 14.584,22.354 C7.433,22.354 1.614,28.192 1.614,35.367 ZM5.059,18.898 L5.059,24.295 C7.616,22.078 10.947,20.735 14.584,20.735 C22.626,20.735 29.168,27.298 29.168,35.367 C29.168,36.577 29.020,37.752 28.743,38.877 L30.998,38.877 L30.998,35.367 C30.998,26.286 23.635,18.898 14.584,18.898 L5.059,18.898 ZM20.666,18.338 L20.666,5.076 L16.739,5.076 C15.422,5.076 14.298,6.063 14.124,7.371 L12.808,17.278 L14.584,17.278 C16.717,17.278 18.765,17.653 20.666,18.338 ZM32.740,1.853 C32.722,1.775 32.717,1.696 32.722,1.620 L10.073,1.620 L6.787,17.278 L11.196,17.278 C11.192,17.226 11.194,17.172 11.201,17.118 L12.524,7.157 C12.805,5.047 14.616,3.456 16.739,3.456 L33.103,3.456 L32.740,1.853 ZM33.470,5.076 L22.280,5.076 L22.280,18.952 C22.280,18.972 22.278,18.991 22.277,19.010 C22.834,19.275 23.376,19.567 23.900,19.886 C23.950,19.876 24.002,19.870 24.056,19.870 L36.821,19.870 L33.470,5.076 ZM51.663,28.401 L50.748,28.401 C50.721,28.401 50.695,28.428 50.695,28.456 L50.695,29.320 C50.695,29.348 50.721,29.374 50.748,29.374 L51.663,29.374 L51.663,28.401 ZM51.663,30.994 L50.748,30.994 C49.828,30.994 49.080,30.243 49.080,29.320 L49.080,28.456 C49.080,27.533 49.828,26.782 50.748,26.782 L51.659,26.782 C51.573,24.674 49.843,22.896 47.567,22.612 L37.787,21.490 L26.135,21.490 C29.479,24.297 31.797,28.296 32.434,32.829 L51.663,32.829 L51.663,30.994 ZM53.385,35.367 C53.385,34.861 52.975,34.449 52.470,34.449 L32.590,34.449 C32.604,34.753 32.612,35.059 32.612,35.367 L32.612,40.551 C32.612,40.581 32.636,40.605 32.666,40.605 L40.096,40.605 C41.103,38.077 43.568,36.285 46.443,36.285 C49.299,36.285 51.749,38.052 52.770,40.553 C53.128,40.428 53.385,40.088 53.385,39.687 L53.385,35.367 ZM7.316,28.075 C7.338,28.052 7.362,28.031 7.386,28.012 C9.242,26.184 11.784,25.054 14.584,25.054 C17.384,25.054 19.926,26.184 21.782,28.012 C21.806,28.031 21.830,28.052 21.852,28.075 C21.875,28.097 21.895,28.121 21.915,28.146 C23.737,30.008 24.863,32.558 24.863,35.367 C24.863,38.177 23.737,40.727 21.915,42.589 C21.895,42.613 21.875,42.637 21.852,42.660 C21.830,42.683 21.806,42.703 21.782,42.723 C19.926,44.551 17.384,45.680 14.584,45.680 C11.784,45.680 9.242,44.551 7.386,42.723 C7.362,42.703 7.338,42.683 7.316,42.660 C7.293,42.637 7.273,42.614 7.254,42.589 C5.431,40.727 4.305,38.177 4.305,35.367 C4.305,32.558 5.431,30.008 7.254,28.146 C7.273,28.121 7.293,28.097 7.316,28.075 ZM6.835,36.177 L5.959,36.177 C6.124,37.967 6.832,39.602 7.916,40.912 L8.534,40.292 C8.849,39.976 9.360,39.976 9.675,40.292 C9.991,40.609 9.991,41.122 9.675,41.438 L9.058,42.057 C10.364,43.146 11.993,43.855 13.777,44.021 L13.777,43.143 C13.777,42.695 14.138,42.333 14.584,42.333 C15.030,42.333 15.392,42.695 15.392,43.143 L15.392,44.021 C17.175,43.855 18.804,43.146 20.111,42.057 L19.493,41.438 C19.178,41.122 19.178,40.609 19.493,40.293 C19.808,39.977 20.319,39.977 20.634,40.293 L21.252,40.912 C22.336,39.602 23.044,37.967 23.210,36.177 L22.334,36.177 C21.888,36.177 21.526,35.814 21.526,35.367 C21.526,34.920 21.888,34.557 22.334,34.557 L23.209,34.557 C23.044,32.768 22.336,31.133 21.251,29.823 L20.634,30.442 C20.477,30.601 20.270,30.679 20.064,30.679 C19.857,30.679 19.651,30.601 19.493,30.442 C19.178,30.126 19.178,29.613 19.493,29.296 L20.110,28.677 C18.804,27.589 17.175,26.879 15.391,26.713 L15.391,27.592 C15.391,28.039 15.029,28.401 14.584,28.401 C14.138,28.401 13.777,28.039 13.777,27.592 L13.777,26.713 C11.993,26.879 10.364,27.589 9.058,28.677 L9.675,29.296 C9.991,29.613 9.991,30.126 9.675,30.442 C9.518,30.601 9.311,30.679 9.105,30.679 C8.898,30.679 8.691,30.600 8.534,30.442 L7.916,29.823 C6.832,31.133 6.124,32.768 5.959,34.557 L6.835,34.557 C7.280,34.557 7.642,34.920 7.642,35.367 C7.642,35.814 7.280,36.177 6.835,36.177 ZM12.916,35.367 C12.916,34.444 13.664,33.694 14.584,33.694 C15.504,33.694 16.252,34.444 16.252,35.367 C16.252,36.290 15.504,37.041 14.584,37.041 C13.664,37.041 12.916,36.290 12.916,35.367 ZM14.584,35.314 C14.554,35.314 14.530,35.337 14.530,35.367 C14.530,35.397 14.554,35.421 14.584,35.421 C14.614,35.421 14.638,35.397 14.638,35.367 C14.638,35.337 14.614,35.314 14.584,35.314 ZM14.584,30.238 C15.293,30.238 15.979,30.381 16.624,30.663 C17.033,30.841 17.221,31.319 17.042,31.729 C16.864,32.139 16.388,32.326 15.980,32.148 C15.539,31.955 15.070,31.857 14.584,31.857 C12.655,31.857 11.086,33.432 11.086,35.367 C11.086,37.302 12.655,38.877 14.584,38.877 C16.513,38.877 18.082,37.302 18.082,35.367 C18.082,34.880 17.985,34.409 17.793,33.967 C17.615,33.557 17.801,33.079 18.210,32.901 C18.619,32.722 19.095,32.910 19.273,33.320 C19.554,33.967 19.696,34.656 19.696,35.367 C19.696,38.196 17.403,40.497 14.584,40.497 C11.765,40.497 9.471,38.196 9.471,35.367 C9.471,32.539 11.765,30.238 14.584,30.238 ZM46.443,39.741 C46.889,39.741 47.250,40.104 47.250,40.551 C47.250,40.998 46.889,41.361 46.443,41.361 C45.464,41.361 44.667,42.160 44.667,43.143 C44.667,44.125 45.464,44.925 46.443,44.925 C47.422,44.925 48.219,44.125 48.219,43.143 C48.219,42.695 48.580,42.333 49.026,42.333 C49.472,42.333 49.833,42.695 49.833,43.143 C49.833,45.019 48.312,46.545 46.443,46.545 C44.574,46.545 43.053,45.019 43.053,43.143 C43.053,41.267 44.574,39.741 46.443,39.741 Z"/>
                </svg>
              </span>
                <span class="text">Сельскохозяйственная <br> техника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type9" />
              <label for="type9">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="60px" height="56px">
                  <path fill-rule="evenodd"  fill="rgb(243, 71, 48)"
                        d="M59.471,48.908 C58.928,49.612 58.045,50.000 56.985,50.000 L53.905,50.000 C53.418,53.387 50.504,56.000 46.986,56.000 C43.127,56.000 39.986,52.860 39.986,49.000 C39.986,45.140 43.127,42.000 46.986,42.000 C50.504,42.000 53.418,44.613 53.905,48.000 L56.985,48.000 C57.404,48.000 57.734,47.886 57.887,47.686 C58.002,47.539 58.024,47.331 57.955,47.066 L57.134,42.000 L54.985,42.000 C54.432,42.000 53.985,41.552 53.985,41.000 C53.985,40.448 54.432,40.000 54.985,40.000 L56.641,40.000 C55.977,38.375 54.276,36.000 49.985,36.000 L46.986,36.000 C44.654,36.000 43.421,34.015 43.159,33.539 L37.188,25.601 C35.669,23.294 33.425,22.000 30.996,22.000 L16.998,22.000 C15.032,22.000 13.727,22.778 12.893,24.447 L10.174,30.798 C9.970,31.275 9.434,31.514 8.943,31.354 C3.593,29.600 -0.000,24.635 -0.000,19.000 C-0.000,11.831 5.830,6.000 12.998,6.000 L34.076,6.000 C34.563,2.613 37.476,-0.000 40.995,-0.000 L44.995,-0.000 C45.548,-0.000 45.995,0.448 45.995,1.000 L45.995,2.000 L50.994,2.000 C51.547,2.000 51.994,2.448 51.994,3.000 C51.994,3.552 51.547,4.000 50.994,4.000 L45.995,4.000 L45.995,10.000 L50.994,10.000 C51.547,10.000 51.994,10.448 51.994,11.000 C51.994,11.552 51.547,12.000 50.994,12.000 L45.995,12.000 L45.995,13.000 C45.995,13.552 45.548,14.000 44.995,14.000 L40.995,14.000 C37.476,14.000 34.563,11.387 34.076,8.000 L12.998,8.000 C6.934,8.000 2.000,12.935 2.000,19.000 C2.000,23.461 4.661,27.426 8.711,29.134 L11.080,23.606 C12.283,21.195 14.266,20.000 16.998,20.000 L30.997,20.000 C34.064,20.000 36.990,21.664 38.823,24.451 L44.804,32.399 C44.842,32.449 44.875,32.503 44.902,32.560 C44.907,32.568 45.649,34.000 46.986,34.000 L49.985,34.000 C55.603,34.000 58.306,37.515 58.965,40.804 L59.909,46.653 C60.117,47.428 59.969,48.263 59.471,48.908 ZM46.986,44.000 C44.229,44.000 41.986,46.243 41.986,49.000 C41.986,51.757 44.229,54.000 46.986,54.000 C49.742,54.000 51.985,51.757 51.985,49.000 C51.985,46.243 49.742,44.000 46.986,44.000 ZM40.995,12.000 L43.995,12.000 L43.995,2.000 L40.995,2.000 C38.239,2.000 35.996,4.243 35.996,7.000 C35.996,9.757 38.239,12.000 40.995,12.000 ZM46.986,52.000 C45.332,52.000 43.986,50.654 43.986,49.000 C43.986,47.346 45.332,46.000 46.986,46.000 C48.640,46.000 49.985,47.346 49.985,49.000 C49.985,50.654 48.640,52.000 46.986,52.000 ZM46.986,48.000 C46.435,48.000 45.986,48.449 45.986,49.000 C45.986,49.551 46.435,50.000 46.986,50.000 C47.537,50.000 47.985,49.551 47.985,49.000 C47.985,48.449 47.537,48.000 46.986,48.000 ZM3.000,34.000 L21.998,34.000 L21.998,25.000 C21.998,24.448 22.445,24.000 22.997,24.000 C23.549,24.000 23.997,24.448 23.997,25.000 L23.997,34.000 L35.369,34.000 L37.093,30.553 C37.341,30.058 37.939,29.858 38.434,30.105 C38.928,30.352 39.128,30.953 38.881,31.447 L37.605,34.000 L40.986,34.000 C41.539,34.000 41.986,34.448 41.986,35.000 C41.986,35.552 41.539,36.000 40.986,36.000 L24.217,36.000 L25.977,44.804 C26.086,45.345 25.735,45.872 25.193,45.980 C25.127,45.994 25.061,46.000 24.996,46.000 C24.529,46.000 24.111,45.671 24.016,45.196 L22.177,36.000 L3.000,36.000 C2.449,36.000 2.000,36.449 2.000,37.000 L2.000,40.000 L3.000,40.000 C3.551,40.000 3.999,40.448 3.999,41.000 C3.999,41.552 3.551,42.000 3.000,42.000 L2.000,42.000 L2.000,47.000 C2.000,47.551 2.449,48.000 3.000,48.000 L3.516,48.000 C4.067,48.000 4.515,48.448 4.515,49.000 C4.515,49.552 4.067,50.000 3.516,50.000 L3.000,50.000 C1.346,50.000 -0.000,48.654 -0.000,47.000 L-0.000,37.000 C-0.000,35.346 1.346,34.000 3.000,34.000 ZM27.997,40.000 C27.445,40.000 26.997,39.552 26.997,39.000 C26.997,38.448 27.445,38.000 27.997,38.000 L28.997,38.000 C29.549,38.000 29.996,38.448 29.996,39.000 C29.996,39.552 29.549,40.000 28.997,40.000 L27.997,40.000 ZM12.998,42.000 C16.517,42.000 19.431,44.613 19.918,48.000 L36.987,48.000 C37.540,48.000 37.987,48.448 37.987,49.000 C37.987,49.552 37.540,50.000 36.987,50.000 L19.918,50.000 C19.431,53.387 16.517,56.000 12.998,56.000 C9.139,56.000 5.999,52.860 5.999,49.000 C5.999,45.140 9.139,42.000 12.998,42.000 ZM12.998,54.000 C15.755,54.000 17.998,51.757 17.998,49.000 C17.998,46.243 15.755,44.000 12.998,44.000 C10.242,44.000 7.999,46.243 7.999,49.000 C7.999,51.757 10.242,54.000 12.998,54.000 ZM12.998,46.000 C14.652,46.000 15.998,47.346 15.998,49.000 C15.998,50.654 14.652,52.000 12.998,52.000 C11.345,52.000 9.999,50.654 9.999,49.000 C9.999,47.346 11.345,46.000 12.998,46.000 ZM12.998,50.000 C13.549,50.000 13.998,49.551 13.998,49.000 C13.998,48.449 13.549,48.000 12.998,48.000 C12.447,48.000 11.999,48.449 11.999,49.000 C11.999,49.551 12.447,50.000 12.998,50.000 Z"/>
                </svg>
              </span>
                <span class="text">Электротехника</span>
              </label>
            </div>
            <div class="item">
              <input type="checkbox" id="type10" />
              <label for="type10">
              <span class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="61px" height="36px">
                  <path fill-rule="evenodd"  fill="rgb(243, 71, 48)"
                        d="M59.999,36.000 L1.931,36.000 C1.331,36.000 0.930,35.600 0.930,35.000 L0.930,30.000 C0.930,29.681 1.045,29.419 1.241,29.243 C0.360,28.770 -0.133,27.851 0.029,26.800 C0.129,25.500 1.230,24.600 2.532,24.600 C2.832,24.600 2.932,24.400 3.033,24.200 C3.033,24.100 3.033,23.800 2.732,23.700 C1.531,23.200 0.930,21.900 1.331,20.700 C1.731,19.500 2.932,18.800 4.234,19.000 C4.634,19.100 4.735,18.900 4.835,18.700 C4.935,18.600 4.935,18.300 4.634,18.100 C3.533,17.300 3.233,16.000 3.934,14.900 C4.534,13.800 5.936,13.300 7.037,13.900 C7.338,14.100 7.538,13.900 7.638,13.800 C7.738,13.700 7.838,13.500 7.638,13.200 C6.737,12.200 6.737,10.800 7.638,9.900 C8.539,8.900 9.841,8.800 10.942,9.500 C11.242,9.700 11.442,9.600 11.643,9.500 C11.743,9.400 11.943,9.200 11.743,8.900 C11.042,7.700 11.342,6.400 12.344,5.600 C13.345,4.800 14.746,5.000 15.647,5.900 C15.948,6.200 16.148,6.100 16.348,6.100 C16.448,6.000 16.649,5.900 16.549,5.600 C16.148,4.300 16.649,3.000 17.850,2.500 C19.051,2.000 20.353,2.400 21.054,3.500 L21.154,3.600 C21.054,4.000 21.254,4.000 21.454,3.900 C21.554,3.900 21.855,3.700 21.755,3.400 L21.755,3.300 C21.654,2.000 22.455,0.900 23.657,0.600 C24.958,0.300 26.160,1.000 26.560,2.200 L26.560,2.300 C26.660,2.600 26.960,2.600 27.061,2.600 C27.161,2.600 27.461,2.500 27.461,2.200 L27.461,2.100 C27.661,0.900 28.663,-0.000 29.964,-0.000 C31.265,-0.000 32.267,0.900 32.467,2.200 L32.467,2.300 C32.467,2.600 32.767,2.700 32.867,2.700 C32.967,2.700 33.268,2.700 33.368,2.400 L33.368,2.300 C33.768,1.100 34.970,0.400 36.271,0.700 C37.573,1.000 38.374,2.100 38.173,3.400 L38.173,3.500 C38.173,3.800 38.374,4.000 38.474,4.000 C38.574,4.000 38.874,4.100 39.074,3.800 L39.175,3.700 C39.775,2.600 41.177,2.200 42.278,2.700 C43.479,3.200 43.980,4.500 43.580,5.700 C43.480,6.100 43.680,6.300 43.780,6.300 C43.880,6.300 44.180,6.500 44.381,6.200 L44.481,6.100 C45.382,5.100 46.683,5.000 47.785,5.800 C48.786,6.600 49.086,7.900 48.486,9.000 C48.285,9.300 48.486,9.500 48.586,9.600 C48.686,9.700 48.886,9.800 49.186,9.600 C50.188,8.900 51.589,9.000 52.490,10.000 C53.391,11.000 53.391,12.300 52.490,13.300 C52.290,13.600 52.390,13.800 52.390,13.900 C52.490,14.000 52.691,14.200 52.991,14.100 C54.192,13.600 55.594,14.000 56.195,15.100 C56.795,16.200 56.495,17.600 55.494,18.300 C55.193,18.500 55.294,18.700 55.294,18.900 C55.394,19.000 55.494,19.200 55.794,19.200 C57.096,18.900 58.297,19.600 58.697,20.900 C59.098,22.100 58.497,23.400 57.296,23.900 C56.995,24.000 56.995,24.300 57.096,24.400 C57.096,24.500 57.196,24.800 57.596,24.800 C58.898,24.800 59.899,25.700 60.099,27.000 C60.159,27.784 59.891,28.493 59.406,29.000 L59.999,29.000 C60.600,29.000 61.000,29.400 61.000,30.000 L61.000,35.000 C61.000,35.600 60.600,36.000 59.999,36.000 ZM57.596,26.700 C56.395,26.700 55.394,25.900 55.194,24.700 C54.993,23.500 55.494,22.400 56.595,21.900 C56.896,21.800 56.896,21.500 56.795,21.300 C56.795,21.100 56.595,20.900 56.295,21.000 C55.093,21.300 53.992,20.700 53.492,19.600 C52.991,18.500 53.291,17.300 54.292,16.600 C54.593,16.400 54.493,16.100 54.393,16.000 C54.292,15.900 54.092,15.700 53.792,15.800 C52.691,16.300 51.489,16.000 50.788,15.000 C50.088,14.000 50.188,12.800 50.989,11.900 C51.289,11.600 51.189,11.400 50.989,11.300 C50.888,11.200 50.688,11.000 50.388,11.200 C49.387,11.900 48.085,11.900 47.184,11.100 C46.283,10.300 46.083,9.100 46.684,8.000 C46.884,7.600 46.784,7.500 46.583,7.300 C46.483,7.200 46.183,7.100 45.983,7.400 L45.883,7.500 C45.082,8.400 43.880,8.600 42.779,8.000 C41.778,7.400 41.277,6.200 41.678,5.100 C41.778,4.700 41.578,4.500 41.477,4.500 C41.377,4.400 41.077,4.400 40.877,4.700 L40.777,4.800 C40.176,5.800 38.974,6.300 37.873,5.900 C36.772,5.500 36.071,4.500 36.171,3.300 L36.171,3.200 C36.171,2.900 35.971,2.700 35.771,2.700 C35.570,2.700 35.370,2.700 35.270,3.000 L35.270,3.100 C34.870,4.200 33.869,4.900 32.667,4.800 C31.466,4.700 30.565,3.800 30.465,2.600 L30.465,2.500 C30.364,2.100 30.164,2.000 29.964,2.000 C29.764,2.000 29.564,2.100 29.463,2.400 L29.463,2.500 C29.363,3.700 28.462,4.600 27.261,4.700 C26.059,4.800 25.058,4.100 24.658,3.000 L24.658,2.900 C24.558,2.600 24.257,2.600 24.157,2.600 C23.957,2.600 23.757,2.800 23.757,3.100 L23.757,3.200 C23.857,4.400 23.256,5.400 22.055,5.800 C20.953,6.200 19.752,5.700 19.151,4.700 L19.051,4.600 C18.851,4.300 18.551,4.300 18.451,4.400 C18.250,4.500 18.050,4.600 18.150,5.000 C18.551,6.200 18.150,7.400 17.049,8.000 C16.048,8.600 14.746,8.400 13.945,7.500 C13.645,7.200 13.345,7.300 13.244,7.400 C13.044,7.500 12.944,7.700 13.144,8.000 C13.745,9.100 13.545,10.300 12.744,11.100 C11.943,11.900 10.641,12.000 9.740,11.300 C9.340,11.000 9.140,11.200 9.039,11.300 C8.939,11.400 8.839,11.700 9.039,11.900 C9.840,12.800 9.941,14.100 9.240,15.000 C8.539,16.000 7.338,16.300 6.236,15.800 C5.836,15.600 5.636,15.800 5.636,16.000 C5.535,16.200 5.535,16.400 5.736,16.600 C6.737,17.300 7.037,18.500 6.537,19.600 C6.036,20.700 4.935,21.300 3.733,21.000 C3.333,20.900 3.233,21.200 3.133,21.300 C3.032,21.500 3.032,21.700 3.433,21.900 C4.534,22.400 5.135,23.500 4.834,24.700 C4.634,25.900 3.633,26.700 2.432,26.700 C2.031,26.700 1.931,26.900 1.931,27.100 C1.931,27.300 1.931,27.500 2.332,27.600 C3.133,27.800 3.733,28.300 4.134,29.000 L15.984,29.000 C16.502,21.762 22.592,16.000 29.964,16.000 C37.336,16.000 43.426,21.762 43.944,29.000 L55.894,29.000 C56.195,28.300 56.795,27.800 57.696,27.600 C57.997,27.500 58.097,27.300 58.097,27.100 C58.097,26.900 57.997,26.700 57.596,26.700 ZM29.964,26.000 C31.821,26.000 33.393,27.280 33.841,29.000 L41.978,29.000 C41.477,22.800 36.271,18.000 29.964,18.000 C23.656,18.000 18.551,22.900 18.050,29.000 L26.087,29.000 C26.534,27.280 28.107,26.000 29.964,26.000 ZM28.262,29.000 L31.766,29.000 C31.466,28.400 30.765,28.000 30.064,28.000 C29.363,28.000 28.562,28.400 28.262,29.000 ZM58.998,31.000 L57.796,31.000 L57.696,31.000 L43.980,31.000 L33.968,31.000 L25.959,31.000 L15.947,31.000 L2.932,31.000 L2.932,34.000 L58.998,34.000 L58.998,31.000 ZM29.964,21.000 C30.565,21.000 30.965,21.500 30.965,22.000 C30.965,22.600 30.565,23.000 29.964,23.000 C29.363,23.000 28.963,22.600 28.963,22.000 C28.963,21.400 29.363,21.000 29.964,21.000 ZM36.371,23.700 C36.772,24.000 36.772,24.700 36.371,25.100 C35.971,25.500 35.370,25.500 34.970,25.100 C34.569,24.700 34.569,24.100 34.970,23.700 C35.370,23.300 35.971,23.300 36.371,23.700 ZM23.656,25.100 C23.256,24.700 23.256,24.100 23.656,23.700 C24.057,23.300 24.658,23.300 25.058,23.700 C25.459,24.100 25.459,24.700 25.058,25.100 C24.658,25.400 23.957,25.400 23.656,25.100 Z"/>
                </svg>
              </span>
                <span class="text">Лесозаготовительная <br> техника</span>
              </label>
            </div>
          </div>
          <div class="vehicle-type-select form-group-row">
            <div class="form-group select-group">
              <label for="vehiclesType">Выберите тип техники</label>
              <select id="vehiclesType" class="styled-select" name="state" data-select-placeholder="Класс комфорта">
                <option value="1">Строительная техника</option>
                <option value="2">Дорожная техника</option>
                <option value="3">Подъемная техника</option>
                <option value="4">Грузовая техника</option>
                <option value="5">Коммунальная техника</option>
                <option value="6">Складская техника</option>
                <option value="7">Пассажирская техника</option>
                <option value="8">Сельскохозяйственная техника</option>
                <option value="9">Электротехника</option>
                <option value="10">Лесозаготовительная техника</option>
              </select>
            </div>
          </div>
        </div>
        <div class="characteristics-container">
          <h4>Характеристики техники</h4>
          <div class="form-block">
            <div class="form-group-row">
              <div class="form-group tablet-half">
                <input type="text" class="form-control" id="countPassangers" required>
                <label for="countPassangers">Количество пассажиров</label>
              </div>
              <div class="form-group tablet-half">
                <input type="text" class="form-control" id="price" required>
                <label for="price">Цена за 1 км (Р)</label>
              </div>
            </div>
            <div class="form-group-row">
              <div class="form-group select-group">
                <select id="classComfort" class="styled-select" name="state" data-select-placeholder="Класс комфорта">
                  <option value="1">Класс 1</option>
                  <option value="2">Класс 2</option>
                  <option value="3">Класс 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-image-mobile">
          <div class="upload-wrapper">
            <div class="empty-placeholder">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="157px" height="137px">
                <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                      d="M150.604,130.174 C146.530,134.249 141.616,136.286 135.858,136.286 L21.144,136.286 C15.385,136.286 10.471,134.249 6.396,130.174 C2.324,126.102 0.287,121.186 0.287,115.428 L0.287,42.428 C0.287,36.671 2.324,31.756 6.396,27.682 C10.471,23.609 15.385,21.572 21.144,21.572 L39.394,21.572 L43.548,10.492 C44.581,7.831 46.467,5.536 49.210,3.607 C51.954,1.679 54.765,0.714 57.644,0.714 L99.358,0.714 C102.237,0.714 105.048,1.679 107.791,3.607 C110.536,5.536 112.422,7.831 113.455,10.492 L117.608,21.572 L135.858,21.572 C141.617,21.572 146.530,23.609 150.604,27.682 C154.677,31.756 156.714,36.671 156.713,42.428 L156.713,115.428 C156.713,121.186 154.676,126.102 150.604,130.174 ZM104.287,53.144 C97.143,46.002 88.549,42.430 78.501,42.430 C68.452,42.430 59.856,46.001 52.714,53.144 C45.572,60.287 42.000,68.881 42.000,78.930 C42.000,88.977 45.571,97.574 52.714,104.716 C59.857,111.858 68.452,115.430 78.501,115.430 C88.549,115.430 97.145,111.858 104.287,104.716 C111.428,97.573 115.000,88.977 115.000,78.930 C115.000,68.881 111.430,60.286 104.287,53.144 ZM78.501,102.393 C72.037,102.393 66.510,100.099 61.920,95.510 C57.331,90.920 55.036,85.394 55.036,78.930 C55.036,72.466 57.331,66.940 61.920,62.350 C66.510,57.759 72.037,55.465 78.501,55.465 C84.963,55.465 90.491,57.759 95.081,62.350 C99.670,66.940 101.965,72.466 101.965,78.930 C101.965,85.394 99.670,90.920 95.081,95.510 C90.491,100.099 84.963,102.393 78.501,102.393 Z"/>
              </svg>
            </div>
          </div>
          <div class="button-container">
            <a href="#" class="btn btn-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="28px" height="27px">
                <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                      d="M26.125,19.294 C24.905,20.700 23.264,21.541 21.508,21.673 C21.485,21.673 21.467,21.673 21.450,21.673 L17.178,21.673 C16.747,21.673 16.401,21.313 16.401,20.862 C16.401,20.412 16.747,20.051 17.178,20.051 L21.421,20.051 C24.196,19.829 26.447,17.234 26.447,14.249 C26.447,11.431 24.513,8.962 21.951,8.506 C21.606,8.446 21.341,8.151 21.306,7.785 C20.984,4.265 18.180,1.610 14.783,1.610 C12.256,1.610 9.930,3.147 8.854,5.532 C8.681,5.911 8.260,6.091 7.881,5.947 C7.570,5.827 7.236,5.767 6.896,5.767 C5.307,5.767 4.012,7.118 4.012,8.776 C4.012,9.142 4.069,9.485 4.184,9.809 C4.311,10.182 4.173,10.596 3.845,10.794 C2.434,11.654 1.559,13.239 1.559,14.939 C1.559,17.570 3.540,19.907 5.894,20.057 L10.822,20.057 C11.254,20.057 11.600,20.418 11.600,20.868 C11.600,21.319 11.254,21.679 10.822,21.679 L5.871,21.679 C5.854,21.679 5.842,21.679 5.825,21.679 C4.259,21.589 2.791,20.814 1.680,19.505 C0.598,18.225 0.005,16.609 0.005,14.945 C0.005,12.885 0.966,10.951 2.549,9.749 C2.492,9.437 2.457,9.118 2.457,8.788 C2.457,6.235 4.449,4.157 6.896,4.157 C7.184,4.157 7.472,4.187 7.748,4.241 C8.387,3.075 9.291,2.084 10.379,1.351 C11.686,0.468 13.212,-0.000 14.778,-0.000 C16.804,-0.000 18.750,0.787 20.247,2.216 C21.594,3.502 22.475,5.196 22.774,7.052 C25.791,7.881 27.996,10.879 28.002,14.249 C28.002,16.111 27.340,17.901 26.125,19.294 ZM9.890,15.954 C9.694,15.954 9.493,15.870 9.343,15.714 C9.038,15.396 9.038,14.885 9.343,14.567 L13.459,10.272 C13.603,10.116 13.805,10.032 14.006,10.032 C14.208,10.032 14.409,10.122 14.553,10.272 L18.669,14.567 C18.975,14.885 18.975,15.396 18.669,15.714 C18.364,16.032 17.875,16.032 17.576,15.714 L14.783,12.801 L14.783,26.190 C14.783,26.641 14.438,27.001 14.006,27.001 C13.574,27.001 13.229,26.641 13.229,26.190 L13.229,12.801 L10.437,15.714 C10.287,15.876 10.085,15.954 9.890,15.954 Z"/>
              </svg>
              <span>Загрузить фотографии</span>
            </a>
          </div>
        </div>
        <div class="phone-apply-container">
          <h4>Привязать телефон водителя/оператора</h4>
          <div class="form-group-row">
            <div class="form-group full-width">
              <input type="text" class="form-control phone-control" id="phoneApply" placeholder="+7 ( ___ ) ___ - __ - __" required>
            </div>
          </div>
          <div class="button-container">
            <a href="#" class="btn btn-secondary">
              <span>ПРИВЯЗАТЬ</span>
            </a>
          </div>
          <div class="styled-checkbox type-1">
            <div class="checkbox-group">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                  <path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875
                    c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232
                    c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z"/>
                </svg>
              </label>
            </div>
            <span>Данная техника продается</span>
          </div>
        </div>
        <div class="form-group-row type-2 desktop-only">
          <div class="styled-checkbox type-1">
            <div class="checkbox-group">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                  <path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875
                    c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232
                    c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z"/>
                </svg>
              </label>
            </div>
            <span>Данная техника продается</span>
          </div>
          <div class="">
            <a href="#" class="btn btn-secondary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="28px" height="27px">
                <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                      d="M26.125,19.294 C24.905,20.700 23.264,21.541 21.508,21.673 C21.485,21.673 21.467,21.673 21.450,21.673 L17.178,21.673 C16.747,21.673 16.401,21.313 16.401,20.862 C16.401,20.412 16.747,20.051 17.178,20.051 L21.421,20.051 C24.196,19.829 26.447,17.234 26.447,14.249 C26.447,11.431 24.513,8.962 21.951,8.506 C21.606,8.446 21.341,8.151 21.306,7.785 C20.984,4.265 18.180,1.610 14.783,1.610 C12.256,1.610 9.930,3.147 8.854,5.532 C8.681,5.911 8.260,6.091 7.881,5.947 C7.570,5.827 7.236,5.767 6.896,5.767 C5.307,5.767 4.012,7.118 4.012,8.776 C4.012,9.142 4.069,9.485 4.184,9.809 C4.311,10.182 4.173,10.596 3.845,10.794 C2.434,11.654 1.559,13.239 1.559,14.939 C1.559,17.570 3.540,19.907 5.894,20.057 L10.822,20.057 C11.254,20.057 11.600,20.418 11.600,20.868 C11.600,21.319 11.254,21.679 10.822,21.679 L5.871,21.679 C5.854,21.679 5.842,21.679 5.825,21.679 C4.259,21.589 2.791,20.814 1.680,19.505 C0.598,18.225 0.005,16.609 0.005,14.945 C0.005,12.885 0.966,10.951 2.549,9.749 C2.492,9.437 2.457,9.118 2.457,8.788 C2.457,6.235 4.449,4.157 6.896,4.157 C7.184,4.157 7.472,4.187 7.748,4.241 C8.387,3.075 9.291,2.084 10.379,1.351 C11.686,0.468 13.212,-0.000 14.778,-0.000 C16.804,-0.000 18.750,0.787 20.247,2.216 C21.594,3.502 22.475,5.196 22.774,7.052 C25.791,7.881 27.996,10.879 28.002,14.249 C28.002,16.111 27.340,17.901 26.125,19.294 ZM9.890,15.954 C9.694,15.954 9.493,15.870 9.343,15.714 C9.038,15.396 9.038,14.885 9.343,14.567 L13.459,10.272 C13.603,10.116 13.805,10.032 14.006,10.032 C14.208,10.032 14.409,10.122 14.553,10.272 L18.669,14.567 C18.975,14.885 18.975,15.396 18.669,15.714 C18.364,16.032 17.875,16.032 17.576,15.714 L14.783,12.801 L14.783,26.190 C14.783,26.641 14.438,27.001 14.006,27.001 C13.574,27.001 13.229,26.641 13.229,26.190 L13.229,12.801 L10.437,15.714 C10.287,15.876 10.085,15.954 9.890,15.954 Z"/>
              </svg>
              <span>Загрузить фотографии</span>
            </a>
          </div>
        </div>
        <div class="button-container">
          <button class="btn btn-primary">
            <span>Запустить аукцион</span>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="474.8px" height="474.801px" viewBox="0 0 474.8 474.801" style="enable-background:new 0 0 474.8 474.801;"
                 xml:space="preserve">
              <path d="M396.283,257.097c-1.14-0.575-2.282-0.862-3.433-0.862c-2.478,0-4.661,0.951-6.563,2.857l-18.274,18.271
                c-1.708,1.715-2.566,3.806-2.566,6.283v72.513c0,12.565-4.463,23.314-13.415,32.264c-8.945,8.945-19.701,13.418-32.264,13.418
                H82.226c-12.564,0-23.319-4.473-32.264-13.418c-8.947-8.949-13.418-19.698-13.418-32.264V118.622
                c0-12.562,4.471-23.316,13.418-32.264c8.945-8.946,19.7-13.418,32.264-13.418H319.77c4.188,0,8.47,0.571,12.847,1.714
                c1.143,0.378,1.999,0.571,2.563,0.571c2.478,0,4.668-0.949,6.57-2.852l13.99-13.99c2.282-2.281,3.142-5.043,2.566-8.276
                c-0.571-3.046-2.286-5.236-5.141-6.567c-10.272-4.752-21.412-7.139-33.403-7.139H82.226c-22.65,0-42.018,8.042-58.102,24.126
                C8.042,76.613,0,95.978,0,118.629v237.543c0,22.647,8.042,42.014,24.125,58.098c16.084,16.088,35.452,24.13,58.102,24.13h237.541
                c22.647,0,42.017-8.042,58.101-24.13c16.085-16.084,24.134-35.45,24.134-58.098v-90.797
                C402.001,261.381,400.088,258.623,396.283,257.097z"/>
              <path d="M467.95,93.216l-31.409-31.409c-4.568-4.567-9.996-6.851-16.279-6.851c-6.275,0-11.707,2.284-16.271,6.851
                L219.265,246.532l-75.084-75.089c-4.569-4.57-9.995-6.851-16.274-6.851c-6.28,0-11.704,2.281-16.274,6.851l-31.405,31.405
                c-4.568,4.568-6.854,9.994-6.854,16.277c0,6.28,2.286,11.704,6.854,16.274l122.767,122.767c4.569,4.571,9.995,6.851,16.274,6.851
                c6.279,0,11.704-2.279,16.274-6.851l232.404-232.403c4.565-4.567,6.854-9.994,6.854-16.274S472.518,97.783,467.95,93.216z"/>
            </svg>
          </button>
        </div>
      </form>
    </div>

  </section>

  <!-- Footer -->
  <%= _.template(require('./../includes/footer.html'))(data) %>
  <!-- End of Footer -->


<%= _.template(require('./../includes/html-foot.html'))(data) %>