<% var data = {
siteName: "Kopaka",
pageName: "Запрос на стоимость работ",
bodyClass: '',
}; %>
<%= _.template(require('./../includes/html-head.html'))(data) %>

  <!-- Header -->
  <%= _.template(require('./../includes/header.html'))(data) %>
  <!-- End of Header -->

  <section class="section content-section">

    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><span>Запрос на стоимость работ</span></li>
      </ul>
    </div>

    <div class="container">
      <form action="" class="form form-add-vehicle">
        <h2>Запрос на стоимость работ</h2>
        <div class="form-group-row">
          <div class="form-group select-group tablet-half">
            <select id="techniqueType" class="styled-select" name="state" data-select-placeholder="Тип техники">
              <option value="0">Тип 1</option>
              <option value="1">Тип 2</option>
              <option value="2">Тип 3</option>
              <option value="3">Тип 4</option>
            </select>
          </div>
          <div class="form-group select-group tablet-half">
            <select id="workType" class="styled-select" name="state" data-select-placeholder="Вид работ">
              <option value="0">Вид 1</option>
              <option value="1">Вид 2</option>
              <option value="2">Вид 3</option>
              <option value="3">Вид 4</option>
            </select>
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group select-group">
            <select id="classComfort" class="styled-select" name="state" data-select-placeholder="Класс комфорта">
              <option value="1">Класс 1</option>
              <option value="2">Класс 2</option>
              <option value="3">Класс 3</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="workAddress" required>
            <label for="workAddress">Адрес проведения работ</label>
          </div>
          <div class="map-container">
            <div class="map" id="map"></div>
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group full-width">
            <input type="text" class="form-control" id="taskDescription" required>
            <label for="taskDescription">Описание задачи</label>
          </div>
        </div>
        <div class="form-group-row type-3">
          <div class="form-group">
            <input type="text" class="form-control" id="startDate" required>
            <label for="startDate">Дата начала</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="workDays" required>
            <label for="workDays">Дней работ</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="yourPrice" required>
            <label for="yourPrice">Ваша цена</label>
          </div>
        </div>
        <div class="form-group-row type-2">
          <div class="styled-checkbox type-1">
            <div class="checkbox-group">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                  <path d="M26.474,70c-2.176,0-4.234-1.018-5.557-2.764L3.049,43.639C0.725,40.57,1.33,36.2,4.399,33.875
                    c3.074-2.326,7.441-1.717,9.766,1.35l11.752,15.518L55.474,3.285c2.035-3.265,6.332-4.264,9.604-2.232
                    c3.268,2.034,4.266,6.334,2.23,9.602l-34.916,56.06c-1.213,1.949-3.307,3.175-5.6,3.279C26.685,69.998,26.58,70,26.474,70z"/>
                </svg>
              </label>
            </div>
            <span>Запрос цены у исполнителей, не показывать мою цену</span>
          </div>
        </div>
        <div class="button-container">
          <button class="btn btn-primary">
            <span>Запустить аукцион</span>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="474.8px" height="474.801px" viewBox="0 0 474.8 474.801" style="enable-background:new 0 0 474.8 474.801;"
                 xml:space="preserve">
              <path d="M396.283,257.097c-1.14-0.575-2.282-0.862-3.433-0.862c-2.478,0-4.661,0.951-6.563,2.857l-18.274,18.271
                c-1.708,1.715-2.566,3.806-2.566,6.283v72.513c0,12.565-4.463,23.314-13.415,32.264c-8.945,8.945-19.701,13.418-32.264,13.418
                H82.226c-12.564,0-23.319-4.473-32.264-13.418c-8.947-8.949-13.418-19.698-13.418-32.264V118.622
                c0-12.562,4.471-23.316,13.418-32.264c8.945-8.946,19.7-13.418,32.264-13.418H319.77c4.188,0,8.47,0.571,12.847,1.714
                c1.143,0.378,1.999,0.571,2.563,0.571c2.478,0,4.668-0.949,6.57-2.852l13.99-13.99c2.282-2.281,3.142-5.043,2.566-8.276
                c-0.571-3.046-2.286-5.236-5.141-6.567c-10.272-4.752-21.412-7.139-33.403-7.139H82.226c-22.65,0-42.018,8.042-58.102,24.126
                C8.042,76.613,0,95.978,0,118.629v237.543c0,22.647,8.042,42.014,24.125,58.098c16.084,16.088,35.452,24.13,58.102,24.13h237.541
                c22.647,0,42.017-8.042,58.101-24.13c16.085-16.084,24.134-35.45,24.134-58.098v-90.797
                C402.001,261.381,400.088,258.623,396.283,257.097z"/>
              <path d="M467.95,93.216l-31.409-31.409c-4.568-4.567-9.996-6.851-16.279-6.851c-6.275,0-11.707,2.284-16.271,6.851
                L219.265,246.532l-75.084-75.089c-4.569-4.57-9.995-6.851-16.274-6.851c-6.28,0-11.704,2.281-16.274,6.851l-31.405,31.405
                c-4.568,4.568-6.854,9.994-6.854,16.277c0,6.28,2.286,11.704,6.854,16.274l122.767,122.767c4.569,4.571,9.995,6.851,16.274,6.851
                c6.279,0,11.704-2.279,16.274-6.851l232.404-232.403c4.565-4.567,6.854-9.994,6.854-16.274S472.518,97.783,467.95,93.216z"/>
            </svg>
          </button>
        </div>
      </form>
    </div>

  </section>

  <!-- Footer -->
  <%= _.template(require('./../includes/footer.html'))(data) %>
  <!-- End of Footer -->


<%= _.template(require('./../includes/html-foot.html'))(data) %>