<% var data = {
siteName: "Kopaka",
pageName: "Запрос на стоимость работ",
bodyClass: '',
}; %>
<%= _.template(require('./../includes/html-head.html'))(data) %>

  <!-- Header -->
  <%= _.template(require('./../includes/header.html'))(data) %>
  <!-- End of Header -->

  <section class="section content-section">

    <div class="container">
      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><span>Личный кабинет</span></li>
      </ul>
    </div>

    <div class="container">
      <div class="page-heading">
        <h2>Личный кабинет</h2>
        <div class="tabs">
          <a href="#" class="tab-link" data-tab-link="cabinet">Кабинет</a>
          <a href="#" class="tab-link" data-tab-link="vehicles">Техника</a>
          <a href="#" class="tab-link" data-tab-link="orders">Заказы</a>
        </div>
      </div>
      <div class="tabs-content">
        <div id="cabinet" class="tab-content">
          <form action="" class="form profile-form">
            <div class="form-group">
              <input type="text" class="form-control" value="Николай Петров">
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="29px" height="37px">
                  <path fill-rule="evenodd"  stroke="rgb(212, 214, 216)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                        d="M26.998,30.421 C26.998,30.232 26.999,30.168 26.999,30.168 C27.000,30.168 27.000,30.372 26.998,30.421 ZM14.000,35.000 C2.916,35.000 1.002,31.041 1.002,31.041 C1.002,30.596 1.002,30.341 1.001,30.203 C1.002,30.220 1.002,30.231 1.003,30.231 C1.006,30.231 1.012,30.100 1.021,29.610 C1.167,21.851 2.282,19.614 10.231,18.192 C10.231,18.192 11.363,19.621 14.000,19.621 C16.637,19.621 17.768,18.192 17.768,18.192 C25.805,19.630 26.855,21.900 26.983,29.869 C26.990,30.304 26.994,30.432 26.996,30.432 C26.997,30.432 26.997,30.428 26.997,30.421 C26.997,30.556 26.997,30.755 26.997,31.041 C26.997,31.041 25.084,35.000 14.000,35.000 ZM14.000,17.200 C10.250,17.200 7.192,13.526 7.192,9.068 C7.192,4.610 8.190,0.996 13.982,0.996 C19.774,0.996 20.772,4.610 20.772,9.068 C20.772,13.526 17.750,17.200 14.000,17.200 ZM1.000,30.060 C1.000,30.060 1.001,30.097 1.001,30.203 C1.000,30.155 1.000,30.060 1.000,30.060 Z"/>
                </svg>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" value="nik.petrow@gmail.com">
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="30px" height="22px">
                  <path fill-rule="evenodd"  fill="rgb(212, 214, 216)"
                        d="M25.872,22.000 L4.127,22.000 C1.850,22.000 -0.000,20.143 -0.000,17.858 L-0.000,4.141 C-0.000,1.856 1.850,-0.000 4.127,-0.000 L25.879,-0.000 C28.156,-0.000 30.006,1.863 29.999,4.148 L29.999,17.858 C29.999,20.143 28.149,22.000 25.872,22.000 ZM28.114,17.858 L28.114,4.148 C28.114,2.907 27.108,1.899 25.872,1.899 L4.127,1.899 C2.891,1.899 1.885,2.907 1.885,4.148 L1.885,17.858 C1.885,19.099 2.891,20.108 4.127,20.108 L25.879,20.108 C27.115,20.108 28.121,19.099 28.121,17.858 L28.114,17.858 ZM25.858,18.132 C25.670,18.328 25.426,18.426 25.174,18.426 C24.944,18.426 24.706,18.342 24.525,18.167 L18.006,12.051 L15.653,14.167 C15.478,14.328 15.248,14.412 15.024,14.412 C14.801,14.412 14.577,14.335 14.396,14.174 L12.105,12.121 L5.538,18.160 C5.356,18.328 5.125,18.412 4.895,18.412 C4.644,18.412 4.392,18.307 4.204,18.111 C3.848,17.725 3.869,17.130 4.246,16.772 L10.688,10.845 L4.211,5.241 C3.820,4.891 3.785,4.295 4.134,3.903 C4.483,3.510 5.077,3.475 5.468,3.825 L12.629,10.054 C12.685,10.096 12.734,10.138 12.783,10.187 C12.783,10.194 12.790,10.201 12.797,10.208 L15.017,12.198 L24.525,3.832 C24.916,3.482 25.509,3.517 25.858,3.903 C26.208,4.295 26.173,4.891 25.789,5.241 L19.409,10.782 L25.824,16.793 C26.201,17.151 26.215,17.753 25.858,18.132 Z"/>
                </svg>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control phone-control" value="+7 (495) 760 60 30">
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20px" height="34px">
                  <path fill-rule="evenodd"  fill="rgb(212, 214, 216)"
                        d="M19.999,17.607 L19.999,27.623 C19.999,27.623 20.000,27.624 20.000,27.625 C20.000,27.625 19.999,27.626 19.999,27.627 L19.999,30.000 C19.999,32.206 18.205,34.000 15.997,34.000 L4.002,34.000 C1.794,34.000 -0.000,32.206 -0.000,30.000 L-0.000,17.607 L-0.000,4.000 C-0.000,1.793 1.794,-0.000 4.002,-0.000 L15.997,-0.000 C18.205,-0.000 19.999,1.793 19.999,4.000 L19.999,5.158 C19.999,5.159 20.000,5.160 20.000,5.160 C20.000,5.161 19.999,5.162 19.999,5.163 L19.999,17.607 ZM1.828,17.607 L1.828,26.107 L18.171,26.107 L18.171,17.607 L18.171,6.071 L1.828,6.071 L1.828,17.607 ZM16.004,1.827 L4.002,1.827 C2.803,1.827 1.828,2.802 1.828,4.000 L1.828,4.250 L18.171,4.250 L18.171,4.000 L18.178,4.000 C18.178,2.802 17.203,1.827 16.004,1.827 ZM18.171,30.000 L18.171,27.928 L1.828,27.928 L1.828,30.000 C1.828,31.198 2.803,32.172 4.002,32.172 L16.004,32.172 C17.203,32.172 18.178,31.198 18.178,30.000 L18.171,30.000 ZM10.000,30.969 C9.499,30.969 9.094,30.563 9.094,30.062 C9.094,29.562 9.499,29.156 10.000,29.156 C10.500,29.156 10.906,29.562 10.906,30.062 C10.906,30.563 10.500,30.969 10.000,30.969 Z"/>
                </svg>
              </div>
            </div>
            <div class="button-container">
              <button class="btn btn-primary">
                <span>Сохранить</span>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 49 49" style="enable-background:new 0 0 49 49;" xml:space="preserve">
                  <path d="M39.914,0H37.5h-28h-9v49h7h33h8V8.586L39.914,0z M35.5,2v14h-24V2H35.5z M9.5,47V28h29v19H9.5z M46.5,47h-6V26h-33v21h-5
                    V2h7v16h28V2h1.586L46.5,9.414V47z"/>
                  <path d="M13.5,33h7c0.553,0,1-0.447,1-1s-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1S12.947,33,13.5,33z"/>
                  <path d="M23.5,35h-10c-0.553,0-1,0.447-1,1s0.447,1,1,1h10c0.553,0,1-0.447,1-1S24.053,35,23.5,35z"/>
                  <path d="M25.79,35.29c-0.181,0.189-0.29,0.45-0.29,0.71s0.109,0.52,0.29,0.71C25.979,36.89,26.229,37,26.5,37
		                c0.26,0,0.52-0.11,0.71-0.29c0.18-0.19,0.29-0.45,0.29-0.71s-0.11-0.521-0.29-0.71C26.84,34.92,26.16,34.92,25.79,35.29z"/>
                  <path d="M33.5,4h-6v10h6V4z M31.5,12h-2V6h2V12z"/>
                </svg>
              </button>
            </div>
          </form>
        </div>
        <div id="vehicles" class="tab-content">
          <div class="vehicles-list">
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-danger text-uppercase">Занят</span>
                </div>
                <img src="uploads/vehicles-images/image-1.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-success text-uppercase">Свободен</span>
                </div>
                <img src="uploads/vehicles-images/image-2.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-success">Свободен</span>
                </div>
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-danger text-uppercase">Занят</span>
                </div>
                <img src="uploads/vehicles-images/image-1.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-success text-uppercase">Свободен</span>
                </div>
                <img src="uploads/vehicles-images/image-2.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
            <a href="#" class="item vehicle-card type-2">
              <button class="card-edit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="17px" height="16px">
                  <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                        d="M16.277,3.651 L14.598,5.332 L11.179,1.910 L10.485,2.605 L13.903,6.028 L6.574,13.367 L3.156,9.945 L2.462,10.640 L5.880,14.063 L5.044,14.900 L5.029,14.884 C4.936,15.036 4.785,15.148 4.606,15.188 L1.419,15.899 C1.371,15.910 1.322,15.915 1.274,15.915 C1.100,15.915 0.931,15.847 0.806,15.721 C0.645,15.560 0.578,15.329 0.628,15.107 L1.338,11.916 C1.378,11.737 1.490,11.586 1.642,11.493 L1.626,11.477 L12.858,0.227 C13.056,0.030 13.378,0.030 13.575,0.228 L16.277,2.933 C16.475,3.131 16.475,3.453 16.277,3.651 Z"/>
                </svg>
              </button>
              <div class="card-image">
                <div class="badges-container">
                  <span class="badge badge-success">Свободен</span>
                </div>
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
                <ul class="card-specs">
                  <li class="item">
                    <span>Эксплуатационная масса:</span>
                    <span class="value">9006 кг</span>
                  </li>
                  <li class="item">
                    <span>Емкость ковша погрузчика:</span>
                    <span class="value">0,93 м³</span>
                  </li>
                  <li class="item">
                    <span>Макс. глубина копания:</span>
                    <span class="value">6,46 м</span>
                  </li>
                  <li class="item">
                    <span>Мощность двигателя:</span>
                    <span class="value">93 л.с.</span>
                  </li>
                </ul>
              </div>
            </a>
          </div>
          <div class="lazyload-container">
            <a href="#" class="lazyload-link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="50px" height="50px">
                <path fill-rule="evenodd"  fill="rgb(0, 0, 0)"
                      d="M35.491,21.920 C35.889,21.523 36.533,21.523 36.930,21.920 L40.038,25.028 L43.146,21.920 C43.544,21.523 44.188,21.523 44.585,21.920 C44.983,22.318 44.983,22.962 44.585,23.359 L40.758,27.187 C40.567,27.378 40.308,27.485 40.038,27.485 C39.768,27.485 39.510,27.378 39.319,27.187 L35.491,23.359 C35.094,22.962 35.094,22.318 35.491,21.920 ZM25.000,41.183 C16.076,41.183 8.817,33.923 8.817,25.000 C8.817,16.077 16.076,8.817 25.000,8.817 C28.575,8.817 31.964,9.959 34.800,12.121 C37.545,14.212 39.584,17.180 40.542,20.476 C40.699,21.016 40.388,21.580 39.849,21.737 C39.309,21.894 38.744,21.584 38.588,21.044 C36.844,15.043 31.256,10.852 25.000,10.852 C17.198,10.852 10.852,17.198 10.852,25.000 C10.852,32.801 17.199,39.148 25.000,39.148 C28.779,39.148 32.332,37.676 35.004,35.004 C35.401,34.607 36.046,34.607 36.443,35.004 C36.840,35.402 36.840,36.046 36.443,36.443 C33.386,39.500 29.323,41.183 25.000,41.183 ZM25.000,50.000 C11.215,50.000 -0.000,38.785 -0.000,25.000 C-0.000,15.621 5.176,7.112 13.509,2.792 C14.008,2.533 14.622,2.728 14.880,3.227 C15.139,3.726 14.944,4.340 14.445,4.598 C6.790,8.567 2.035,16.384 2.035,25.000 C2.035,37.663 12.337,47.965 25.000,47.965 C37.663,47.965 47.965,37.663 47.965,25.000 C47.965,12.337 37.663,2.035 25.000,2.035 C24.438,2.035 23.982,1.579 23.982,1.017 C23.982,0.455 24.438,-0.000 25.000,-0.000 C38.785,-0.000 50.000,11.215 50.000,25.000 C50.000,38.785 38.785,50.000 25.000,50.000 Z"/>
              </svg>
            </a>
          </div>
        </div>
        <div id="orders" class="tab-content">
          <div class="orders-list">
            <a href="#" class="item vehicle-card">
              <div class="card-info">
                <span class="date">20.09.2018</span>
                <div class="notifications">
                  <div class="notifications-counter">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="21px" height="25px">
                      <path fill-rule="evenodd"  fill="rgb(187, 192, 198)"
                            d="M19.225,21.051 L18.899,21.051 L14.989,21.051 C14.538,23.169 12.549,25.000 10.297,25.000 L9.906,25.000 C7.654,25.000 5.664,23.169 5.213,21.051 L1.955,21.051 L0.978,21.051 C0.438,21.051 -0.000,20.608 -0.000,20.063 C-0.000,19.518 0.438,19.076 0.978,19.076 L1.303,19.076 L1.303,12.494 C1.303,8.528 3.944,5.167 7.560,4.075 C7.372,3.696 7.266,3.271 7.266,2.821 C7.266,1.258 8.538,-0.013 10.101,-0.013 C11.664,-0.013 12.936,1.258 12.936,2.821 C12.936,3.271 12.830,3.696 12.642,4.075 C16.259,5.167 18.899,8.528 18.899,12.494 L18.899,19.076 L19.225,19.076 C19.765,19.076 20.202,19.518 20.202,20.063 C20.202,20.608 19.765,21.051 19.225,21.051 ZM9.906,23.046 L10.297,23.046 C11.462,23.046 12.640,22.078 13.034,21.051 L7.169,21.051 C7.563,22.078 8.741,23.046 9.906,23.046 ZM10.101,1.941 C9.616,1.941 9.221,2.336 9.221,2.821 C9.221,3.306 9.616,3.700 10.101,3.700 C10.586,3.700 10.981,3.306 10.981,2.821 C10.981,2.336 10.586,1.941 10.101,1.941 ZM16.944,12.494 C16.944,8.722 13.874,5.654 10.101,5.654 C6.328,5.654 3.258,8.722 3.258,12.494 L3.258,19.076 C3.775,19.076 15.616,19.076 16.944,19.076 L16.944,12.494 Z"/>
                    </svg>
                    <span>0 откликов</span>
                  </div>
                  <span class="notifications-text">(0 Новых)</span>
                </div>
              </div>
              <div class="card-image">
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
              </div>
            </a>
            <a href="#" class="item vehicle-card">
              <div class="card-info">
                <span class="date">20.09.2018</span>
                <div class="notifications active">
                  <div class="notifications-counter">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="21px" height="25px">
                      <path fill-rule="evenodd"  fill="rgb(187, 192, 198)"
                            d="M19.225,21.051 L18.899,21.051 L14.989,21.051 C14.538,23.169 12.549,25.000 10.297,25.000 L9.906,25.000 C7.654,25.000 5.664,23.169 5.213,21.051 L1.955,21.051 L0.978,21.051 C0.438,21.051 -0.000,20.608 -0.000,20.063 C-0.000,19.518 0.438,19.076 0.978,19.076 L1.303,19.076 L1.303,12.494 C1.303,8.528 3.944,5.167 7.560,4.075 C7.372,3.696 7.266,3.271 7.266,2.821 C7.266,1.258 8.538,-0.013 10.101,-0.013 C11.664,-0.013 12.936,1.258 12.936,2.821 C12.936,3.271 12.830,3.696 12.642,4.075 C16.259,5.167 18.899,8.528 18.899,12.494 L18.899,19.076 L19.225,19.076 C19.765,19.076 20.202,19.518 20.202,20.063 C20.202,20.608 19.765,21.051 19.225,21.051 ZM9.906,23.046 L10.297,23.046 C11.462,23.046 12.640,22.078 13.034,21.051 L7.169,21.051 C7.563,22.078 8.741,23.046 9.906,23.046 ZM10.101,1.941 C9.616,1.941 9.221,2.336 9.221,2.821 C9.221,3.306 9.616,3.700 10.101,3.700 C10.586,3.700 10.981,3.306 10.981,2.821 C10.981,2.336 10.586,1.941 10.101,1.941 ZM16.944,12.494 C16.944,8.722 13.874,5.654 10.101,5.654 C6.328,5.654 3.258,8.722 3.258,12.494 L3.258,19.076 C3.775,19.076 15.616,19.076 16.944,19.076 L16.944,12.494 Z"/>
                    </svg>
                    <span>3 отклика</span>
                  </div>
                  <span class="notifications-text visible">(2 Новых)</span>
                </div>
              </div>
              <div class="card-image">
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
              </div>
            </a>
            <a href="#" class="item vehicle-card">
              <div class="card-info">
                <span class="date">20.09.2018</span>
                <div class="notifications active">
                  <div class="notifications-counter">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="21px" height="25px">
                      <path fill-rule="evenodd"  fill="rgb(187, 192, 198)"
                            d="M19.225,21.051 L18.899,21.051 L14.989,21.051 C14.538,23.169 12.549,25.000 10.297,25.000 L9.906,25.000 C7.654,25.000 5.664,23.169 5.213,21.051 L1.955,21.051 L0.978,21.051 C0.438,21.051 -0.000,20.608 -0.000,20.063 C-0.000,19.518 0.438,19.076 0.978,19.076 L1.303,19.076 L1.303,12.494 C1.303,8.528 3.944,5.167 7.560,4.075 C7.372,3.696 7.266,3.271 7.266,2.821 C7.266,1.258 8.538,-0.013 10.101,-0.013 C11.664,-0.013 12.936,1.258 12.936,2.821 C12.936,3.271 12.830,3.696 12.642,4.075 C16.259,5.167 18.899,8.528 18.899,12.494 L18.899,19.076 L19.225,19.076 C19.765,19.076 20.202,19.518 20.202,20.063 C20.202,20.608 19.765,21.051 19.225,21.051 ZM9.906,23.046 L10.297,23.046 C11.462,23.046 12.640,22.078 13.034,21.051 L7.169,21.051 C7.563,22.078 8.741,23.046 9.906,23.046 ZM10.101,1.941 C9.616,1.941 9.221,2.336 9.221,2.821 C9.221,3.306 9.616,3.700 10.101,3.700 C10.586,3.700 10.981,3.306 10.981,2.821 C10.981,2.336 10.586,1.941 10.101,1.941 ZM16.944,12.494 C16.944,8.722 13.874,5.654 10.101,5.654 C6.328,5.654 3.258,8.722 3.258,12.494 L3.258,19.076 C3.775,19.076 15.616,19.076 16.944,19.076 L16.944,12.494 Z"/>
                    </svg>
                    <span>3 отклика</span>
                  </div>
                  <span class="notifications-text">(0 Новых)</span>
                </div>
              </div>
              <div class="card-image">
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
              </div>
            </a>
            <a href="#" class="item vehicle-card">
              <div class="card-info">
                <span class="date">20.09.2018</span>
                <div class="notifications active">
                  <div class="notifications-counter">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="21px" height="25px">
                      <path fill-rule="evenodd"  fill="rgb(187, 192, 198)"
                            d="M19.225,21.051 L18.899,21.051 L14.989,21.051 C14.538,23.169 12.549,25.000 10.297,25.000 L9.906,25.000 C7.654,25.000 5.664,23.169 5.213,21.051 L1.955,21.051 L0.978,21.051 C0.438,21.051 -0.000,20.608 -0.000,20.063 C-0.000,19.518 0.438,19.076 0.978,19.076 L1.303,19.076 L1.303,12.494 C1.303,8.528 3.944,5.167 7.560,4.075 C7.372,3.696 7.266,3.271 7.266,2.821 C7.266,1.258 8.538,-0.013 10.101,-0.013 C11.664,-0.013 12.936,1.258 12.936,2.821 C12.936,3.271 12.830,3.696 12.642,4.075 C16.259,5.167 18.899,8.528 18.899,12.494 L18.899,19.076 L19.225,19.076 C19.765,19.076 20.202,19.518 20.202,20.063 C20.202,20.608 19.765,21.051 19.225,21.051 ZM9.906,23.046 L10.297,23.046 C11.462,23.046 12.640,22.078 13.034,21.051 L7.169,21.051 C7.563,22.078 8.741,23.046 9.906,23.046 ZM10.101,1.941 C9.616,1.941 9.221,2.336 9.221,2.821 C9.221,3.306 9.616,3.700 10.101,3.700 C10.586,3.700 10.981,3.306 10.981,2.821 C10.981,2.336 10.586,1.941 10.101,1.941 ZM16.944,12.494 C16.944,8.722 13.874,5.654 10.101,5.654 C6.328,5.654 3.258,8.722 3.258,12.494 L3.258,19.076 C3.775,19.076 15.616,19.076 16.944,19.076 L16.944,12.494 Z"/>
                    </svg>
                    <span>3 отклика</span>
                  </div>
                  <span class="notifications-text">(0 Новых)</span>
                </div>
              </div>
              <div class="card-image">
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
              </div>
            </a>
            <a href="#" class="item vehicle-card closed">
              <div class="card-info">
                <span class="date">20.09.2018</span>
                <div class="notifications">
                  <div class="notifications-counter">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="21px" height="25px">
                      <path fill-rule="evenodd"  fill="rgb(187, 192, 198)"
                            d="M19.225,21.051 L18.899,21.051 L14.989,21.051 C14.538,23.169 12.549,25.000 10.297,25.000 L9.906,25.000 C7.654,25.000 5.664,23.169 5.213,21.051 L1.955,21.051 L0.978,21.051 C0.438,21.051 -0.000,20.608 -0.000,20.063 C-0.000,19.518 0.438,19.076 0.978,19.076 L1.303,19.076 L1.303,12.494 C1.303,8.528 3.944,5.167 7.560,4.075 C7.372,3.696 7.266,3.271 7.266,2.821 C7.266,1.258 8.538,-0.013 10.101,-0.013 C11.664,-0.013 12.936,1.258 12.936,2.821 C12.936,3.271 12.830,3.696 12.642,4.075 C16.259,5.167 18.899,8.528 18.899,12.494 L18.899,19.076 L19.225,19.076 C19.765,19.076 20.202,19.518 20.202,20.063 C20.202,20.608 19.765,21.051 19.225,21.051 ZM9.906,23.046 L10.297,23.046 C11.462,23.046 12.640,22.078 13.034,21.051 L7.169,21.051 C7.563,22.078 8.741,23.046 9.906,23.046 ZM10.101,1.941 C9.616,1.941 9.221,2.336 9.221,2.821 C9.221,3.306 9.616,3.700 10.101,3.700 C10.586,3.700 10.981,3.306 10.981,2.821 C10.981,2.336 10.586,1.941 10.101,1.941 ZM16.944,12.494 C16.944,8.722 13.874,5.654 10.101,5.654 C6.328,5.654 3.258,8.722 3.258,12.494 L3.258,19.076 C3.775,19.076 15.616,19.076 16.944,19.076 L16.944,12.494 Z"/>
                    </svg>
                    <span>0 откликов</span>
                  </div>
                  <span class="notifications-text">(2 Новых)</span>
                </div>
              </div>
              <div class="card-image">
                <img src="uploads/vehicles-images/image-3.jpg" alt="">
              </div>
              <div class="card-body">
                <span class="title">Volvo 3CX ECO</span>
                <span class="desc">Экскаватор-погрузчик</span>
              </div>
              <span class="closed-label">Закрыт</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <%= _.template(require('./../includes/footer.html'))(data) %>
  <!-- End of Footer -->


<%= _.template(require('./../includes/html-foot.html'))(data) %>