<% var data = {
siteName: "Kopaka",
pageName: "Запрос на стоимость работ",
bodyClass: '',
}; %>
<%= _.template(require('./../includes/html-head.html'))(data) %>

  <!-- Header -->
  <%= _.template(require('./../includes/header.html'))(data) %>
  <!-- End of Header -->

  <section class="section content-section">

    <div class="container desktop-only">
      <ul class="breadcrumbs">
        <li><a href="/">Главная страница</a></li>
        <li><a href="/">Поиск техники</a></li>
        <li><span>Результаты поиска техники</span></li>
      </ul>
    </div>

    <div class="container desktop-only">
      <h2>Результаты поиска техники</h2>
    </div>

    <div class="search-results">
      <div id="map" class="map location-map"></div>

      <div class="container">
        <div class="search-results-container">
          <div class="results-text">
            <span>Найдено <span class="value">960</span> единиц техники</span>
          </div>
          <div class="button-container">
            <a href="#" class="btn btn-primary">
              <span>Новый поиск</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="36px" height="35px">
                <path fill-rule="evenodd"  fill="rgb(244, 64, 41)"
                      d="M35.199,34.194 C34.138,35.262 32.417,35.262 31.356,34.194 L25.990,28.797 C25.235,28.038 25.028,26.946 25.347,25.993 L23.310,23.944 C20.834,26.312 17.493,27.773 13.807,27.773 C6.182,27.773 -0.000,21.556 -0.000,13.887 C-0.000,6.217 6.182,-0.000 13.807,-0.000 C21.433,-0.000 27.614,6.217 27.614,13.887 C27.614,16.977 26.598,19.822 24.901,22.129 L27.045,24.285 C27.992,23.964 29.078,24.173 29.833,24.932 L35.199,30.329 C36.261,31.396 36.261,33.127 35.199,34.194 ZM25.219,13.875 C25.219,7.541 20.112,2.406 13.812,2.406 C7.513,2.406 2.406,7.541 2.406,13.875 C2.406,20.209 7.513,25.344 13.812,25.344 C20.112,25.344 25.219,20.209 25.219,13.875 ZM13.797,24.156 C8.162,24.156 3.594,19.560 3.594,13.891 C3.594,8.221 8.162,3.625 13.797,3.625 C19.432,3.625 24.000,8.221 24.000,13.891 C24.000,19.560 19.432,24.156 13.797,24.156 ZM13.812,4.844 C8.842,4.844 4.812,8.894 4.812,13.891 C4.812,18.887 8.842,22.937 13.812,22.937 C18.783,22.937 22.812,18.887 22.812,13.891 C22.812,8.894 18.783,4.844 13.812,4.844 Z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <%= _.template(require('./../includes/footer.html'))(data) %>
  <!-- End of Footer -->


<%= _.template(require('./../includes/html-foot.html'))(data) %>