.paginator {position:relative; margin:0; text-align:center;}
* + .paginator {margin:30px 0 0;}
.paginator ul {list-style:none; display:inline-block;}
.paginator ul li {display:inline-block; float:left; font-size:18px; color:#010101; vertical-align:bottom;}
.paginator ul li:before {content:"~"; margin:0 1px;}
.paginator ul li a {display:inline-block; padding:2px 4px; font-size:18px; color:#010101; text-decoration:none;}
.paginator ul li a:hover {background:#cfcfcf;}
.paginator ul li a.on, .paginator ul li a.on:hover {margin-top:-3px; background:#f6f2f2; font-size:22px; color:#000000; text-decoration:none; cursor:default;}
.paginator ul li.show_all:before {content:"";}
.paginator ul li.show_all a {display:inline-block; float:left; margin:1px 0 0 5px; font-size:15px; color:#010101; text-decoration:underline;}
.paginator ul li.show_all a:hover {background:none; text-decoration:none;}